Repository fastapi/fastapi, pull requests merged in 2020-06, with the labels that each got.

#1323 Translate doc first steps to Chinese
  docs/zh/docs/tutorial/first-steps.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1453 Add Chinese translation for path-params.md
  docs/zh/docs/tutorial/path-params.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1460 Add Chinese translation for contributing.md
  docs/zh/docs/contributing.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1454 Add Chinese translation for query-params.md
  docs/zh/docs/tutorial/query-params.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1465 Add Chinese translation for help-fastapi.md
  docs/zh/docs/help-fastapi.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1492 Add Chinese translation for body.md
  docs/zh/docs/tutorial/body.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1500 Add Chinese translation for query-params-str-validations.md
  docs/zh/docs/tutorial/query-params-str-validations.md
  docs/zh/mkdocs.yml
Labels: lang, lang-zh

#1638 ✨ Add GitHub action to label approved PRs
  .github/workflows/pr-approvals.yml
Labels: awaiting review

#1506 Add Chinese translation for path-params-numeric-validations.md
  docs/zh/docs/tutorial/path-params-numeric-validations.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang, lang-zh

#1532 Add Chinese translation for body-multiple-params.md
  docs/zh/docs/tutorial/body-multiple-params.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang, lang-zh

#1564 Update Chinese translation for index.md
  docs/zh/docs/index.md
Labels: approved-2, lang, lang-zh

#1569 Add Chinese translation for body-fields.md
  docs/zh/docs/tutorial/body-fields.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang, lang-zh
