Repository fastapi/fastapi, pull requests merged in 2020-10, with the labels that each got.

#1374 🌐 Add Portuguese translation of Deployment
  docs/pt/docs/deployment.md
Labels: approved-2, lang-all, lang-pt

#2184 👷 Upgrade GitHub Action Latest Changes
  .github/workflows/latest-changes.yml
Labels: hacktoberfest-accepted

#1625 🌐 Add Japanese translation for Features
  docs/ja/docs/features.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2185 🔧 Update GitHub Action Label Approved, run at 12:00
  .github/workflows/label-approved.yml
Labels: hacktoberfest-accepted

#1602 🌐 Add translation to Portuguese for Project Generation
  docs/pt/docs/project-generation.md
Labels: approved-2, lang-all, lang-pt

#1656 🌐 Add Japanese translation for tutorial/index.md
  docs/ja/docs/tutorial/index.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1658 Add Japanese translation for tutorial/first-steps.md
  docs/ja/docs/tutorial/first-steps.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1671 🌐 Add Japanese translation for tutorial/path-params.md
  docs/ja/docs/tutorial/path-params.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1674 🌐 Add Japanese translation for Tutorial - Query Params
  docs/ja/docs/tutorial/query-params.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1683 🌐 Add Japanese translation for Tutorial - Body
  docs/ja/docs/tutorial/body.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1692 🌐 Add Japanese translation for Help FastAPI
  docs/ja/docs/help-fastapi.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1796 🌐 Add Portuguese translation for Python Types
  docs/pt/docs/python-types.md
Labels: approved-2, lang-all, lang-pt

#1861 🌐 Add Portuguese translation for Tutorial - First Steps
  docs/pt/docs/tutorial/first-steps.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#1935 🌐 Add Japanese translation for Tutorial - Header Parameters
  docs/ja/docs/tutorial/header-params.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1992 🌐 Add Japanese translation for Benchmarks
  docs/ja/docs/benchmarks.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2002 🌐 Add Japanese translation for History Design and Future
  docs/ja/docs/history-design-future.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2020 ✏ Fix typo in Spanish tutorial index
  docs/es/docs/tutorial/index.md
Labels: approved-2, lang-all, lang-es

#2043 🌐 Add Japanese translation for Alternatives
  docs/ja/docs/alternatives.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2050 🌐 Add Japanese translation for Project Generation
  docs/ja/docs/project-generation.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2067 🌐 Add Japanese translation for Contributing
  docs/ja/docs/contributing.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2125 🌐 Add Japanese translation for Tutorial - CORS
  docs/ja/docs/tutorial/cors.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#1443 🌐 Add Portuguese translation for External Links
  docs/pt/docs/external-links.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#2245 ✏️ Fix uppercase in Tutorial - Query parameters
  docs/en/docs/tutorial/query-params.md
Labels: hacktoberfest-accepted
