Repository fastapi/fastapi, pull requests merged in 2020-12, with the labels that each got.

#2145 🌐 Add Japanese translation for Advanced User Guide - Additional Status Codes
  docs/ja/docs/advanced/additional-status-codes.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2192 🌐 Add Korean translation for Index
  docs/ko/docs/index.md
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ko

#2411 🌐 Add Chinese translation for Tutorial - Schema Extra Example
  docs/zh/docs/tutorial/schema-extra-example.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2414 🌐 Add Chinese translation for Tutorial - Response Model
  docs/zh/docs/tutorial/response-model.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2416 🌐 Add Chinese translation for Tutorial - Extra Models
  docs/zh/docs/tutorial/extra-models.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2442 🌐 Add Chinese translation for Tutorial - Response Status Code
  docs/zh/docs/tutorial/response-status-code.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh
