Repository fastapi/fastapi, pull requests merged in 2020-11, with the labels that each got.

#1901 🌐 Add Japanese translation for Tutorial - Query Parameters and String Validations
  docs/ja/docs/tutorial/query-params-str-validations.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2122 ✏ Fix minor typos in docs
  docs/en/docs/tutorial/cors.md
  docs/en/docs/tutorial/testing.md
Labels: hacktoberfest-accepted

#2153 📝 Add Japanese translation for Tutorial - Security - First Steps
  docs/ja/docs/tutorial/security/first-steps.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2135 📝 Fix renamed parameter `content_type` typo
  docs/en/docs/advanced/custom-response.md
Labels: hacktoberfest-accepted

#2158 📝 Fix code consistency in examples for Tutorial - User Guide - Path Parameters
  docs/en/docs/img/tutorial/path-params/image03.png
  docs_src/path_params/tutorial005.py
  tests/test_tutorial/test_path_params/test_tutorial005.py
Labels: hacktoberfest-accepted

#2159 ✏ Fix typos and add rewording in docs
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/path-params-numeric-validations.md
  docs/en/docs/tutorial/query-params-str-validations.md
Labels: hacktoberfest-accepted

#2165 📝 Update/fix links in docs to use HTTPS
  README.md
  docs/en/data/external_links.yml
  docs/en/docs/advanced/sql-databases-peewee.md
  docs/en/docs/alternatives.md
  docs/en/docs/async.md
  docs/en/docs/features.md
  docs/en/docs/index.md
  docs/en/docs/project-generation.md
  docs/en/docs/tutorial/background-tasks.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
  docs/es/docs/async.md
  docs/es/docs/features.md
  docs/es/docs/index.md
  docs/fr/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/pt/docs/alternatives.md
  docs/pt/docs/features.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/zh/docs/features.md
  docs/zh/docs/index.md
  docs/zh/docs/tutorial/body.md
Labels: hacktoberfest-accepted

#2179 ✏ Fix typo in docs
  docs/en/docs/tutorial/request-files.md
Labels: hacktoberfest-accepted

#2204 ✏ Fix capitalizaiton typo in docs
  docs/en/docs/tutorial/bigger-applications.md
Labels: hacktoberfest-accepted

#2191 🌐 Add Japanese translation for Advanced Tutorial - Response Directly
  docs/ja/docs/advanced/response-directly.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2231 ✏️ Fix typo in Tutorial - Path Parameters
  docs/en/docs/tutorial/path-params.md
Labels: hacktoberfest-accepted

#1445 🌐 Add Chinese translation for Advanced User Guide - Intro
  docs/zh/docs/advanced/index.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#1447 🌐 Add Chinese translation for Advanced - Path Operation Advanced Configuration
  docs/zh/docs/advanced/path-operation-advanced-configuration.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#1451 🌐 Add Chinese translation for Advanced - Additional Status Codes
  docs/zh/docs/advanced/additional-status-codes.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#1452 🌐 Add Chinese translation for Advanced - Return a Response Directly
  docs/zh/docs/advanced/response-directly.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#1459 🌐 Add Chinese translation for Advanced - Custom Response
  docs/zh/docs/advanced/custom-response.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#1609 🌐 Add Chinese translation for Tutorial - Body - Nested Models
  docs/zh/docs/tutorial/body-nested-models.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2119 🌐 Add Chinese translation for Benchmarks
  docs/zh/docs/benchmarks.md
  docs/zh/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-zh

#2193 🌐 Add Japanese translation for Advanced - Custom Response
  docs/ja/docs/advanced/custom-response.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja
