Repository fastapi/fastapi, pull requests merged in 2021-07, with the labels that each got.

#1364 🌐 Add Portuguese translation for Development Contributing
  docs/pt/docs/contributing.md
Labels: approved-2, lang-all, lang-pt

#2573 🌐 Fix Chinese translation code snippet mismatch in Tutorial - Python Types Intro
  docs/zh/docs/python-types.md
Labels: approved-2, lang-all, lang-zh

#3020 🌐 Add French translation for Alternatives, Inspiration and Comparisons
  docs/fr/docs/alternatives.md
  docs/fr/mkdocs.yml
Labels: approved-2, lang-all, lang-fr

#3103 🌐 Add French translation for External Links
  docs/fr/docs/external-links.md
  docs/fr/mkdocs.yml
Labels: approved-2, lang-all, lang-fr

#3185 🌐 Add French translation for Python Types Intro
  docs/fr/docs/python-types.md
  docs/fr/mkdocs.yml
Labels: approved-2, lang-all, lang-fr

#3197 🌐 Add French translation for Project Generation
  docs/fr/docs/project-generation.md
  docs/fr/mkdocs.yml
Labels: approved-2, lang-all, lang-fr

#3112 🌐 Add Chinese translation for FastAPI People
  docs/zh/docs/fastapi-people.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3237 🌐 Add Chinese translation for Tutorial - Body - Updates
  docs/zh/docs/tutorial/body-updates.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3248 🌐 Add Chinese translation for Tutorial - Form - Data
  docs/zh/docs/tutorial/request-forms.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3299 🌐 Add Chinese translation for Tutorial - Handling - Errors
  docs/zh/docs/tutorial/handling-errors.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3249 🌐 Add Chinese translation for Tutorial - Request - Forms - and - Files
  docs/zh/docs/tutorial/request-forms-and-files.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3420 🌐 Portuguese translation of Tutorial - Body - Fields
  docs/pt/docs/tutorial/body-fields.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#2208 🌐 Add Spanish translation of Tutorial - First Steps
  docs/es/docs/tutorial/first-steps.md
  docs/es/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-es

#2219 🌐 Add Spanish translation of Tutorial - Path Parameters
  docs/es/docs/tutorial/path-params.md
  docs/es/mkdocs.yml
Labels: hacktoberfest-accepted, lang-all, lang-es

#1251 🌐 Add Spanish translation for `advanced/path-operation-advanced-configuration.md`
  docs/es/docs/advanced/path-operation-advanced-configuration.md
Labels: awaiting review, lang-all, lang-es

#1252 🌐 Add Spanish translation for `advanced/additional-status-codes.md`
  docs/es/docs/advanced/additional-status-codes.md
Labels: awaiting review, lang-all, lang-es

#1253 🌐 Add Spanish translation for `advanced/response-directly.md`
  docs/es/docs/advanced/response-directly.md
Labels: awaiting review, lang-all, lang-es

#2243 🌐 Add Spanish translation for `tutorial/query-params.md`
  docs/es/docs/tutorial/query-params.md
  docs/es/mkdocs.yml
Labels: awaiting review, hacktoberfest-accepted, lang-all, lang-es

#3337 🌐 Add Portuguese translation for `docs/deployment/index.md`
  docs/pt/docs/deployment/index.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#3507 🌐 Add Portuguese translation for `docs/tutorial/security/index.md`
  docs/pt/docs/tutorial/security/index.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#3526 🌐 Add Japanese translation for `docs/tutorial/security/oauth2-jwt.md`
  docs/ja/docs/tutorial/security/oauth2-jwt.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#3618 🌐 Add Portuguese translation for `docs/deployment/versions.md`
  docs/pt/docs/deployment/versions.md
  docs/pt/mkdocs.yml
Labels: approved-2, lang-all, lang-pt

#3493 🌐 Add Chinese translation for `docs/tutorial/dependencies/global-dependencies.md`
  docs/zh/docs/tutorial/dependencies/global-dependencies.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3036 🌐 Add Russian translation for `docs/external-links.md`
  docs/ru/docs/external-links.md
Labels: approved-2, lang-all, lang-ru

#3489 🌐 Add Chinese translation for `docs/tutorial/dependencies/index.md`
  docs/zh/docs/tutorial/dependencies/index.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#3039 🌐 Add Russian translation for `docs/python-types.md`
  docs/ru/docs/python-types.md
Labels: approved-2, lang-all, lang-ru
