Repository fastapi/fastapi, pull requests merged in 2021-05, with the labels that each got.

#2157 🌐 Add French translation for Features
  docs/fr/docs/features.md
  docs/fr/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-fr

#2355 🌐 Add Korean translation for Tutorial - Path Parameters
  docs/ko/docs/tutorial/path-params.md
  docs/ko/mkdocs.yml
Labels: approved-2, lang-all, lang-ko

#2232 🌐 Add French translation for FastAPI People
  docs/fr/docs/fastapi-people.md
  docs/fr/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-fr

#2390 🌐 Add Korean translation for Tutorial - Query Parameters
  docs/ko/docs/tutorial/query-params.md
  docs/ko/mkdocs.yml
Labels: approved-2, lang-all, lang-ko

#3159 🌐 Fix Korean translation for docs/ko/docs/index.md
  docs/ko/docs/index.md
Labels: lang-all, lang-ko

#3098 🌐 Add French translation for Tutorial - Background Tasks
  docs/fr/docs/tutorial/background-tasks.md
  docs/fr/mkdocs.yml
Labels: approved-2, lang-all, lang-fr

#3051 🌐 Fix Chinese translation of Tutorial - Query Parameters, remove obsolete content
  docs/zh/docs/tutorial/query-params.md
Labels: lang-all, lang-zh

#2172 📝 Add external link to blog post "Authenticate Your FastAPI App with Auth0"
  docs/en/data/external_links.yml
Labels: hacktoberfest-accepted
