Repository fastapi/fastapi, pull requests merged in 2021-10, with the labels that each got.

#3754 🌐 Add Portuguese translation for `docs/deployment/https.md`
  docs/pt/docs/deployment/https.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#3840 🌐 Delete old Chinese translation for `docs/deployment.md`
  docs/zh/docs/deployment.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh

#3664 🌐 Add Portuguese translation for `docs/tutorial/path-params.md`
  docs/pt/docs/tutorial/path-params.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#3671 🌐 Add French translation for `docs/tutorial/body.md`
  docs/fr/docs/tutorial/body.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#1908 🌐 Add Turkish translation for `docs/index.md`
  docs/tr/docs/index.md
Labels: lang-all, approved-2, lang-tr

#2729 🌐 Add Turkish translation for `docs/benchmarks.md`
  docs/tr/docs/benchmarks.md
Labels: lang-all, approved-2, lang-tr

#1950 🌐 Add Turkish translation for `docs/features.md`
  docs/tr/docs/features.md
  docs/tr/mkdocs.yml
Labels: lang-all, approved-2, lang-tr

#3848 🌐 Add Turkish translation for `docs/fastapi-people.md`
  docs/tr/docs/fastapi-people.md
  docs/tr/mkdocs.yml
Labels: lang-all, approved-2, lang-tr
