Repository fastapi/fastapi, pull requests merged in 2021-08, with the labels that each got.

#3416 🌐 Add French translation for `docs/async.md`
  docs/fr/docs/async.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#1330 🌐 Portuguese translation of `docs/async.md`
  docs/pt/docs/async.md
Labels: lang-all, lang-pt, approved-2

#3460 🌐 Add Portuguese translation for `docs/advanced/index.md`
  docs/pt/docs/advanced/index.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#3491 🌐 Add Chinese translation for `docs/tutorial/dependencies/sub-dependencies.md`
  docs/zh/docs/tutorial/dependencies/sub-dependencies.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#3492 🌐 Add Chinese translation for `docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/zh/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#3461 🌐 Add Portuguese translation of `docs/fastapi-people.md`
  docs/en/docs/fastapi-people.md
  docs/pt/docs/fastapi-people.md
  docs/pt/docs/index.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2
