Repository fastapi/fastapi, pull requests merged in 2021-02, with the labels that each got.

#2058 🌐 Add Japanese translation for Concurrency and async / await
  docs/ja/docs/async.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2255 🌐 Add Japanese translation for Tutorial - Middleware
  docs/ja/docs/tutorial/middleware.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2256 🌐 Add Japanese translation for Tutorial - Debugging
  docs/ja/docs/tutorial/debugging.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2259 🌐 Add Japanese translation for Tutorial - Testing
  docs/ja/docs/tutorial/testing.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2260 🌐 Add Japanese translation for Tutorial - Static files
  docs/ja/docs/tutorial/static-files.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2261 🌐 Add Chinese translation for Tutorial - Cookie Parameters
  docs/zh/docs/tutorial/cookie-params.md
  docs/zh/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-zh

#2310 🌐 Add Japanese translation for Deployment - Versions
  docs/ja/docs/deployment/versions.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2312 🌐 Add Japanese translation for Deployment - Docker
  docs/ja/docs/deployment/docker.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2410 🌐 Add Chinese translation for Tutorial - Extra Data Types
  docs/zh/docs/tutorial/extra-data-types.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2412 🌐 Add Chinese translation for Tutorial - Header Parameters
  docs/zh/docs/tutorial/header-params.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2443 🌐 Add Chinese translation for Tutorial - Security - Security Intro
  docs/zh/docs/tutorial/security/index.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2453 🌐 Add Chinese translation for Tutorial - Bigger Applications - Multiple Files
  docs/zh/docs/tutorial/bigger-applications.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh
