Repository fastapi/fastapi, pull requests merged in 2021-01, with the labels that each got.

#1933 🌐 Add Japanese translation for Tutorial - Cookie Parameters
  docs/ja/docs/tutorial/cookie-params.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1943 🌐 Add Japanese translation for Tutorial - Form Data
  docs/ja/docs/tutorial/request-forms.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#1956 🌐 Add Japanese translation for Tutorial - Body - Updates
  docs/ja/docs/tutorial/body-updates.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2070 🌐 Add Japanese translation for External Links
  docs/ja/docs/external-links.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2124 🌐 Add Japanese translation for Advanced - Path Operation Advanced Configuration
  docs/ja/docs/advanced/path-operation-advanced-configuration.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2254 🌐 Add Japanese translation for FastAPI People
  docs/ja/docs/fastapi-people.md
  docs/ja/mkdocs.yml
Labels: approved-2, hacktoberfest-accepted, lang-all, lang-ja

#2309 🌐 Add Japanese translation for Deployment - Intro
  docs/ja/docs/deployment/index.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2313 🌐 Add Japanese translation for Deployment - Manually
  docs/ja/docs/deployment/manually.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2474 🌐 Add Chinese translation for Tutorial - Security - Get Current User
  docs/zh/docs/tutorial/security/get-current-user.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh

#2314 🌐 Add Japanese translation for Deployment - Deta
  docs/ja/docs/deployment/deta.md
  docs/ja/mkdocs.yml
Labels: approved-2, lang-all, lang-ja

#2514 🌐 Add Chinese translation for Tutorial - Security - Simple OAuth2 with Password and Bearer
  docs/zh/docs/tutorial/security/simple-oauth2.md
  docs/zh/mkdocs.yml
Labels: approved-2, lang-all, lang-zh
