Repository fastapi/fastapi, pull requests merged in 2022-09, with the labels that each got.

#5242 🌐 Fix MkDocs file line for Portuguese translation of `background-task.md`
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt

#4969 🌐 Add Chinese translation for `docs/zh/docs/tutorial/encoder.md`
  docs/zh/docs/tutorial/encoder.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#4529 🌐 Update Chinese translation for `docs/zh/docs/tutorial/request-files.md`
  docs/zh/docs/tutorial/request-files.md
Labels: lang-all, lang-zh, approved-2

#5315 🌐 Add Russian translation for `docs/ru/docs/features.md`
  docs/ru/docs/features.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2
