Repository fastapi/fastapi, pull requests merged in 2022-01, with the labels that each got.

#3312 🌐 Add Chinese translation for `docs\tutorial\path-operation-configuration.md`
  docs/zh/docs/tutorial/path-operation-configuration.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#4245 🌐 Add Polish translation for `docs/pl/docs/index.md`
  docs/pl/docs/index.md
Labels: lang-all, approved-2, lang-pl

#4195 🌐 Fix Korean translation for `docs/ko/docs/index.md`
  docs/ko/docs/index.md
Labels: lang-all, approved-2, lang-ko

#3847 🌐 Update Chinese translation for `docs/help-fastapi.md`
  docs/zh/docs/help-fastapi.md
Labels: lang-all, lang-zh, approved-2
