Repository fastapi/fastapi, pull requests merged in 2022-11, with the labels that each got.

#3846 🌐 Update Chinese translation for `docs/tutorial/security/oauth2-jwt.md`
  docs/zh/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, lang-zh, approved-2

#5336 🌐 Add Russian translation for `docs/ru/docs/deployment/index.md`
  docs/ru/docs/deployment/index.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#2969 🌐 Fix highlight lines for Japanese translation for `docs/tutorial/query-params.md`
  docs/ja/docs/tutorial/query-params.md
Labels: lang-all, lang-ja, approved-2

#4983 🌐 Add Japanese translation for `docs/ja/docs/advanced/websockets.md`
  docs/ja/docs/advanced/websockets.md
  docs/ja/mkdocs.yml
Labels: lang-all, lang-ja, approved-2

#5579 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/request-forms-and-files.md`
  docs/pt/docs/tutorial/request-forms-and-files.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#5477 🌐 Add French translation for `docs/fr/docs/advanced/additional-status-code.md`
  docs/fr/docs/advanced/additional-responses.md
  docs/fr/docs/advanced/additional-status-codes.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#5471 ⬆ Upgrade Starlette to `0.21.0`, including the new [`TestClient` based on HTTPX](https://github.com/encode/starlette/releases/tag/0.21.0)
  fastapi/security/api_key.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
  fastapi/security/utils.py
  pyproject.toml
  tests/test_enforce_once_required_parameter.py
  tests/test_extra_routes.py
  tests/test_get_request_body.py
  tests/test_param_include_in_schema.py
  tests/test_security_api_key_cookie.py
  tests/test_security_api_key_cookie_description.py
  tests/test_security_api_key_cookie_optional.py
  tests/test_tuples.py
  tests/test_tutorial/test_advanced_middleware/test_tutorial001.py
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_body/test_tutorial001_py310.py
  tests/test_tutorial/test_cookie_params/test_tutorial001.py
  tests/test_tutorial/test_cookie_params/test_tutorial001_py310.py
  tests/test_tutorial/test_custom_request_and_route/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial006.py
  tests/test_tutorial/test_custom_response/test_tutorial006b.py
  tests/test_tutorial/test_custom_response/test_tutorial006c.py
  tests/test_tutorial/test_path_operation_advanced_configurations/test_tutorial006.py
  tests/test_tutorial/test_path_operation_advanced_configurations/test_tutorial007.py
  tests/test_tutorial/test_websockets/test_tutorial002.py
Labels: hacktoberfest-accepted, investigate

#5663 🌐 Add Portuguese translation for `docs/pt/docs/deployment/docker.md`
  docs/pt/docs/deployment/docker.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2
