Repository fastapi/fastapi, pull requests merged in 2022-05, with the labels that each got.

#3905 🌐 Update German translation for `docs/features.md`
  docs/de/docs/features.md
Labels: lang-all, approved-2, lang-de

#4077 🌐 Add Portuguese translation of `tutorial/extra-data-types.md`
  docs/pt/docs/tutorial/extra-data-types.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2, hacktoberfest-accepted

#3960 🌐 Add Portuguese translation for `docs/tutorial/body.md`
  docs/pt/docs/tutorial/body.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#4442 🌐 Add Portuguese translation for `docs/deployment/deta.md`
  docs/pt/docs/deployment/deta.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#2170 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/background-tasks.md`
  docs/pt/docs/tutorial/background-tasks.md
Labels: lang-all, lang-pt, approved-2, hacktoberfest-accepted

#3062 🌐 Fix Japanese translation of `docs/ja/docs/tutorial/body.md`
  docs/ja/docs/tutorial/body.md
Labels: lang-all, lang-ja, approved-2

#2631 🌐 Add Japanese translation for `docs/ja/docs/advanced/conditional-openapi.md`
  docs/ja/docs/advanced/conditional-openapi.md
  docs/ja/mkdocs.yml
Labels: lang-all, lang-ja, approved-2

#4332 🌐 Fix French translation for `docs/tutorial/body.md`
  docs/fr/docs/tutorial/body.md
Labels: lang-all, approved-2, lang-fr

#4112 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/cookie-params.md`
  docs/pt/docs/tutorial/cookie-params.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#4722 ✏ 🌐 Fix typo in Portuguese translation for `docs/pt/docs/tutorial/path-params.md`
  docs/pt/docs/tutorial/path-params.md
Labels: lang-all, lang-pt

#4583 🌐 Add Portuguese translation for `docs/pt/docs/help-fastapi.md`
  docs/pt/docs/help-fastapi.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#4516 🌐 Add Polish translation for `docs/pl/docs/tutorial/index.md`
  docs/pl/docs/tutorial/index.md
  docs/pl/mkdocs.yml
Labels: lang-all, approved-2, lang-pl

#4623 🌐 Fix code examples in Japanese translation for `docs/ja/docs/tutorial/testing.md`
  docs/ja/docs/tutorial/testing.md
Labels: lang-all, lang-ja
