Repository fastapi/fastapi, pull requests merged in 2022-08, with the labels that each got.

#4705 🌐 Add Indonesian translation for `docs/id/docs/tutorial/index.md`
  docs/id/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-id

#4205 🌐 Add Japanese translation for `docs/ja/docs/advanced/nosql-databases.md`
  docs/ja/docs/advanced/nosql-databases.md
  docs/ja/mkdocs.yml
Labels: lang-all, lang-ja, approved-2

#3841 🌐 Add Chinese translation for `docs/tutorial/security/first-steps.md`
  docs/zh/docs/tutorial/security/first-steps.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#4854 🌐 Add Russian translation for `docs/ru/docs/tutorial/background-tasks.md`
  docs/ru/docs/tutorial/background-tasks.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#3451 🌐 Add French translation for `docs/fr/docs/history-design-future.md`
  docs/fr/docs/history-design-future.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#4769 🌐 Add Portuguese translation for `tutorial/handling-errors.md`
  docs/pt/docs/tutorial/handling-errors.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#3689 🌐 Add French translation for `docs/fr/docs/deployment/index.md`
  docs/fr/docs/deployment/index.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#4638 🌐 Add translation for `docs/zh/docs/advanced/response-cookies.md`
  docs/zh/docs/advanced/response-cookies.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#4954 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/security/first-steps.md`
  docs/pt/docs/tutorial/security/first-steps.md
Labels: lang-all, lang-pt, approved-2

#4775 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/query-params.md`
  docs/pt/docs/tutorial/query-params.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#2126 📝 Add misc dependency installs to tutorial docs
  docs/en/docs/advanced/websockets.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
Labels: hacktoberfest-accepted

#5238 🌐 Add missing navigator for `encoder.md` in Korean translation
  docs/ko/mkdocs.yml
Labels: lang-all, lang-ko

#4533 🌐 Fix typos in German translation for `docs/de/docs/features.md`
  docs/de/docs/features.md
Labels: lang-all, approved-2, lang-de

#4057 ✨ Preserve `json.JSONDecodeError` information when handling invalid JSON in request body, to support custom exception handlers that use its information
  fastapi/routing.py
Labels: hacktoberfest-accepted

#4921 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/header-params.md`
  docs/pt/docs/tutorial/header-params.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#4985 🌐 Add Russian translation for `docs/ru/docs/deployment/versions.md`
  docs/ru/docs/deployment/versions.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5289 🌐 Add Russian translation for `docs/ru/docs/index.md`
  README.md
  docs/en/docs/index.md
  docs/ru/docs/index.md
Labels: lang-all, lang-ru, approved-2
