Repository fastapi/fastapi, pull requests merged in 2022-10, with the labels that each got.

#5547 🐛 Fix internal Trio test warnings
  pyproject.toml
Labels: hacktoberfest-accepted

#5563 🔧 Add config for Tamil translations
  .github/actions/notify-translations/app/translations.yml
Labels: hacktoberfest-accepted

#4922 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/response-status-code.md`
  docs/pt/docs/tutorial/response-status-code.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#5545 📝 Fix typo in docs with examples for Python 3.10 instead of 3.9
  docs/en/docs/tutorial/request-files.md
Labels: hacktoberfest-accepted

#5530 🌐 Fix typo in Chinese translation for `docs/zh/docs/tutorial/security/first-steps.md`
  docs/zh/docs/tutorial/security/first-steps.md
Labels: lang-all, lang-zh, hacktoberfest-accepted

#5523 ✏ Fix typo in docs about contributing, for compatibility with `pip` in Zsh
  docs/en/docs/contributing.md
  docs/ja/docs/contributing.md
  docs/pt/docs/contributing.md
  docs/zh/docs/contributing.md
Labels: hacktoberfest-accepted

#5455 ✏ Fix broken link in `alternatives.md`
  docs/en/docs/alternatives.md
Labels: hacktoberfest-accepted

#2233 🌐 Add French translation for `docs/fr/docs/help-fastapi.md`
  docs/fr/docs/help-fastapi.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr, hacktoberfest-accepted

#3690 🌐 Add French translation for `deployment/versions.md`
  docs/fr/docs/deployment/versions.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#4099 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/path-params-numeric-validations.md`
  docs/pt/docs/tutorial/path-params-numeric-validations.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#4111 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/body-multiple-params.md`
  docs/pt/docs/tutorial/body-multiple-params.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#3691 🌐 Add French translation for `deployment/https.md`
  docs/fr/docs/deployment/https.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#4999 🌐 Add Chinese translation for `docs/zh/docs/tutorial/sql-databases.md`
  docs/zh/docs/tutorial/sql-databases.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#5255 🌐 Update Chinese translation for `docs/zh/docs/tutorial/query-params-str-validations.md`
  docs/zh/docs/tutorial/query-params-str-validations.md
Labels: lang-all, lang-zh, approved-2

#3692 🌐 Add French translation for `deployment/deta.md`
  docs/fr/docs/deployment/deta.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#4971 🌐 Add Chinese translation for `docs/zh/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/zh/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2
