Repository fastapi/fastapi, pull requests merged in 2023-12, with the labels that each got.

#10760 🔧 Update sponsors, add PropelAuth
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/propelauth-banner.png
  docs/en/docs/img/sponsors/propelauth.png
  docs/en/overrides/main.html
Labels: internal

#10773 ✨ Add support for multiple Annotated annotations, e.g. `Annotated[str, Field(), Query()]`
  .github/workflows/test.yml
  fastapi/_compat.py
  fastapi/dependencies/utils.py
  tests/test_ambiguous_params.py
  tests/test_annotated.py
Labels: feature

#10831 ✨ Add support for raising exceptions (including `HTTPException`) in dependencies with `yield` in the exit code, do not support them in background tasks
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
  docs_src/dependencies/tutorial008b.py
  docs_src/dependencies/tutorial008b_an.py
  docs_src/dependencies/tutorial008b_an_py39.py
  fastapi/applications.py
  fastapi/concurrency.py
  fastapi/dependencies/utils.py
  fastapi/middleware/asyncexitstack.py
  fastapi/routing.py
  pyproject.toml
  tests/test_dependency_contextmanager.py
  tests/test_tutorial/test_dependencies/test_tutorial008b.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an_py39.py
Labels: feature

#10844 📝 Restructure Docs section in Contributing page
  docs/en/docs/contributing.md
Labels: docs

#10845 📝 Add docs: Node.js script alternative to update OpenAPI for generated clients
  docs/en/docs/advanced/generate-clients.md
  docs_src/generate_clients/tutorial004.js
Labels: docs

#9636 ⬆️ Upgrade Starlette to 0.28.0
  pyproject.toml
Labels: upgrade

#10846 ⬆️ Upgrade Starlette to `>=0.29.0,<0.33.0`, update docs and usage of templates with new Starlette arguments
  docs/em/docs/advanced/templates.md
  docs/en/docs/advanced/templates.md
  docs_src/templates/tutorial001.py
  pyproject.toml
Labels: upgrade

#10847 ✏️ Fix typo in dependencies with yield source examples
  docs_src/dependencies/tutorial008b.py
  docs_src/dependencies/tutorial008b_an.py
  docs_src/dependencies/tutorial008b_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008b.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an_py39.py
Labels: docs
