Repository fastapi/fastapi, pull requests merged in 2023-09, with the labels that each got.

#9883 🌐 Add Chinese translation for `docs/zh/docs/advanced/generate-clients.md`
  docs/zh/docs/advanced/generate-clients.md
Labels: lang-all, lang-zh, approved-2

#10079 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/index.md`
  docs/uk/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-uk

#10060 🌐 Add Ukrainian translation for `docs/uk/docs/alternatives.md`
  docs/uk/docs/alternatives.md
Labels: lang-all, approved-2, lang-uk

#10088 🌐 Add Vietnamese translations for `docs/vi/docs/tutorial/first-steps.md` and `docs/vi/docs/tutorial/index.md`
  docs/vi/docs/tutorial/first-steps.md
  docs/vi/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-vi

#10080 🌐 Add Ukrainian translation for `docs/uk/docs/python-types.md`
  docs/uk/docs/python-types.md
Labels: lang-all, approved-2, lang-uk

#10033 🌐 Add Yoruba translation for `docs/yo/docs/index.md`
  docs/en/mkdocs.yml
  docs/yo/docs/index.md
  docs/yo/mkdocs.yml
Labels: lang-all, approved-2, lang-yo

#10126 🌐 Remove duplicate line in translation for `docs/pt/docs/tutorial/path-params.md`
  docs/pt/docs/tutorial/path-params.md
Labels: lang-all, lang-pt

#10276 🌐 Add Chinese translation for `docs/zh/docs/deployment/versions.md`
  docs/zh/docs/deployment/versions.md
Labels: lang-all, lang-zh, approved-2

#10226 🌐 Add Russian translation for `docs/ru/docs/tutorial/header-params.md`
  docs/ru/docs/tutorial/header-params.md
Labels: lang-all, lang-ru, approved-2

#10121 🌐 Add Polish translation for `docs/pl/docs/help-fastapi.md`
  docs/pl/docs/help-fastapi.md
Labels: lang-all, approved-2, lang-pl

#10224 🌐 Fix typo in Russian translation for `docs/ru/docs/tutorial/body-fields.md`
  docs/ru/docs/tutorial/body-fields.md
Labels: lang-all, lang-ru, approved-2

#10298 🌐 Add Japanese translation for `docs/ja/docs/deployment/https.md`
  docs/ja/docs/deployment/https.md
Labels: lang-all, lang-ja, approved-2

#10191 🌐 Add Korean translation for `docs/ko/docs/deployment/cloud.md`
  docs/ko/docs/deployment/cloud.md
Labels: lang-all, approved-2, lang-ko

#3844 🌐 Update Chinese translation for `docs/tutorial/security/simple-oauth2.md`
  docs/zh/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, lang-zh, approved-2

#5591 🌐 Add Chinese translation for `docs/zh/docs/async.md`
  docs/zh/docs/async.md
Labels: lang-all, lang-zh, approved-2

#10154 🌐 Fix typos in French translations for `docs/fr/docs/advanced/path-operation-advanced-configuration.md`, `docs/fr/docs/alternatives.md`, `docs/fr/docs/async.md`, `docs/fr/docs/features.md`, `docs/fr/docs/help-fastapi.md`, `docs/fr/docs/index.md`, `docs/fr/docs/python-types.md`, `docs/fr/docs/tutorial/body.md`, `docs/fr/docs/tutorial/first-steps.md`, `docs/fr/docs/tutorial/query-params.md`
  docs/fr/docs/advanced/path-operation-advanced-configuration.md
  docs/fr/docs/alternatives.md
  docs/fr/docs/async.md
  docs/fr/docs/features.md
  docs/fr/docs/help-fastapi.md
  docs/fr/docs/index.md
  docs/fr/docs/python-types.md
  docs/fr/docs/tutorial/body.md
  docs/fr/docs/tutorial/first-steps.md
  docs/fr/docs/tutorial/query-params.md
Labels: lang-all, approved-2, lang-fr

#10132 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/extra-data-types.md`
  docs/uk/docs/tutorial/encoder.md
  docs/uk/docs/tutorial/extra-data-types.md
Labels: lang-all, approved-2, lang-uk
