Repository fastapi/fastapi, pull requests merged in 2023-07, with the labels that each got.

#9485 🌐 Update Chinese translation for `docs/zh/docs/tutorial/handling-errors.md`
  docs/zh/docs/tutorial/handling-errors.md
Labels: lang-all, lang-zh, approved-2

#9841 🌐 Add Russian translation for `docs/tutorial/request-forms.md`
  docs/ru/docs/tutorial/request-forms.md
Labels: lang-all, lang-ru, approved-2

#9738 🌐 Update Chinese translations with new source files
  docs/zh/docs/tutorial/body-fields.md
  docs/zh/docs/tutorial/body-multiple-params.md
  docs/zh/docs/tutorial/body-nested-models.md
  docs/zh/docs/tutorial/body.md
  docs/zh/docs/tutorial/cookie-params.md
  docs/zh/docs/tutorial/extra-data-types.md
  docs/zh/docs/tutorial/extra-models.md
  docs/zh/docs/tutorial/header-params.md
  docs/zh/docs/tutorial/path-params-numeric-validations.md
  docs/zh/docs/tutorial/query-params-str-validations.md
  docs/zh/docs/tutorial/response-model.md
  docs/zh/docs/tutorial/schema-extra-example.md
  docs/zh/docs/tutorial/security/first-steps.md
Labels: lang-all, lang-zh, approved-2

#2155 🌐 Add French translation for `docs/fr/docs/benchmarks.md`
  docs/fr/docs/benchmarks.md
Labels: lang-all, approved-2, lang-fr, hacktoberfest-accepted

#2132 🌐 Add French translation for `docs/fr/docs/contributing.md`
  docs/fr/docs/contributing.md
Labels: lang-all, approved-2, lang-fr, hacktoberfest-accepted

#2234 🌐 Add French translation for `docs/fr/docs/tutorial/index.md`
  docs/fr/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-fr, hacktoberfest-accepted

#4075 🌐 Add French translation for `docs/fr/docs/tutorial/query-params-str-validations.md`
  docs/fr/docs/tutorial/query-params-str-validations.md
Labels: lang-all, approved-2, lang-fr, hacktoberfest-accepted

#9812 🌐 Add Chinese translation for `docs/zh/docs/tutorial/background-tasks.md`
  docs/zh/docs/tutorial/background-tasks.md
Labels: lang-all, lang-zh, approved-2

#4179 🌐 Add Korean translation for `docs/ko/docs/async.md`
  docs/ko/docs/async.md
Labels: lang-all, approved-2, lang-ko

#3006 🌐 Add Vietnamese translation for `docs/vi/docs/features.md` and `docs/vi/docs/index.md`
  docs/vi/docs/features.md
  docs/vi/docs/index.md
  docs/vi/mkdocs.yml
Labels: lang-all, approved-2, lang-vi

#4574 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/body.md`
  docs/uk/docs/tutorial/body.md
Labels: lang-all, approved-2, lang-uk
