Repository fastapi/fastapi, pull requests merged in 2023-02, with the labels that each got.

#5870 🌐 Add Russian translation for `docs/ru/docs/contributing.md`
  docs/ru/docs/contributing.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5525 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/encoder.md`
  docs/pt/docs/tutorial/encoder.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2, hacktoberfest-accepted

#5858 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/static-files.md`
  docs/pt/docs/tutorial/static-files.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#5970 🌐 Add Russian translation for `docs/ru/docs/help-fastapi.md`
  docs/ru/docs/help-fastapi.md
Labels: lang-all, lang-ru

#5898 🌐 Add Russian translation for `docs/ru/docs/tutorial/body-fields.md`
  docs/ru/docs/tutorial/body-fields.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5890 🌐 Add Russian translation for `docs/ru/docs/tutorial/cookie-params.md`
  docs/ru/docs/tutorial/cookie-params.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2
