Repository fastapi/fastapi, pull requests merged in 2023-08, with the labels that each got.

#9974 🌐 Add Urdu translation for `docs/ur/docs/benchmarks.md`
  docs/ur/docs/benchmarks.md
  docs/ur/mkdocs.yml
Labels: lang-all, approved-2, lang-ur

#9970 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/global-dependencies.md`
  docs/ru/docs/tutorial/dependencies/global-dependencies.md
Labels: lang-all, lang-ru, approved-2

#10047 🌐 Add Vietnamese translation for `docs/vi/docs/python-types.md`
  docs/en/mkdocs.yml
  docs/vi/docs/python-types.md
Labels: lang-all, approved-2, lang-vi

#9971 🌐 Add Russian translation for `docs/ru/docs/deployment/docker.md`
  docs/ru/docs/deployment/docker.md
Labels: lang-all, lang-ru, approved-2

#10032 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/cookie-params.md`
  docs/uk/docs/tutorial/cookie-params.md
Labels: lang-all, approved-2, lang-uk

#10073 🌐 Update Japanese translation for `docs/ja/docs/deployment/docker.md`
  docs/ja/docs/deployment/docker.md
Labels: lang-all, lang-ja, approved-2

#10064 🌐 Add Japanese translation for `docs/ja/docs/deployment/server-workers.md`
  docs/ja/docs/deployment/server-workers.md
Labels: lang-all, lang-ja, approved-2

#10062 🌐 Add Japanese translation for `docs/ja/docs/deployment/concepts.md`
  docs/ja/docs/deployment/concepts.md
Labels: lang-all, lang-ja, approved-2
