Repository fastapi/fastapi, pull requests merged in 2023-04, with the labels that each got.

#9267 🌐 Add Russian translation for `docs/ru/docs/tutorial/query-params-str-validations.md`
  docs/ru/docs/tutorial/query-params-str-validations.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9265 🌐 Add French translation for `docs/fr/docs/index.md`
  docs/fr/docs/index.md
Labels: lang-all, approved-2, lang-fr

#9176 🌐 Add Korean translation for `docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/ko/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/ko/mkdocs.yml
Labels: lang-all, approved-2, lang-ko

#6002 🌐 Add Russian translation for `docs/ru/docs/contributing.md`
  docs/ru/docs/contributing.md
  docs/ru/docs/tutorial/extra-data-types.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5936 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/path-operation-configuration.md`
  docs/pt/docs/tutorial/path-operation-configuration.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#5912 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/extra-models.md`
  docs/pt/docs/tutorial/extra-models.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2

#5994 🌐 Add Russian translation for `docs/ru/docs/alternatives.md`
  docs/ru/docs/alternatives.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#4053 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/body-nested-models.md`
  docs/pt/docs/tutorial/body-nested-models.md
  docs/pt/mkdocs.yml
Labels: lang-all, lang-pt, approved-2, hacktoberfest-accepted

#5673 🌐 Add French translation for `docs/fr/docs/advanced/index.md`
  docs/fr/docs/advanced/index.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#6083 ✏ Fix wrong import from typing module in Persian translations for `docs/fa/docs/index.md`
  docs/fa/docs/index.md
Labels: lang-all, lang-fa

#5681 📝 Fix typo in `docs/en/docs/advanced/behind-a-proxy.md`
  docs/en/docs/advanced/behind-a-proxy.md
Labels: docs, investigate

#9337 ✏ Fix typo in Portuguese docs for `docs/pt/docs/index.md`
  docs/pt/docs/index.md
Labels: lang-all, lang-pt, approved-2

#9415 🌐 Add French translation for `docs/fr/docs/advanced/response-directly.md`
  docs/fr/docs/advanced/response-directly.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr
