Repository fastapi/fastapi, pull requests merged in 2023-03, with the labels that each got.

#3693 🌐 Add French translation for `deployment/manually.md`
  docs/fr/docs/deployment/manually.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#9175 🌐 Add French translation for `docs/tutorial/debugging.md`
  docs/fr/docs/tutorial/debugging.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#9221 🌐 Add French translation for `docs/fr/docs/advanced/path-operation-advanced-configuration.md`
  docs/fr/docs/advanced/path-operation-advanced-configuration.md
  docs/fr/mkdocs.yml
Labels: lang-all, approved-2, lang-fr

#2944 ✨ Add support for `lifespan` async context managers (superseding `startup` and `shutdown` events)
  docs/en/docs/advanced/events.md
  docs_src/events/tutorial003.py
  fastapi/applications.py
  fastapi/routing.py
  tests/test_router_events.py
  tests/test_tutorial/test_events/test_tutorial003.py
Labels: enhancement

#9218 📝 Update Sentry link in docs
  docs/en/docs/advanced/middleware.md
Labels: docs

#5986 🌐 Add Russian translation for `docs/ru/docs/history-design-future.md`
  docs/ru/docs/history-design-future.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9245 🎨 Fix types for lifespan, upgrade Starlette to 0.26.1
  fastapi/applications.py
  fastapi/routing.py
  pyproject.toml
Labels: bug
