Repository fastapi/fastapi, pull requests merged in 2023-01, with the labels that each got.

#3764 🌐 Add Korean translation for `docs/tutorial/cors.md`
  docs/ko/docs/tutorial/cors.md
  docs/ko/mkdocs.yml
Labels: lang-all, approved-2, lang-ko

#4269 🌐 Fix typo in Chinese translation for `docs/zh/docs/benchmarks.md`
  docs/zh/docs/benchmarks.md
  docs/zh/docs/index.md
Labels: lang-all, lang-zh, approved-2

#5577 🌐 Add Russian translation for `docs/ru/docs/fastapi-people.md`
  docs/ru/docs/fastapi-people.md
Labels: lang-all, lang-ru, approved-2
