Repository fastapi/fastapi, pull requests merged in 2023-06, with the labels that each got.

#9586 🌐 Add Russian translation for `docs/ru/docs/tutorial/body-multiple-params.md`
  docs/ru/docs/tutorial/body-multiple-params.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9577 🌐 Add Russian translation for `docs/ru/docs/deployment/concepts.md`
  docs/ru/docs/deployment/concepts.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9563 🌐 Add Russian translation for `docs/ru/docs/tutorial/path-params-numeric-validations.md`
  docs/ru/docs/tutorial/path-params-numeric-validations.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9519 🌐 Add Russian translation for `docs/ru/docs/tutorial/path-params.md`
  docs/ru/docs/tutorial/path-params.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9483 🌐 Update Spanish translation including new illustrations in `docs/es/docs/async.md`
  docs/es/docs/async.md
Labels: lang-all, lang-es, approved-2

#9436 🌐 Add Chinese translation for `docs/zh/docs/tutorial/static-files.md`
  docs/zh/docs/tutorial/static-files.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#4645 ⚡ Update `create_cloned_field` to use a global cache and improve startup performance
  fastapi/utils.py
Labels: investigate

#9579 🌐 Add Russian translation for `docs/ru/docs/tutorial/debugging.md`
  docs/ru/docs/tutorial/debugging.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9584 🌐 Add Russian translation for `docs/ru/docs/tutorial/query-params.md`
  docs/ru/docs/tutorial/query-params.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9471 🌐 Add Russian translation for `docs/ru/docs/tutorial/first-steps.md`
  docs/ru/docs/tutorial/first-steps.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9580 🌐 Add Russian translation for `docs/ru/docs/tutorial/static-files.md`
  docs/ru/docs/tutorial/static-files.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#3885 🌐 Add Russian translation for `docs/tutorial/body.md`
  docs/ru/docs/tutorial/body.md
Labels: lang-all, lang-ru, approved-2

#5356 ♻ Instantiate `HTTPException` only when needed, optimization refactor
  fastapi/security/http.py
Labels: investigate

#9621 🌐 Add Russian translation for `docs/ru/docs/tutorial/schema-extra-example.md`
  docs/ru/docs/tutorial/schema-extra-example.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9544 🌐 Add Chinese translations for `docs/zh/docs/advanced/response-change-status-code.md` and `docs/zh/docs/advanced/response-headers.md`
  docs/zh/docs/advanced/response-change-status-code.md
  docs/zh/docs/advanced/response-headers.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#5896 🌐 Add Russian translation for `docs/ru/docs/tutorial/index.md`
  docs/ru/docs/tutorial/index.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5635 🌐 Fix spelling in Indonesian translation of `docs/id/docs/tutorial/index.md`
  docs/id/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-id

#4534 ✨ Add support for `dependencies` in WebSocket routes
  fastapi/applications.py
  fastapi/routing.py
  tests/test_ws_dependencies.py
Labels: investigate

#3432 ✨ Add allow disabling `redirect_slashes` at the FastAPI app level
  fastapi/applications.py
  tests/test_router_redirect_slashes.py
Labels: investigate

#1223 📝 Use in memory database for testing SQL in docs
  docs/en/docs/advanced/testing-database.md
  docs_src/sql_databases/sql_app/tests/test_sql_app.py
Labels: investigate

#4958 ✏️ Fix typos in data for tests
  tests/test_param_include_in_schema.py
  tests/test_schema_extra_examples.py
Labels: investigate

#9605 🌐 Add Russian translation for `docs/ru/docs/tutorial/body-nested-models.md`
  docs/ru/docs/tutorial/body-nested-models.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#5348 🌐 Add Polish translation for `docs/pl/docs/features.md`
  docs/pl/docs/features.md
  docs/pl/mkdocs.yml
Labels: lang-all, approved-2, lang-pl

#9608 🌐 Add Russian translation for `docs/tutorial/cors.md`
  docs/ru/docs/tutorial/cors.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9619 🌐 Add Russian translation for `docs/tutorial/extra-models.md`
  docs/ru/docs/tutorial/extra-models.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9651 🌐 Add Chinese translations for `docs/zh/docs/advanced/websockets.md`
  docs/zh/docs/advanced/websockets.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#9652 🌐 Add Chinese translations for `docs/zh/docs/advanced/settings.md`
  docs/zh/docs/advanced/settings.md
  docs/zh/mkdocs.yml
Labels: lang-all, lang-zh, approved-2

#9696 🌐 Add Russian translation for `docs/tutorial/path-operation-configuration.md`
  docs/ru/docs/tutorial/path-operation-configuration.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9571 🌐 Fix typo in Spanish translation for `docs/es/docs/tutorial/first-steps.md`
  docs/es/docs/tutorial/first-steps.md
Labels: lang-all, lang-es

#9681 🌐 Add Russian translation for `docs/ru/docs/tutorial/metadata.md`
  docs/ru/docs/tutorial/metadata.md
  docs/ru/mkdocs.yml
Labels: lang-all, lang-ru, approved-2

#9692 🌐 Add Persian translation for `docs/fa/docs/advanced/sub-applications.md`
  docs/fa/docs/advanced/sub-applications.md
Labels: lang-all, approved-2, lang-fa
