Repository fastapi/fastapi, pull requests merged in 2024-03, with the labels that each got.

#11242 🌐 Update Chinese translation for `docs/zh/docs/tutorial/query-params.md`
  docs/zh/docs/tutorial/query-params.md
Labels: lang-all, lang-zh, approved-1

#11223 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/index.md`
  docs/ru/docs/tutorial/dependencies/index.md
Labels: lang-all, lang-ru, approved-2

#10887 🌐 Update Chinese translation for `docs/zh/docs/contributing.md`
  docs/zh/docs/contributing.md
Labels: lang-all, lang-zh, approved-1

#11239 📝 Update `python-multipart` GitHub link in all docs from `https://andrew-d.github.io/python-multipart/` to `https://github.com/Kludex/python-multipart`
  README.md
  docs/az/docs/index.md
  docs/bn/docs/index.md
  docs/em/docs/index.md
  docs/em/docs/tutorial/request-files.md
  docs/em/docs/tutorial/request-forms-and-files.md
  docs/em/docs/tutorial/request-forms.md
  docs/em/docs/tutorial/security/first-steps.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/request-forms-and-files.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/hu/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/ja/docs/tutorial/request-forms.md
  docs/ja/docs/tutorial/security/first-steps.md
  docs/ko/docs/index.md
  docs/ko/docs/tutorial/request-files.md
  docs/ko/docs/tutorial/request-forms-and-files.md
  docs/pl/docs/index.md
  docs/pt/docs/index.md
  docs/pt/docs/tutorial/request-forms-and-files.md
  docs/pt/docs/tutorial/request-forms.md
  docs/pt/docs/tutorial/security/first-steps.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/request-files.md
  docs/ru/docs/tutorial/request-forms-and-files.md
  docs/ru/docs/tutorial/request-forms.md
  docs/ru/docs/tutorial/security/first-steps.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
  docs/zh/docs/tutorial/request-files.md
  docs/zh/docs/tutorial/request-forms-and-files.md
  docs/zh/docs/tutorial/request-forms.md
  docs/zh/docs/tutorial/security/first-steps.md
Labels: docs

#11220 📝 Update examples for tests to replace "inexistent" for "nonexistent"
  docs_src/app_testing/app_b/test_main.py
  docs_src/app_testing/app_b_an/test_main.py
  docs_src/app_testing/app_b_an_py310/test_main.py
  docs_src/app_testing/app_b_an_py39/test_main.py
  docs_src/app_testing/app_b_py310/test_main.py
  tests/test_tutorial/test_security/test_tutorial005.py
  tests/test_tutorial/test_security/test_tutorial005_an.py
  tests/test_tutorial/test_security/test_tutorial005_an_py310.py
  tests/test_tutorial/test_security/test_tutorial005_an_py39.py
  tests/test_tutorial/test_security/test_tutorial005_py310.py
  tests/test_tutorial/test_security/test_tutorial005_py39.py
  tests/test_tutorial/test_sql_databases/test_sql_databases.py
  tests/test_tutorial/test_sql_databases/test_sql_databases_middleware.py
  tests/test_tutorial/test_sql_databases/test_sql_databases_middleware_py310.py
  tests/test_tutorial/test_sql_databases/test_sql_databases_middleware_py39.py
  tests/test_tutorial/test_sql_databases/test_sql_databases_py310.py
  tests/test_tutorial/test_sql_databases/test_sql_databases_py39.py
  tests/test_tutorial/test_testing/test_main_b.py
  tests/test_tutorial/test_testing/test_main_b_an.py
  tests/test_tutorial/test_testing/test_main_b_an_py310.py
  tests/test_tutorial/test_testing/test_main_b_an_py39.py
  tests/test_tutorial/test_testing/test_main_b_py310.py
Labels: docs

#11293 🛠️ Improve Node.js script in docs to generate TypeScript clients
  docs_src/generate_clients/tutorial004.js
Labels: docs

#11295 ✏️ Fix typos in docstrings
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
Labels: docs

#10794 🌐 Add German translation for `docs/de/docs/how-to/extending-openapi.md`
  docs/de/docs/how-to/extending-openapi.md
Labels: lang-all, lang-de, approved-1

#11304 ♻️ Refactor computing FastAPI People, include 3 months, 6 months, 1 year, based on comment date, not discussion date
  .github/actions/people/app/main.py
  docs/az/docs/fastapi-people.md
  docs/em/docs/fastapi-people.md
  docs/en/data/people.yml
  docs/en/docs/fastapi-people.md
  docs/fr/docs/fastapi-people.md
  docs/ja/docs/fastapi-people.md
  docs/pt/docs/fastapi-people.md
  docs/ru/docs/fastapi-people.md
  docs/tr/docs/fastapi-people.md
  docs/uk/docs/fastapi-people.md
  docs/zh/docs/fastapi-people.md
Labels: internal

#11299 🌐 Add Korean translation for `docs/ko/docs/about/index.md`
  docs/ko/docs/about/index.md
Labels: lang-all, lang-ko, approved-1

#11296 🌐 Fix Korean translation for `docs/ko/docs/index.md`
  docs/ko/docs/index.md
Labels: lang-all, lang-ko, approved-1

#11224 🔥 Remove link to Pydantic's benchmark, on other i18n pages.
  docs/de/docs/features.md
  docs/em/docs/features.md
  docs/fr/docs/features.md
  docs/ja/docs/features.md
  docs/pl/docs/features.md
  docs/pt/docs/features.md
  docs/ru/docs/features.md
  docs/tr/docs/features.md
  docs/zh/docs/features.md
Labels: docs

#11327 📝 Update External Links
  docs/en/data/external_links.yml
Labels: docs

#11326 📝 Update `project-generation.md`
  docs/en/docs/project-generation.md
Labels: docs

#11329 ✏️ Fix typo in `docs/en/docs/tutorial/extra-models.md`
  docs/en/docs/tutorial/extra-models.md
Labels: docs

#11337 🌐 Add Bengali translations for `docs/bn/docs/learn/index.md`
  docs/bn/docs/learn/index.md
Labels: lang-all, approved-2, lang-bn

#11346 🔧 Update sponsors, add MongoDB
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/mongodb-banner.png
  docs/en/docs/img/sponsors/mongodb.png
  docs/en/overrides/main.html
Labels: internal

#11075 ⬆️ Upgrade configuration for Ruff v0.2.0
  .pre-commit-config.yaml
  docs_src/dependencies/tutorial005_an.py
  docs_src/dependencies/tutorial005_an_py310.py
  docs_src/dependencies/tutorial005_an_py39.py
  docs_src/header_params/tutorial002.py
  docs_src/header_params/tutorial002_an_py310.py
  docs_src/header_params/tutorial002_py310.py
  docs_src/query_params_str_validations/tutorial003.py
  docs_src/query_params_str_validations/tutorial003_an.py
  docs_src/query_params_str_validations/tutorial003_an_py310.py
  docs_src/query_params_str_validations/tutorial003_an_py39.py
  docs_src/query_params_str_validations/tutorial007.py
  docs_src/query_params_str_validations/tutorial007_an.py
  docs_src/query_params_str_validations/tutorial007_an_py310.py
  docs_src/query_params_str_validations/tutorial007_an_py39.py
  docs_src/query_params_str_validations/tutorial007_py310.py
  docs_src/query_params_str_validations/tutorial014.py
  docs_src/query_params_str_validations/tutorial014_an.py
  docs_src/query_params_str_validations/tutorial014_an_py310.py
  docs_src/query_params_str_validations/tutorial014_an_py39.py
  docs_src/query_params_str_validations/tutorial014_py310.py
  docs_src/security/tutorial003_an.py
  docs_src/security/tutorial003_an_py310.py
  docs_src/security/tutorial003_an_py39.py
  docs_src/security/tutorial004.py
  docs_src/security/tutorial004_an.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005.py
  docs_src/security/tutorial005_an.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
  docs_src/security/tutorial007_an.py
  docs_src/security/tutorial007_an_py39.py
  fastapi/dependencies/utils.py
  fastapi/encoders.py
  pyproject.toml
  requirements-tests.txt
  tests/test_param_include_in_schema.py
  tests/test_regex_deprecated_body.py
  tests/test_regex_deprecated_params.py
Labels: internal

#11353 🔧 Update Ruff config, add extra ignore rule from SQLModel
  .github/actions/people/app/main.py
  pyproject.toml
Labels: internal

#11354 👷 Update build-docs GitHub Action path filter
  .github/workflows/build-docs.yml
  .github/workflows/publish.yml
Labels: internal

#11338 :globe_with_meridians: Add Portuguese translation for `docs/pt/docs/advanced/templates.md`
  docs/pt/docs/advanced/templates.md
Labels: lang-all, lang-pt, approved-1

#11365 👷 Add CI to test sdists for redistribution (e.g. Linux distros)
  .github/workflows/test-redistribute.yml
Labels: internal

#11366 👷 Do not use Python packages cache for publish
  .github/workflows/publish.yml
Labels: internal

#11372 👷 Fix logic for when to install and use MkDocs Insiders
  .github/workflows/build-docs.yml
Labels: internal

#11373 👷 Disable MkDocs insiders social plugin while an issue in MkDocs Material is handled
  docs/en/mkdocs.insiders.yml
Labels: internal

#11368 ✏️ Fix typo in `fastapi/security/oauth2.py`
  fastapi/security/oauth2.py
Labels: docs

#10364 🌐 Add German translation for `docs/de/docs/tutorial/request-files.md`
  docs/de/docs/tutorial/request-files.md
Labels: lang-all, awaiting-review, lang-de

#10304 🌐 Add German translation for `docs/de/docs/tutorial/query-params-str-validations.md`
  docs/de/docs/tutorial/query-params-str-validations.md
Labels: lang-all, awaiting-review, lang-de

#10307 🌐 Add German translation for `docs/de/docs/tutorial/path-params-numeric-validations.md`
  docs/de/docs/tutorial/path-params-numeric-validations.md
Labels: lang-all, awaiting-review, lang-de

#10326 🌐 Add German translation for `docs/de/docs/tutorial/header-params.md`
  docs/de/docs/tutorial/header-params.md
Labels: lang-all, awaiting-review, lang-de

#10399 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/index.md`
  docs/de/docs/tutorial/dependencies/index.md
Labels: lang-all, awaiting-review, lang-de

#10407 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/de/docs/tutorial/dependencies/classes-as-dependencies.md
Labels: lang-all, lang-de

#10323 🌐 Add German translation for `docs/de/docs/tutorial/cookie-params.md`
  docs/de/docs/tutorial/cookie-params.md
Labels: lang-all, lang-de

#10449 🌐 Add German translation for `docs/de/docs/async.md`
  docs/de/docs/async.md
Labels: lang-all, lang-de

#10491 🌐 Add German translation for `docs/de/docs/deployment/versions.md`
  docs/de/docs/deployment/versions.md
Labels: lang-all, lang-de

#10361 🌐 Add German translation for `docs/de/docs/tutorial/request-forms.md`
  docs/de/docs/tutorial/request-forms.md
Labels: lang-all, lang-de

#10432 🌐 Add German translation for `docs/de/docs/tutorial/security/first-steps.md`
  docs/de/docs/tutorial/security/first-steps.md
Labels: lang-all, awaiting-review, lang-de

#10385 🌐 Add German translation for `docs/de/docs/tutorial/encoder.md`
  docs/de/docs/tutorial/encoder.md
Labels: lang-all, awaiting-review, lang-de

#10368 🌐 Add German translation for `docs/de/docs/tutorial/request-forms-and-files.md`
  docs/de/docs/tutorial/request-forms-and-files.md
Labels: lang-all, awaiting-review, lang-de

#10383 🌐 Add German translation for `docs/de/docs/tutorial/path-operation-configuration.md`
  docs/de/docs/tutorial/path-operation-configuration.md
Labels: lang-all, awaiting-review, lang-de

#10439 🌐 Add German translation for `docs/de/docs/tutorial/security/get-current-user.md`
  docs/de/docs/tutorial/security/get-current-user.md
Labels: lang-all, lang-de

#10504 🌐 Add German translation for `docs/de/docs/tutorial/security/simple-oauth2.md`
  docs/de/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, lang-de

#10411 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/de/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: lang-all, awaiting-review, lang-de

#10429 🌐 Add German translation for `docs/de/docs/tutorial/security/index.md`
  docs/de/docs/tutorial/security/index.md
Labels: lang-all, lang-de

#10409 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/sub-dependencies.md`
  docs/de/docs/tutorial/dependencies/sub-dependencies.md
Labels: lang-all, awaiting-review, lang-de

#10285 🌐 Update German translation for `docs/de/docs/fastapi-people.md`
  docs/de/docs/fastapi-people.md
Labels: lang-all, awaiting-review, lang-de

#10420 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/global-dependencies.md`
  docs/de/docs/tutorial/dependencies/global-dependencies.md
Labels: lang-all, awaiting-review, lang-de

#10422 🌐 Add German translation for `docs/de/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/de/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, awaiting-review, lang-de

#10865 🌐 Add German translation for `docs/de/docs/history-design-future.md`
  docs/de/docs/history-design-future.md
Labels: lang-all, awaiting-review, lang-de

#10851 🌐 Add German translation for `docs/de/docs/project-generation.md`
  docs/de/docs/project-generation.md
Labels: lang-all, awaiting-review, lang-de

#10843 🌐 Add German translation for `docs/de/docs/reference/testclient.md`
  docs/de/docs/reference/testclient.md
Labels: lang-all, lang-de

#10841 🌐 Add German translation for `docs/de/docs/reference/staticfiles.md`
  docs/de/docs/reference/staticfiles.md
Labels: lang-all, lang-de

#10839 🌐 Add German translation for `docs/de/docs/reference/security/index.md`
  docs/de/docs/reference/security/index.md
Labels: lang-all, lang-de

#10838 🌐 Add German translation for `docs/de/docs/reference/openapi/*.md`
  docs/de/docs/reference/openapi/docs.md
  docs/de/docs/reference/openapi/index.md
  docs/de/docs/reference/openapi/models.md
Labels: lang-all, lang-de

#10837 🌐 Add German translation for `docs/de/docs/reference/middleware.md`
  docs/de/docs/reference/middleware.md
Labels: lang-all, lang-de

#10824 🌐 Add German translation for `docs/de/docs/reference/response.md`
  docs/de/docs/reference/response.md
Labels: lang-all, lang-de

#10823 🌐 Add German translation for `docs/de/docs/reference/httpconnection.md`
  docs/de/docs/reference/httpconnection.md
Labels: lang-all, lang-de

#10822 🌐 Add German translation for `docs/de/docs/reference/websockets.md`
  docs/de/docs/reference/websockets.md
Labels: lang-all, lang-de

#10819 🌐 Add German translation for `docs/de/docs/reference/apirouter.md`
  docs/de/docs/reference/apirouter.md
Labels: lang-all, lang-de

#10818 🌐 Add German translation for `docs/de/docs/reference/dependencies.md`
  docs/de/docs/reference/dependencies.md
Labels: lang-all, lang-de

#10817 🌐 Add German translation for `docs/de/docs/reference/exceptions.md`
  docs/de/docs/reference/exceptions.md
Labels: lang-all, lang-de

#10816 🌐 Add German translation for `docs/de/docs/reference/uploadfile.md`
  docs/de/docs/reference/uploadfile.md
Labels: lang-all, lang-de

#10815 🌐 Add German translation for `docs/de/docs/reference/status.md`
  docs/de/docs/reference/status.md
Labels: lang-all, lang-de

#10814 🌐 Add German translation for `docs/de/docs/reference/parameters.md`
  docs/de/docs/reference/parameters.md
Labels: lang-all, lang-de

#10803 🌐 Add German translation for `docs/de/docs/how-to/custom-docs-ui-assets.md`
  docs/de/docs/how-to/custom-docs-ui-assets.md
Labels: lang-all, lang-de

#10804 🌐 Add German translation for `docs/de/docs/how-to/configure-swagger-ui.md`
  docs/de/docs/how-to/configure-swagger-ui.md
Labels: lang-all, lang-de

#10796 🌐 Add German translation for `docs/de/docs/how-to/separate-openapi-schemas.md`
  docs/de/docs/how-to/separate-openapi-schemas.md
Labels: lang-all, lang-de

#10790 🌐 Add German translation for `docs/de/docs/how-to/conditional-openapi.md`
  docs/de/docs/how-to/conditional-openapi.md
Labels: lang-all, lang-de

#10789 🌐 Add German translation for `docs/de/docs/how-to/custom-request-and-route.md`
  docs/de/docs/how-to/custom-request-and-route.md
Labels: lang-all, lang-de

#10788 🌐 Add German translation for `docs/de/docs/how-to/graphql.md`
  docs/de/docs/how-to/graphql.md
Labels: lang-all, lang-de

#10770 🌐 Add German translation for `docs/de/docs/how-to/general.md`
  docs/de/docs/how-to/general.md
Labels: lang-all, lang-de

#10769 🌐 Add German translation for `docs/de/docs/how-to/index.md`
  docs/de/docs/how-to/index.md
Labels: lang-all, lang-de

#10759 🌐 Add German translation for `docs/de/docs/deployment/docker.md`
  docs/de/docs/deployment/docker.md
Labels: lang-all, lang-de

#10747 🌐 Add German translation for `docs/de/docs/deployment/server-workers.md`
  docs/de/docs/deployment/server-workers.md
Labels: lang-all, lang-de

#10284 🌐 Update German translation for `docs/de/docs/features.md`
  docs/de/docs/features.md
Labels: lang-all, lang-de

#10744 🌐 Add German translation for `docs/de/docs/deployment/concepts.md`
  docs/de/docs/deployment/concepts.md
Labels: lang-all, lang-de

#10738 🌐 Add German translation for `docs/de/docs/deployment/manually.md`
  docs/de/docs/deployment/manually.md
Labels: lang-all, lang-de

#10737 🌐 Add German translation for `docs/de/docs/deployment/https.md`
  docs/de/docs/deployment/https.md
Labels: lang-all, lang-de

#10733 🌐 Add German translation for `docs/de/docs/deployment/index.md`
  docs/de/docs/deployment/index.md
Labels: lang-all, lang-de

#10713 🌐 Add German translation for `docs/de/docs/advanced/wsgi.md`
  docs/de/docs/advanced/wsgi.md
Labels: lang-all, lang-de

#10709 🌐 Add German translation for `docs/de/docs/advanced/settings.md`
  docs/de/docs/advanced/settings.md
Labels: lang-all, lang-de

#10710 🌐 Add German translation for `docs/de/docs/advanced/openapi-callbacks.md`
  docs/de/docs/advanced/openapi-callbacks.md
Labels: lang-all, lang-de

#10706 🌐 Add German translation for `docs/de/docs/advanced/testing-dependencies.md`
  docs/de/docs/advanced/testing-dependencies.md
Labels: lang-all, lang-de

#10704 🌐 Add German translation for `docs/de/docs/advanced/testing-events.md`
  docs/de/docs/advanced/testing-events.md
Labels: lang-all, lang-de

#10703 🌐 Add German translation for `docs/de/docs/advanced/testing-websockets.md`
  docs/de/docs/advanced/testing-websockets.md
Labels: lang-all, lang-de

#10687 🌐 Add German translation for `docs/de/docs/advanced/websockets.md`
  docs/de/docs/advanced/websockets.md
Labels: lang-all, lang-de

#10671 🌐 Add German translation for `docs/de/docs/advanced/sub-applications.md`
  docs/de/docs/advanced/sub-applications.md
Labels: lang-all, lang-de

#10668 🌐 Add German translation for `docs/de/docs/advanced/middleware.md`
  docs/de/docs/advanced/middleware.md
Labels: lang-all, lang-de

#10667 🌐 Add German translation for `docs/de/docs/advanced/dataclasses.md`
  docs/de/docs/advanced/dataclasses.md
Labels: lang-all, lang-de

#10653 🌐 Add German translation for `docs/de/docs/advanced/using-request-directly.md`
  docs/de/docs/advanced/using-request-directly.md
Labels: lang-all, lang-de

#10635 🌐 Add German translation for `docs/de/docs/advanced/security/index.md`
  docs/de/docs/advanced/security/index.md
Labels: lang-all, lang-de

#10633 🌐 Add German translation for `docs/de/docs/advanced/advanced-dependencies.md`
  docs/de/docs/advanced/advanced-dependencies.md
Labels: lang-all, lang-de

#10632 🌐 Add German translation for `docs/de/docs/advanced/response-change-status-code.md`
  docs/de/docs/advanced/response-change-status-code.md
Labels: lang-all, lang-de

#10628 🌐 Add German translation for `docs/de/docs/advanced/response-headers.md`
  docs/de/docs/advanced/response-headers.md
Labels: lang-all, lang-de

#10627 🌐 Add German translation for `docs/de/docs/advanced/response-cookies.md`
  docs/de/docs/advanced/response-cookies.md
Labels: lang-all, lang-de

#10626 🌐 Add German translation for `docs/de/docs/advanced/additional-responses.md`
  docs/de/docs/advanced/additional-responses.md
Labels: lang-all, lang-de

#10618 🌐 Add German translation for `docs/de/docs/advanced/response-directly.md`
  docs/de/docs/advanced/response-directly.md
Labels: lang-all, lang-de

#10611 🌐 Add German translation for `docs/de/docs/advanced/index.md`
  docs/de/docs/advanced/index.md
Labels: lang-all, lang-de

#10597 🌐 Add German translation for `docs/de/docs/tutorial/schema-extra-example.md`
  docs/de/docs/tutorial/schema-extra-example.md
Labels: lang-all, lang-de

#10586 🌐 Add German translation for `docs/de/docs/tutorial/testing.md`
  docs/de/docs/tutorial/testing.md
Labels: lang-all, lang-de

#10581 🌐 Add German translation for `docs/de/docs/tutorial/metadata.md`
  docs/de/docs/tutorial/metadata.md
Labels: lang-all, lang-de

#10708 🌐 Add German translation for `docs/de/docs/advanced/async-tests.md`
  docs/de/docs/advanced/async-tests.md
Labels: lang-all, lang-de

#10643 🌐 Add German translation for `docs/de/docs/advanced/security/oauth2-scopes.md`
  docs/de/docs/advanced/security/oauth2-scopes.md
Labels: lang-all, lang-de

#10678 🌐 Add German translation for `docs/de/docs/advanced/templates.md`
  docs/de/docs/advanced/templates.md
Labels: lang-all, lang-de

#10855 🌐 Add German translation for `docs/de/docs/alternatives.md`
  docs/de/docs/alternatives.md
Labels: lang-all, lang-de

#10396 🌐 Add German translation for `docs/de/docs/tutorial/body-updates.md`
  docs/de/docs/tutorial/body-updates.md
Labels: lang-all, lang-de

#10351 🌐 Add German translation for `docs/de/docs/tutorial/extra-models.md`
  docs/de/docs/tutorial/extra-models.md
Labels: lang-all, lang-de

#10345 🌐 Add German translation for `docs/de/docs/tutorial/response-model.md`
  docs/de/docs/tutorial/response-model.md
Labels: lang-all, lang-de

#10522 🌐 Add German translation for `docs/de/docs/tutorial/security/oauth2-jwt.md`
  docs/de/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, lang-de

#10584 🌐 Add German translation for `docs/de/docs/tutorial/static-files.md`
  docs/de/docs/tutorial/static-files.md
Labels: lang-all, lang-de

#10612 🌐 Add German translation for `docs/de/docs/advanced/path-operation-advanced-configuration.md`
  docs/de/docs/advanced/path-operation-advanced-configuration.md
Labels: lang-all, lang-de

#10554 🌐 Add German translation for `docs/de/docs/tutorial/bigger-applications.md`
  docs/de/docs/tutorial/bigger-applications.md
Labels: lang-all, lang-de

#10651 🌐 Add German translation for `docs/de/docs/advanced/security/http-basic-auth.md`
  docs/de/docs/advanced/security/http-basic-auth.md
Labels: lang-all, lang-de

#10283 🌐 Update German translation for `docs/de/docs/index.md`
  docs/de/docs/index.md
Labels: lang-all, lang-de

#10379 🌐 Add German translation for `docs/de/docs/tutorial/handling-errors.md`
  docs/de/docs/tutorial/handling-errors.md
Labels: lang-all, lang-de

#10290 🌐 Add German translation for `docs/de/docs/tutorial/path-params.md`
  docs/de/docs/tutorial/path-params.md
Labels: lang-all, lang-de

#10287 🌐 Update German translation for `docs/de/docs/python-types.md`
  docs/de/docs/python-types.md
Labels: lang-all, lang-de

#10455 🌐 Add German translation for `docs/de/docs/help-fastapi.md`
  docs/de/docs/help-fastapi.md
Labels: lang-all, lang-de

#10675 🌐 Add German translation for `docs/de/docs/advanced/behind-a-proxy.md`
  docs/de/docs/advanced/behind-a-proxy.md
Labels: lang-all, lang-de

#10746 🌐 Add German translation for `docs/de/docs/deployment/cloud.md`
  docs/de/docs/deployment/cloud.md
Labels: lang-all, lang-de

#10693 🌐 Add German translation for `docs/de/docs/advanced/events.md`
  docs/de/docs/advanced/events.md
Labels: lang-all, lang-de

#3498 🌐 Update Chinese translation for `docs/tutorial/response-status-code.md`
  docs/zh/docs/tutorial/response-status-code.md
Labels: lang-all, lang-zh

#3487 🌐 Update Chinese translation for `docs/zh/docs/tutorial/header-params.md`
  docs/zh/docs/tutorial/header-params.md
Labels: lang-all, lang-zh

#3486 🌐 Update Chinese translation for `docs/zh/docs/tutorial/cookie-params.md`
  docs/zh/docs/tutorial/cookie-params.md
Labels: lang-all, lang-zh

#3800 🌐 Add Chinese translation for `docs/zh/docs/advanced/security/oauth2-scopes.md`
  docs/zh/docs/advanced/security/oauth2-scopes.md
Labels: lang-all, lang-zh

#3801 🌐 Add Chinese translation for `docs/zh/docs/advanced/security/http-basic-auth.md`
  docs/zh/docs/advanced/security/http-basic-auth.md
Labels: lang-all, lang-zh

#3802 🌐 Add Chinese translation for `docs/zh/docs/advanced/using-request-directly.md`
  docs/zh/docs/advanced/using-request-directly.md
Labels: lang-all, lang-zh

#3803 🌐 Add Chinese translation for `docs/zh/docs/advanced/dataclasses.md`
  docs/zh/docs/advanced/dataclasses.md
Labels: lang-all, lang-zh

#3804 🌐 Add Chinese translation for `docs/zh/docs/advanced/middleware.md`
  docs/zh/docs/advanced/middleware.md
Labels: lang-all, lang-zh

#3805 🌐 Add Chinese translation for `docs/zh/docs/advanced/async-sql-databases.md`
  docs/zh/docs/advanced/async-sql-databases.md
Labels: lang-all, lang-zh

#3811 🌐 Add Chinese translation for `docs/zh/docs/advanced/sub-applications.md`
  docs/zh/docs/advanced/sub-applications.md
Labels: lang-all, lang-zh

#3812 🌐 Add Chinese translation for `docs/zh/docs/advanced/templates.md`
  docs/zh/docs/advanced/templates.md
Labels: lang-all, lang-zh

#3833 🌐 Add Chinese translation for `docs/zh/docs/external-links.md`
  docs/zh/docs/external-links.md
Labels: lang-all, lang-zh

#3816 🌐 Add Chinese translation for `docs/zh/docs/advanced/custom-request-and-route.md`
  docs/zh/docs/advanced/custom-request-and-route.md
Labels: lang-all, lang-zh

#3819 🌐 Add Chinese translation for `docs/zh/docs/advanced/testing-dependencies.md`
  docs/zh/docs/advanced/testing-dependencies.md
Labels: lang-all, lang-zh

#3823 🌐 Add Chinese translation for `docs/zh/docs/advanced/extending-openapi.md`
  docs/zh/docs/advanced/extending-openapi.md
Labels: lang-all, lang-zh

#3825 🌐 Add Chinese translation for `docs/zh/docs/advanced/openapi-callbacks.md`
  docs/zh/docs/advanced/openapi-callbacks.md
Labels: lang-all, lang-zh

#3842 🌐 Update Chinese translation for `docs/zh/docs/tutorial/security/get-current-user.md`
  docs/zh/docs/tutorial/security/get-current-user.md
Labels: lang-all, lang-zh

#10808 🌐 Update Japanese translation of `docs/ja/docs/tutorial/query-params.md`
  docs/ja/docs/tutorial/query-params.md
Labels: lang-all, lang-ja

#10487 🌐 Add German translation for `docs/de/docs/contributing.md`
  docs/de/docs/contributing.md
Labels: lang-all, lang-de

#2667 🌐 Add Japanese translation for `docs/ja/docs/tutorial/metadata.md`
  docs/ja/docs/tutorial/metadata.md
Labels: lang-all, lang-ja

#11335 ♻️ Simplify string format with f-strings in `fastapi/applications.py`
  fastapi/applications.py
Labels: refactor

#11381 📝 Tweak docs and translations links and remove old docs translations
  docs/em/docs/advanced/async-sql-databases.md
  docs/em/docs/advanced/index.md
  docs/em/docs/advanced/nosql-databases.md
  docs/em/docs/advanced/security/index.md
  docs/em/docs/async.md
  docs/em/docs/help-fastapi.md
  docs/em/docs/tutorial/metadata.md
  docs/en/docs/advanced/index.md
  docs/en/docs/advanced/security/index.md
  docs/en/docs/async.md
  docs/en/docs/help-fastapi.md
  docs/en/docs/how-to/custom-request-and-route.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/metadata.md
  docs/es/docs/advanced/index.md
  docs/es/docs/advanced/security/index.md
  docs/es/docs/async.md
  docs/fr/docs/advanced/index.md
  docs/fr/docs/async.md
  docs/ja/docs/advanced/index.md
  docs/ja/docs/advanced/nosql-databases.md
  docs/ja/docs/async.md
  docs/ja/docs/tutorial/metadata.md
  docs/ko/docs/advanced/index.md
  docs/ko/docs/async.md
  docs/pl/docs/help-fastapi.md
  docs/pt/docs/advanced/index.md
  docs/pt/docs/async.md
  docs/pt/docs/help-fastapi.md
  docs/ru/docs/async.md
  docs/ru/docs/help-fastapi.md
  docs/ru/docs/tutorial/metadata.md
  docs/tr/docs/async.md
  docs/zh/docs/advanced/async-sql-databases.md
  docs/zh/docs/advanced/custom-request-and-route.md
  docs/zh/docs/advanced/extending-openapi.md
  docs/zh/docs/advanced/index.md
  docs/zh/docs/advanced/security/index.md
  docs/zh/docs/async.md
  docs/zh/docs/deployment/deta.md
  docs/zh/docs/external-links.md
  docs/zh/docs/help-fastapi.md
  docs/zh/docs/tutorial/metadata.md
Labels: docs
