Repository fastapi/fastapi, pull requests merged in 2024-02, with the labels that each got.

#10282 🌐 Add Chinese translation for `docs/zh/docs/deployment/concepts.md`
  docs/zh/docs/deployment/concepts.md
Labels: lang-all, lang-zh, awaiting-review

#10870 🌐 Add Chinese translation for `docs/zh/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/zh/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, lang-zh, approved-1

#4218 🌐 Update Korean translation for `docs/ko/docs/tutorial/first-steps.md`, `docs/ko/docs/tutorial/index.md`, `docs/ko/docs/tutorial/path-params.md`, and `docs/ko/docs/tutorial/query-params.md`
  docs/ko/docs/tutorial/first-steps.md
  docs/ko/docs/tutorial/index.md
  docs/ko/docs/tutorial/path-params.md
  docs/ko/docs/tutorial/query-params.md
Labels: lang-all, lang-ko, approved-1

#10933 🌐 Add Spanish translation for `docs/es/docs/external-links.md`
  docs/es/docs/external-links.md
Labels: lang-all, lang-es, awaiting-review

#11074 👥 Update FastAPI People
  docs/en/data/github_sponsors.yml
  docs/en/data/people.yml
Labels: internal

#10547 :globe_with_meridians: Update Turkish translation for `docs/tr/docs/fastapi-people.md`
  docs/tr/docs/fastapi-people.md
Labels: lang-all, lang-tr, approved-1

#11090 🍱 Add new FastAPI logo
  docs/en/docs/img/favicon.png
  docs/en/docs/img/github-social-preview.png
  docs/en/docs/img/github-social-preview.svg
  docs/en/docs/img/icon-transparent-bg.png
  docs/en/docs/img/icon-white-bg.png
  docs/en/docs/img/icon-white.svg
  docs/en/docs/img/logo-margin/logo-teal-vector.svg
  docs/en/docs/img/logo-margin/logo-teal.png
  docs/en/docs/img/logo-margin/logo-teal.svg
  docs/en/docs/img/logo-margin/logo-white-bg.png
  docs/en/docs/img/logo-teal-vector.svg
  docs/en/docs/img/logo-teal.svg
  docs/en/overrides/partials/copyright.html
Labels: internal

#11086 ⬆️ Upgrade version of Starlette to `>= 0.36.3`
  pyproject.toml
Labels: upgrade

#11099 ✏️ Fix minor typo in `fastapi/applications.py`
  fastapi/applications.py
Labels: docs

#10928 🌐 Add Spanish translation for `docs/es/docs/benchmarks.md`
  docs/es/docs/benchmarks.md
Labels: lang-all, lang-es

#9669 🌐 Add Spanish translation for `docs/es/docs/deployment/index.md` and `~/deployment/versions.md`
  docs/es/docs/deployment/index.md
  docs/es/docs/deployment/versions.md
Labels: lang-all, lang-es, approved-1

#2278 🌐 Add Spanish translation for `docs/es/docs/advanced/security/index.md`
  docs/es/docs/advanced/security/index.md
Labels: lang-all, lang-es, hacktoberfest-accepted, approved-1

#11094 🌐 Update Turkish translation for `docs/tr/docs/tutorial/first-steps.md`
  docs/tr/docs/tutorial/first-steps.md
  docs/tr/docs/tutorial/first_steps.md
Labels: lang-all, lang-tr, approved-1

#11113 🌐 Update Korean translation for `/docs/ko/docs/deployment/docker.md`
  docs/ko/docs/deployment/docker.md
Labels: lang-all, lang-ko, approved-1

#11114 🌐 Update Korean translation for `/docs/ko/docs/dependencies/index.md`
  docs/ko/docs/tutorial/dependencies/index.md
Labels: lang-all, lang-ko, approved-1

#11118 🌐 Add Korean translation for `/docs/ko/docs/tutorial/cookie-params.md`
  docs/ko/docs/tutorial/cookie-params.md
Labels: lang-all, lang-ko, approved-1

#11112 🌐 Add Korean translation for `/docs/ko/docs/tutorial/body-fields.md`
  docs/ko/docs/tutorial/body-fields.md
Labels: lang-all, lang-ko, approved-1

#11121 🌐 Add Korean translation for `/docs/ko/docs/tutorial/schema-extra-example.md`
  docs/ko/docs/tutorial/schema-extra-example.md
Labels: lang-all, lang-ko, approved-1

#11126 ✏️ Fix minor typos in `docs/ko/docs/`
  docs/ko/docs/tutorial/background-tasks.md
  docs/ko/docs/tutorial/body-fields.md
  docs/ko/docs/tutorial/body-multiple-params.md
  docs/ko/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/ko/docs/tutorial/dependencies/index.md
  docs/ko/docs/tutorial/first-steps.md
  docs/ko/docs/tutorial/path-operation-configuration.md
  docs/ko/docs/tutorial/query-params-str-validations.md
  docs/ko/docs/tutorial/request-files.md
  docs/ko/docs/tutorial/request-forms-and-files.md
  docs/ko/docs/tutorial/response-model.md
  docs/ko/docs/tutorial/security/get-current-user.md
Labels: docs, lang-all, lang-ko, approved-1

#11124 🌐 Add Korean translation for `/docs/ko/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/ko/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: lang-all, lang-ko, approved-1

#11123 🌐 Add Korean translation for `/docs/ko/docs/tutorial/dependencies/global-dependencies.md`
  docs/ko/docs/tutorial/dependencies/global-dependencies.md
Labels: lang-all, lang-ko, approved-1

#10853 🌐 Add German translation for `docs/de/docs/newsletter.md`
  docs/de/docs/newsletter.md
Labels: lang-all, lang-de, approved-1

#10813 🌐 Add German translation for `docs/de/docs/reference/fastapi.md`
  docs/de/docs/reference/fastapi.md
Labels: lang-all, lang-de, approved-1

#11078 🌐 Add Turkish translation for `docs/tr/docs/tutorial/query-params.md`
  docs/tr/docs/tutorial/query-params.md
Labels: lang-all, lang-tr, approved-1

#10821 🌐 Add German translation for `docs/de/docs/reference/request.md`
  docs/de/docs/reference/request.md
Labels: lang-all, awaiting-review, lang-de

#10825 🌐 Add German translation for `docs/de/docs/reference/responses.md`
  docs/de/docs/reference/responses.md
Labels: lang-all, awaiting-review, lang-de

#10840 🌐 Add German translation for `docs/de/docs/reference/encoders.md`
  docs/de/docs/reference/encoders.md
Labels: lang-all, awaiting-review, lang-de

#11162 🌐 Update Turkish translation for `docs/tr/docs/tutorial/query-params.md`
  docs/tr/docs/tutorial/query-params.md
Labels: lang-all, lang-tr, approved-1

#10842 🌐 Add German translation for `docs/de/docs/reference/templating.md`
  docs/de/docs/reference/templating.md
Labels: lang-all, lang-de, approved-1

#10820 🌐 Add German translation for `docs/de/docs/reference/background.md`
  docs/de/docs/reference/background.md
Labels: lang-all, lang-de, approved-1

#11191 🐛 Fix unhandled growing memory for internal server errors, refactor dependencies with `yield` and `except` to require raising again as in regular Python
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
  docs_src/dependencies/tutorial008c.py
  docs_src/dependencies/tutorial008c_an.py
  docs_src/dependencies/tutorial008c_an_py39.py
  docs_src/dependencies/tutorial008d.py
  docs_src/dependencies/tutorial008d_an.py
  docs_src/dependencies/tutorial008d_an_py39.py
  fastapi/routing.py
  tests/test_dependency_contextmanager.py
  tests/test_dependency_normal_exceptions.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008c.py
  tests/test_tutorial/test_dependencies/test_tutorial008c_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008c_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008d.py
  tests/test_tutorial/test_dependencies/test_tutorial008d_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008d_an_py39.py
Labels: breaking

#11192 🌐 Add Azerbaijani translation for `docs/az/learn/index.md`
  docs/az/learn/index.md
Labels: lang-all, awaiting-review, lang-az, approved-1

#11213 🔧 Update sponsors, remove Jina, remove Powens, move TestDriven.io
  README.md
  docs/en/data/sponsors.yml
Labels: internal
