Repository fastapi/fastapi, pull requests merged in 2024-06, with the labels that each got.

#11672 📝 Update note in `path-params-numeric-validations.md`
  docs/en/docs/tutorial/path-params-numeric-validations.md
Labels: docs

#11669 👥 Update FastAPI People
  docs/en/data/github_sponsors.yml
  docs/en/data/people.yml
Labels: internal

#11673 📝 Update `security/first-steps.md`
  docs/en/docs/tutorial/security/first-steps.md
Labels: docs

#11674 📝 Update `security/first-steps.md`
  docs/en/docs/tutorial/security/first-steps.md
Labels: docs

#11606 🌐 Add Turkish translation for `docs/tr/docs/advanced/index.md`
  docs/tr/docs/advanced/index.md
Labels: lang-all, lang-tr, approved-1

#11639 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/fastapi-people.md`
  docs/zh-hant/docs/fastapi-people.md
Labels: lang-all, lang-zh-hant, approved-1

#11633 📝 Add External Link: Deploy a Serverless FastAPI App with Neon Postgres and AWS App Runner at any scale
  docs/en/data/external_links.yml
Labels: docs

#11698 📝 Fix typo in `docs/en/docs/tutorial/body-multiple-params.md`
  docs/en/docs/tutorial/body-multiple-params.md
Labels: docs

#11641 🌐 Add Portuguese translation for `docs/pt/docs/advanced/fastapi-cli.md`
  docs/pt/docs/fastapi-cli.md
Labels: lang-all, lang-pt, approved-1

#11618 📝 Add External Link: Tutorial de FastAPI, ¿el mejor framework de Python?
  docs/en/data/external_links.yml
Labels: docs

#11500 📝 Update External Links
  docs/en/data/external_links.yml
Labels: docs

#11710 🌐 Fix Korean translation for `docs/ko/docs/tutorial/body-nested-models.md`
  docs/ko/docs/tutorial/body-nested-models.md
Labels: lang-all, lang-ko, approved-1

#11715 ✏️ Update `docs/en/docs/fastapi-cli.md`
  docs/en/docs/fastapi-cli.md
Labels: docs

#11711 🌐 Add Korean translation for `docs/ko/docs/tutorial/extra-data-types.md`
  docs/ko/docs/tutorial/extra-data-types.md
Labels: lang-all, lang-ko, approved-1

#11718 🌐 Fix Korean translation for `docs/ko/docs/tutorial/response-status-code.md`
  docs/ko/docs/tutorial/response-status-code.md
Labels: lang-all, lang-ko, approved-1

#11730 🔧 Update Sponsor link: Coherence
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#11729 🔧 Update sponsors, add Zuplo
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/img/sponsors/zuplo-banner.png
  docs/en/docs/img/sponsors/zuplo.png
  docs/en/overrides/main.html
Labels: internal

#11736 🌐 Add Portuguese translation for `docs/pt/docs/advanced/additional-responses.md`
  docs/pt/docs/advanced/additional-responses.md
Labels: lang-all, lang-pt, approved-1

#11731 🌐 Add Portuguese translation for `docs/pt/docs/how-to/index.md`
  docs/pt/docs/how-to/index.md
Labels: lang-all, lang-pt, approved-1

#11712 🌐 Add French translation for `docs/fr/docs/learn/index.md`
  docs/fr/docs/learn/index.md
Labels: lang-all, lang-fr, approved-1

#11739 🌐 Add Portuguese translation for `docs/pt/docs/advanced/settings.md`
  docs/pt/docs/advanced/settings.md
Labels: lang-all, lang-pt, approved-1

#11763 🔧 Update sponsors, add Stainless
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
  docs/en/docs/img/sponsors/stainless.png
Labels: internal

#11764 🔧 Tweak sponsors: Kong URL
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#11765 🔧 Tweak sponsors: Kong URL
  README.md
Labels: internal

#11753 🌐 Add Portuguese translation for `docs/pt/docs/advanced/additional-status-codes.md`
  docs/pt/docs/advanced/additional-status-codes.md
Labels: lang-all, lang-pt, approved-1

#11768 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/pt/docs/tutorial/dependencies/classes-as-dependencies.md
Labels: lang-all, lang-pt, approved-1
