Repository fastapi/fastapi, pull requests merged in 2024-09, with the labels that each got.

#12106 ♻️ Refactor internal `check_file_field()`, rename to `ensure_multipart_is_installed()` to clarify its purpose
  fastapi/dependencies/utils.py
Labels: refactor

#12118 💚 Set `include-hidden-files` to `True` when using the `upload-artifact` GH action
  .github/workflows/build-docs.yml
  .github/workflows/test.yml
Labels: internal

#12114 🌐 Add Portuguese translation for `docs/pt/docs/advanced/security/index.md`
  docs/pt/docs/advanced/security/index.md
Labels: lang-all, lang-pt, approved-1

#12108 🌐 Add Portuguese translation for `docs/pt/docs/advanced/testing-events.md`
  docs/pt/docs/advanced/testing-events.md
Labels: lang-all, lang-pt, approved-1

#12101 🌐 Add Dutch translation for `docs/nl/docs/features.md`
  docs/nl/docs/features.md
Labels: lang-all, lang-nl, approved-1

#12109 📝 Add External Link: Techniques and applications of SQLAlchemy global filters in FastAPI
  docs/en/data/external_links.yml
Labels: docs

#12117 ♻️ Refactor deciding if `embed` body fields, do not overwrite fields, compute once per router, refactor internals in preparation for Pydantic models in `Form`, `Query` and others
  fastapi/_compat.py
  fastapi/dependencies/utils.py
  fastapi/param_functions.py
  fastapi/params.py
  fastapi/routing.py
  tests/test_compat.py
  tests/test_forms_single_param.py
Labels: refactor

#12127 ✨ Add support for Pydantic models in `Form` parameters
  docs/en/docs/img/tutorial/request-form-models/image01.png
  docs/en/docs/tutorial/request-form-models.md
  docs/en/mkdocs.yml
  docs_src/request_form_models/tutorial001.py
  docs_src/request_form_models/tutorial001_an.py
  docs_src/request_form_models/tutorial001_an_py39.py
  fastapi/dependencies/utils.py
  scripts/playwright/request_form_models/image01.py
  tests/test_forms_single_model.py
  tests/test_tutorial/test_request_form_models/__init__.py
  tests/test_tutorial/test_request_form_models/test_tutorial001.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an_py39.py
Labels: feature

#12128 ⏪️ Temporarily revert "✨ Add support for Pydantic models in `Form` parameters" to make a checkpoint release
  docs/en/docs/img/tutorial/request-form-models/image01.png
  docs/en/docs/tutorial/request-form-models.md
  docs/en/mkdocs.yml
  docs_src/request_form_models/tutorial001.py
  docs_src/request_form_models/tutorial001_an.py
  docs_src/request_form_models/tutorial001_an_py39.py
  fastapi/dependencies/utils.py
  scripts/playwright/request_form_models/image01.py
  tests/test_forms_single_model.py
  tests/test_tutorial/test_request_form_models/__init__.py
  tests/test_tutorial/test_request_form_models/test_tutorial001.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an_py39.py
Labels: internal

#12129 ✨ Add support for Pydantic models in `Form` parameters
  docs/en/docs/img/tutorial/request-form-models/image01.png
  docs/en/docs/tutorial/request-form-models.md
  docs/en/mkdocs.yml
  docs_src/request_form_models/tutorial001.py
  docs_src/request_form_models/tutorial001_an.py
  docs_src/request_form_models/tutorial001_an_py39.py
  fastapi/dependencies/utils.py
  scripts/playwright/request_form_models/image01.py
  tests/test_forms_single_model.py
  tests/test_tutorial/test_request_form_models/__init__.py
  tests/test_tutorial/test_request_form_models/test_tutorial001.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an_py39.py
Labels: feature

#12147 ✅ Update internal tests for latest Pydantic, including CI tweaks to install the latest Pydantic
  .github/workflows/test.yml
  tests/test_openapi_examples.py
Labels: internal

#12134 ✨ Add support for forbidding extra form fields with Pydantic models
  docs/en/docs/tutorial/request-form-models.md
  docs_src/request_form_models/tutorial002.py
  docs_src/request_form_models/tutorial002_an.py
  docs_src/request_form_models/tutorial002_an_py39.py
  docs_src/request_form_models/tutorial002_pv1.py
  docs_src/request_form_models/tutorial002_pv1_an.py
  docs_src/request_form_models/tutorial002_pv1_an_py39.py
  fastapi/dependencies/utils.py
  tests/test_tutorial/test_request_form_models/test_tutorial002.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_an_py39.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1_an_p39.py
Labels: feature

#12152 📝 Update docs, Form Models section title, to match config name
  docs/en/docs/tutorial/request-form-models.md
Labels: docs

#12143 ✏️ Fix typo in `fastapi/params.py`
  fastapi/params.py
Labels: internal

#12159 👷 Update `issue-manager.yml`
  .github/workflows/issue-manager.yml
Labels: internal

#12157 🌐 Add Korean translation for `docs/ko/docs/project-generation.md`
  docs/ko/docs/project-generation.md
Labels: lang-all, lang-ko, approved-1

#12169 📝 Remove duplicate line in docs for `docs/en/docs/environment-variables.md`
  docs/en/docs/environment-variables.md
Labels: docs

#12165 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/debugging.md`
  docs/pt/docs/tutorial/debugging.md
Labels: lang-all, lang-pt, approved-2

#12164 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/testing.md`
  docs/pt/docs/tutorial/testing.md
Labels: lang-all, lang-pt, approved-2

#12162 🌐 Add Portuguese translation for `docs/pt/docs/environment-variables.md`
  docs/pt/docs/environment-variables.md
Labels: lang-all, lang-pt, approved-2

#12163 🌐 Add Portuguese translation for `docs/pt/docs/virtual-environments.md`
  docs/pt/docs/virtual-environments.md
Labels: lang-all, lang-pt, approved-2

#12184 ⚡️ Improve performance in request body parsing with a cache for internal model fields
  fastapi/_compat.py
  fastapi/dependencies/utils.py
  tests/test_compat.py
Labels: refactor

#12189 ➕ Add inline-snapshot for tests
  pyproject.toml
  requirements-tests.txt
Labels: internal

#12158 🌐 Add Dutch translation for `docs/nl/docs/python-types.md`
  docs/nl/docs/python-types.md
Labels: lang-all, lang-nl, approved-1

#12170 🌐 Add Chinese translation for `docs/zh/docs/project-generation.md`
  docs/zh/docs/project-generation.md
Labels: lang-all, lang-zh, approved-1

#12175 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/request-form-models.md`
  docs/pt/docs/tutorial/request-form-models.md
Labels: lang-all, lang-pt, approved-2

#12193 💡 Add comments with instructions for Playwright screenshot scripts
  scripts/playwright/request_form_models/image01.py
  scripts/playwright/separate_openapi_schemas/image01.py
  scripts/playwright/separate_openapi_schemas/image02.py
  scripts/playwright/separate_openapi_schemas/image03.py
  scripts/playwright/separate_openapi_schemas/image04.py
  scripts/playwright/separate_openapi_schemas/image05.py
Labels: internal

#12194 🐛 Fix form field regression
  fastapi/dependencies/utils.py
  tests/test_forms_single_model.py
Labels: bug

#12195 🌐 Add Portuguese translation for `docs/pt/docs/advanced/security/http-basic-auth.md`
  docs/pt/docs/advanced/security/http-basic-auth.md
Labels: lang-all, lang-pt, approved-1

#12213 📝 Fix small typos in the documentation
  docs/en/docs/advanced/additional-responses.md
  docs/en/docs/advanced/async-tests.md
  docs/en/docs/advanced/behind-a-proxy.md
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/middleware.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/advanced/security/http-basic-auth.md
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/deployment/concepts.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/release-notes.md
Labels: docs

#12223 ✏️ Fix docstring typos in http security
  fastapi/security/http.py
Labels: internal

#12222 🌐 Add Portuguese translation for `docs/pt/docs/how-to/configure-swagger-ui.md`
  docs/pt/docs/how-to/configure-swagger-ui.md
Labels: lang-all, lang-pt, approved-2

#12220 🌐 Add Portuguese translation for `docs/pt/docs/deployment/server-workers.md`
  docs/pt/docs/deployment/server-workers.md
Labels: lang-all, lang-pt, approved-2

#12210 🌐 Add Portuguese translation for `docs/pt/docs/deployment/manually.md`
  docs/pt/docs/deployment/manually.md
Labels: lang-all, lang-pt, approved-2

#12200 🌐 Add Dutch translation for `docs/nl/docs/environment-variables.md`
  docs/nl/docs/environment-variables.md
Labels: lang-all, lang-nl, approved-1

#12235 ✏️ Fix typo in `docs/es/docs/python-types.md`
  docs/es/docs/python-types.md
Labels: lang-all

#12217 🌐 Add Portuguese translation for `docs/pt/docs/deployment/cloud.md`
  docs/pt/docs/deployment/cloud.md
Labels: lang-all, lang-pt, approved-2

#12271 🔧 Update sponsors, remove Fine.dev
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal
