Repository fastapi/fastapi, pull requests merged in 2024-04, with the labels that each got.

#3497 🌐 Update Chinese translation for `docs/tutorial/extra-models.md`
  docs/zh/docs/tutorial/extra-models.md
Labels: lang-all, lang-zh

#3496 🌐 Update Chinese translation for `docs/tutorial/body-fields.md`
  docs/zh/docs/tutorial/body-fields.md
Labels: lang-all, lang-zh

#3479 🌐 Update Chinese translation for `docs/zh/docs/tutorial/path-params.md`
  docs/zh/docs/tutorial/path-params.md
Labels: lang-all, lang-zh

#3481 🌐 Update Chinese translation for `docs/zh/docs/tutorial/body.md`
  docs/zh/docs/tutorial/body.md
Labels: lang-all, lang-zh

#11377 👷 Add cron to run test once a week on monday
  .github/workflows/test.yml
Labels: internal

#11266 ⬆️ Upgrade Starlette to >=0.37.2,<0.38.0, remove Starlette filterwarning for internal tests
  pyproject.toml
Labels: dependencies, upgrade

#10357 🌐 Add German translation for `docs/de/docs/tutorial/response-status-code.md`
  docs/de/docs/tutorial/response-status-code.md
Labels: lang-all, awaiting-review, lang-de

#11049 ♻️ Update mypy
  fastapi/applications.py
  fastapi/background.py
  fastapi/datastructures.py
  fastapi/encoders.py
  fastapi/exceptions.py
  fastapi/openapi/docs.py
  fastapi/param_functions.py
  fastapi/routing.py
  fastapi/security/api_key.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
  requirements-tests.txt
Labels: refactor, p2

#9479 🐛 Fix parameterless `Depends()` with generics
  fastapi/dependencies/utils.py
  tests/test_generic_parameterless_depends.py
Labels: bug

#11393 ⬆️ Upgrade version of typer for docs
  requirements-docs.txt
Labels: internal

#5695 🌐 Add Korean translation for `docs/ko/docs/tutorial/debugging.md`
  docs/ko/docs/tutorial/debugging.md
Labels: lang-all, lang-ko, approved-1

#10532 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/ru/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, lang-ru, approved-1

#1946 🌐 Add Japanese translation for `docs/ja/docs/tutorial/request-forms-and-files.md`
  docs/ja/docs/tutorial/request-forms-and-files.md
Labels: lang-all, lang-ja

#1954 🌐 Add Japanese translation for `docs/ja/docs/tutorial/path-operation-configuration.md`
  docs/ja/docs/tutorial/path-operation-configuration.md
Labels: lang-all, lang-ja, awaiting-review

#5087 🌐 Add Korean translation for `docs/ko/docs/advanced/events.md`
  docs/ko/docs/advanced/events.md
Labels: lang-all, lang-ko, approved-1

#4139 🌐 Add Korean translation for `docs/ko/docs/help-fastapi.md`
  docs/ko/docs/help-fastapi.md
Labels: lang-all, lang-ko, approved-1

#5744 🌐 Add Korean translation for `docs/ko/docs/tutorial/security/simple-oauth2.md`
  docs/ko/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, lang-ko, approved-1

#11339 📝 Update OpenAPI client generation docs to use `@hey-api/openapi-ts`
  docs/de/docs/advanced/generate-clients.md
  docs/em/docs/advanced/generate-clients.md
  docs/en/docs/advanced/generate-clients.md
  docs/zh/docs/advanced/generate-clients.md
Labels: docs

#11376 🌐 Add Bengali translations for `docs/bn/docs/python-types.md`
  docs/bn/docs/python-types.md
Labels: lang-all, lang-bn, approved-1

#11271 🌐 Update Russian translations for deployments docs
  docs/ru/docs/deployment/concepts.md
  docs/ru/docs/deployment/docker.md
  docs/ru/docs/deployment/https.md
  docs/ru/docs/deployment/index.md
  docs/ru/docs/deployment/manually.md
Labels: lang-all, lang-ru, approved-1

#11400 📝 Fix typo in `docs/es/docs/async.md`
  docs/es/docs/async.md
Labels: docs

#11411 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/ru/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: lang-all, lang-ru, approved-1

#11430 🌐 Update Chinese translation for `docs/zh/docs/index.html`
  docs/zh/docs/index.md
Labels: lang-all, lang-zh, approved-1

#9929 🐛 Fix support for query parameters with list types, handle JSON encoding Pydantic `UndefinedType`
  fastapi/encoders.py
  tests/main.py
  tests/test_application.py
  tests/test_jsonable_encoder.py
  tests/test_query.py
Labels: bug, p1

#10886 ♻️ Simplify Pydantic configs in OpenAPI models in `fastapi/openapi/models.py`
  fastapi/openapi/models.py
Labels: refactor, p2

#11464 📝 Update references to UJSON
  README.md
  docs/bn/docs/index.md
  docs/em/docs/index.md
  docs/en/docs/index.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/hu/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pl/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
Labels: docs

#10535 📝 Fix types in examples under `docs_src/extra_data_types`
  docs_src/extra_data_types/tutorial001.py
  docs_src/extra_data_types/tutorial001_an.py
  docs_src/extra_data_types/tutorial001_an_py310.py
  docs_src/extra_data_types/tutorial001_an_py39.py
  docs_src/extra_data_types/tutorial001_py310.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an_py310.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an_py39.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_py310.py
Labels: docs, p2

#11465 🔧 Ungroup dependabot updates
  .github/dependabot.yml
Labels: internal

#11466 ⬆️ Upgrade MkDocs Material and re-enable cards
  docs/en/mkdocs.insiders.yml
  requirements-docs.txt
Labels: internal

#11455 ✏️ Fix typo in `security/http.py`
  fastapi/security/http.py
Labels: docs

#11410 🌐 Add Spanish translation for cookie-params `docs/es/docs/tutorial/cookie-params.md`
  docs/es/docs/tutorial/cookie-params.md
Labels: lang-all, lang-es, approved-1

#11443 🌐 Add Chinese translation for `docs/zh/docs/how-to/index.md` and `docs/zh/docs/how-to/general.md`
  docs/zh/docs/how-to/general.md
  docs/zh/docs/how-to/index.md
Labels: lang-all, lang-zh, approved-1

#11481 ✏️ Fix typo in `fastapi/security/api_key.py`
  fastapi/security/api_key.py
Labels: docs

#11476 🌐 Update Chinese translation for `docs/zh/docs/fastapi-people.md`
  docs/zh/docs/fastapi-people.md
Labels: lang-all, lang-zh, approved-1

#11484 🌐 Add Traditional Chinese translation for `docs/zh-hant/benchmarks.md`
  docs/zh-hant/docs/benchmarks.md
Labels: lang-all, lang-zh-hant, approved-1

#11498 🔧 Migrate from Hatch to PDM for the internal build
  .github/workflows/publish.yml
  fastapi/__init__.py
  pyproject.toml
  requirements-tests.txt
  requirements.txt
Labels: internal

#11499 🔨 Update internal scripts and remove unused ones
  scripts/build-docs.sh
  scripts/clean.sh
  scripts/docs-live.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/netlify-docs.sh
  scripts/publish.sh
Labels: internal

#11503 🔧 Add configs and setup for `fastapi-slim` including optional extras `fastapi-slim[standard]`, and `fastapi` including by default the same `standard` extras
  .github/workflows/publish.yml
  .github/workflows/test-redistribute.yml
  fastapi/__init__.py
  pdm_build.py
  pyproject.toml
Labels: refactor
