Repository fastapi/fastapi, pull requests merged in 2024-08, with the labels that each got.

#11933 👷 Update GitHub Action label-approved permissions
  .github/workflows/label-approved.yml
Labels: internal

#11934 🔧 Update sponsors: add liblab
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
  docs/en/docs/img/sponsors/liblab-banner.png
  docs/en/docs/img/sponsors/liblab.png
  docs/en/overrides/main.html
Labels: internal

#11931 🌐 Update Portuguese translation for `docs/pt/docs/alternatives.md`
  docs/pt/docs/alternatives.md
Labels: lang-all, lang-pt, approved-1

#11935 ♻️ Add support for `pip install "fastapi[standard]"` with standard dependencies and `python -m fastapi`
  README.md
  docs/em/docs/index.md
  docs/em/docs/tutorial/index.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/versions.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/security/first-steps.md
  fastapi/__main__.py
  fastapi/cli.py
  pdm_build.py
  pyproject.toml
  tests/test_fastapi_cli.py
Labels: breaking

#11788 🌐 Add French translation for `docs/fr/docs/tutorial/path-params-numeric-validations.md`
  docs/fr/docs/tutorial/path-params-numeric-validations.md
Labels: lang-all, lang-fr, approved-1

#11916 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/cors.md` and `docs/pt/docs/tutorial/middleware.md`
  docs/pt/docs/tutorial/cors.md
  docs/pt/docs/tutorial/middleware.md
Labels: lang-all, lang-pt, approved-1

#11856 🌐 Add Portuguese translation for `docs/pt/docs/advanced/sub-applications.md` and `docs/pt/docs/advanced/behind-a-proxy.md`
  docs/pt/docs/advanced/behind-a-proxy.md
  docs/pt/docs/advanced/sub-applications.md
Labels: lang-all, lang-pt, approved-2

#11944 🌐 Update typo in Chinese translation for `docs/zh/docs/advanced/testing-dependencies.md`
  docs/zh/docs/advanced/testing-dependencies.md
Labels: lang-all, lang-zh

#11949 🔇 Ignore warning from attrs in Trio
  pyproject.toml
Labels: internal

#11557 🌐 Update Chinese translation for `docs/zh/docs/tutorial/query-params.md`
  docs/zh/docs/tutorial/query-params.md
Labels: lang-all, lang-zh

#11796 🌐 Add French translation for `docs/fr/docs/tutorial/body-multiple-params.md`
  docs/fr/docs/tutorial/body-multiple-params.md
Labels: lang-all, awaiting-review, lang-fr

#11956 🌐 Add Portuguese translation for `docs/pt/docs/advanced/using-request-directly.md`
  docs/pt/docs/advanced/using-request-directly.md
Labels: lang-all, lang-pt, approved-1

#11961 👷🏻 Add deploy docs status and preview links to PRs
  .github/workflows/deploy-docs.yml
  scripts/comment_docs_deploy_url_in_pr.py
  scripts/deploy_docs_status.py
Labels: internal

#11964 🔒️ Update permissions for deploy-docs action
  .github/workflows/deploy-docs.yml
Labels: internal

#11965 🔨 Refactor script `deploy_docs_status.py` to account for deploy URLs with or without trailing slash
  scripts/deploy_docs_status.py
Labels: internal

#11975 👷 Update docs-previews to handle no docs changes
  .github/workflows/deploy-docs.yml
  scripts/deploy_docs_status.py
Labels: internal

#11974 👷 Add alls-green for test-redistribute
  .github/workflows/test-redistribute.yml
Labels: internal

#11976 💡 Add comment about custom Termynal line-height
  docs/en/docs/css/termynal.css
Labels: internal

#11984 🐛 Fix deploy docs previews script to handle mkdocs.yml files
  scripts/deploy_docs_status.py
Labels: internal

#11982 🔧 Update MkDocs instant previews
  docs/en/mkdocs.insiders.yml
  docs/en/mkdocs.yml
Labels: internal

#11985 📝 Update docs about discussions questions
  docs/en/docs/management-tasks.md
Labels: docs

#11986 🔨 Update docs.py script to enable dirty reload conditionally
  scripts/docs.py
Labels: internal

#11998 📝 Update admonitions in docs missing
  docs/de/docs/deployment/docker.md
  docs/em/docs/deployment/docker.md
  docs/en/docs/contributing.md
  docs/en/docs/deployment/docker.md
  docs/ja/docs/deployment/docker.md
  docs/ko/docs/deployment/docker.md
  docs/ko/docs/help-fastapi.md
  docs/pt/docs/deployment/docker.md
  docs/ru/docs/deployment/docker.md
  docs/zh/docs/deployment/docker.md
  docs/zh/docs/deployment/https.md
Labels: internal

#11999 👷 Add GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#12000 👷 Add GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#12001 🔧 Update labeler GitHub Action
  .github/labeler.yml
Labels: internal

#12002 👷 Update GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#12004 👷 Add label checker GitHub Action
  .github/workflows/label-checker.yml
Labels: internal

#12005 👷🏻 Add GitHub Action label-checker
  .github/workflows/labeler.yml
Labels: internal

#12008 👷 Update permissions and config for labeler GitHub Action
  .github/workflows/label-checker.yml
  .github/workflows/labeler.yml
Labels: internal

#12016 🔧 Update configs for MkDocs for languages and social cards
  docs/en/layouts/custom.yml
  docs/en/mkdocs.insiders.yml
  docs/en/mkdocs.yml
Labels: internal

#12019 👷🏻 Update Labeler GitHub Actions
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#12020 📝 Add documentation for non-translated pages and scripts to verify them
  docs/de/docs/external-links.md
  docs/de/docs/newsletter.md
  docs/de/docs/reference/apirouter.md
  docs/de/docs/reference/background.md
  docs/de/docs/reference/dependencies.md
  docs/de/docs/reference/encoders.md
  docs/de/docs/reference/exceptions.md
  docs/de/docs/reference/fastapi.md
  docs/de/docs/reference/httpconnection.md
  docs/de/docs/reference/index.md
  docs/de/docs/reference/middleware.md
  docs/de/docs/reference/openapi/docs.md
  docs/de/docs/reference/openapi/index.md
  docs/de/docs/reference/openapi/models.md
  docs/de/docs/reference/parameters.md
  docs/de/docs/reference/request.md
  docs/de/docs/reference/response.md
  docs/de/docs/reference/responses.md
  docs/de/docs/reference/security/index.md
  docs/de/docs/reference/staticfiles.md
  docs/de/docs/reference/status.md
  docs/de/docs/reference/templating.md
  docs/de/docs/reference/testclient.md
  docs/de/docs/reference/uploadfile.md
  docs/de/docs/reference/websockets.md
  docs/em/docs/external-links.md
  docs/en/docs/contributing.md
  docs/es/docs/external-links.md
  docs/es/docs/newsletter.md
  docs/fr/docs/external-links.md
  docs/ja/docs/external-links.md
  docs/pt/docs/external-links.md
  docs/pt/docs/reference/apirouter.md
  docs/pt/docs/reference/background.md
  docs/pt/docs/reference/exceptions.md
  docs/pt/docs/reference/index.md
  docs/ru/docs/external-links.md
  docs/tr/docs/external-links.md
  docs/tr/docs/newsletter.md
  scripts/docs.py
  scripts/mkdocs_hooks.py
Labels: docs

#12022 📝 Update docs section about "Don't Translate these Pages"
  docs/en/docs/contributing.md
Labels: docs

#11995 🌐 Add Portuguese translation for `docs/pt/docs/advanced/testing-dependencies.md`
  docs/pt/docs/advanced/testing-dependencies.md
Labels: lang-all, lang-pt, approved-1

#11994 🌐 Add Portuguese translation for `docs/pt/docs/advanced/testing-websockets.md`
  docs/pt/docs/advanced/testing-websockets.md
Labels: lang-all, lang-pt, approved-1

#11971 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/bigger-applications.md`
  docs/pt/docs/tutorial/bigger-applications.md
Labels: lang-all, lang-pt, changes-requested, approved-1

#11876 ⬆️ Allow Starlette 0.38.x, update the pin to `>=0.37.2,<0.39.0`
  pyproject.toml
Labels: upgrade, p2

#12024 👷 Do not sync labels as it overrides manually added labels
  .github/workflows/labeler.yml
Labels: internal

#11152 🔧 Add changelog URL to `pyproject.toml`, shows in PyPI
  pyproject.toml
Labels: internal, p2

#11415 📝 Update `docs/en/docs/tutorial/body.md` with Python 3.10 union type example
  docs/en/docs/tutorial/body.md
Labels: docs

#11818 📝 Fix inconsistent response code when item already exists in docs for testing
  docs_src/app_testing/app_b_an/main.py
  docs_src/app_testing/app_b_an/test_main.py
  docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py310/test_main.py
  docs_src/app_testing/app_b_an_py39/main.py
  docs_src/app_testing/app_b_an_py39/test_main.py
Labels: docs

#11350 📝 Add missing `compresslevel` parameter on docs for `GZipMiddleware`
  docs/en/docs/advanced/middleware.md
  docs_src/advanced_middleware/tutorial003.py
Labels: docs

#11390 📝 Several docs improvements, tweaks, and clarifications
  docs/de/docs/features.md
  docs/en/docs/advanced/additional-responses.md
  docs/en/docs/advanced/behind-a-proxy.md
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/features.md
  docs/en/docs/help-fastapi.md
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/background-tasks.md
  docs/en/docs/tutorial/body-nested-models.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/cookie-params.md
  docs/en/docs/tutorial/cors.md
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/en/docs/tutorial/extra-data-types.md
  docs/en/docs/tutorial/extra-models.md
  docs/en/docs/tutorial/header-params.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/schema-extra-example.md
Labels: docs

#12026 📝 Fix minor typo
  docs/en/docs/advanced/security/oauth2-scopes.md
Labels: docs

#11518 ⚙️ Record and show test coverage contexts (what test covers which line)
  pyproject.toml
  scripts/test-cov-html.sh
Labels: internal

#11947 🌐 Add Spanish translation for `docs/es/docs/project-generation.md`
  docs/en/docs/project-generation.md
  docs/es/docs/project-generation.md
Labels: docs, lang-all, lang-es, approved-1

#11515 🔨 Specify `email-validator` dependency with dash
  README.md
  docs/az/docs/index.md
  docs/bn/docs/index.md
  docs/de/docs/index.md
  docs/de/docs/tutorial/response-model.md
  docs/em/docs/index.md
  docs/em/docs/tutorial/response-model.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/response-model.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/hu/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pl/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/response-model.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
  pyproject.toml
Labels: docs, dependencies

#11996 📝 Edit the link to the OpenAPI "Responses Object" and "Response Object" sections in the "Additional Responses in OpenAPI" section
  docs/en/docs/advanced/additional-responses.md
Labels: docs

#11940 🙈 Add .coverage* to `.gitignore`
  .gitignore
Labels: internal

#12029 ⬆️ Upgrade griffe-typingdoc for the docs
  requirements-docs.txt
Labels: internal

#11950 🔊 Remove old ignore warnings
  pyproject.toml
Labels: internal

#12030 📝 Clarify management tasks for translations, multiples files in one PR
  docs/en/docs/management-tasks.md
Labels: docs

#12031 🔥 Remove Sentry link from Advanced Middleware docs
  docs/de/docs/advanced/middleware.md
  docs/em/docs/advanced/middleware.md
  docs/en/docs/advanced/middleware.md
  docs/zh/docs/advanced/middleware.md
Labels: docs

#11942 🔨 Standardize shebang across shell scripts
  scripts/format.sh
Labels: internal

#12032 ⬆️ Upgrade version of Ruff and reformat
  .github/actions/people/app/main.py
  .pre-commit-config.yaml
  fastapi/dependencies/utils.py
  fastapi/routing.py
  fastapi/utils.py
  requirements-tests.txt
  tests/test_dependency_contextmanager.py
  tests/test_inherited_custom_class.py
Labels: refactor

#10240 🎨 Fix typing annotation for semi-internal `FastAPI.add_api_route()`
  fastapi/applications.py
Labels: refactor

#10046 🌐 Update Urdu translation for `docs/ur/docs/benchmarks.md`
  docs/ur/docs/benchmarks.md
Labels: lang-all, approved-2, lang-ur

#11168 ✏️ Fix import typo in reference example for `Security`
  fastapi/param_functions.py
Labels: docs

#12034 📝 Update FastAPI People, do not translate to have the most recent info
  docs/az/docs/fastapi-people.md
  docs/de/docs/fastapi-people.md
  docs/em/docs/fastapi-people.md
  docs/en/data/members.yml
  docs/fr/docs/fastapi-people.md
  docs/ja/docs/fastapi-people.md
  docs/pl/docs/fastapi-people.md
  docs/pt/docs/fastapi-people.md
  docs/ru/docs/fastapi-people.md
  docs/tr/docs/fastapi-people.md
  docs/uk/docs/fastapi-people.md
  docs/zh-hant/docs/fastapi-people.md
  docs/zh/docs/fastapi-people.md
  scripts/docs.py
  scripts/mkdocs_hooks.py
Labels: lang-all

#12035 🔧 Update coverage config files
  .github/workflows/test.yml
  pyproject.toml
  scripts/test-cov-html.sh
Labels: internal

#12036 📝 Move the Features docs to the top level to improve the main page menu
  docs/en/mkdocs.yml
Labels: docs

#12037 📝 Add Asyncer mention in async docs
  docs/en/docs/async.md
Labels: docs

#12028 🌐 Update docs about dependencies with yield
  docs/zh/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, lang-zh, approved-1

#12044 📝 Update Spanish translation docs for consistency
  docs/es/docs/advanced/additional-status-codes.md
  docs/es/docs/advanced/index.md
  docs/es/docs/advanced/path-operation-advanced-configuration.md
  docs/es/docs/advanced/response-directly.md
  docs/es/docs/advanced/response-headers.md
  docs/es/docs/advanced/security/index.md
  docs/es/docs/async.md
  docs/es/docs/deployment/versions.md
  docs/es/docs/features.md
  docs/es/docs/how-to/graphql.md
  docs/es/docs/python-types.md
  docs/es/docs/tutorial/cookie-params.md
  docs/es/docs/tutorial/first-steps.md
  docs/es/docs/tutorial/path-params.md
  docs/es/docs/tutorial/query-params.md
Labels: lang-all, lang-es, approved-1

#11592 🌐 Add Japanese translation for `docs/ja/docs/learn/index.md`
  docs/ja/docs/learn/index.md
Labels: lang-all, lang-ja, approved-1

#12054 📝 Add docs about Environment Variables and Virtual Environments
  README.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/contributing.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/environment-variables.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/request-forms-and-files.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
  docs/en/docs/virtual-environments.md
  docs/en/mkdocs.yml
Labels: docs

#12064 📝 Fix a typo in virtual environement page
  docs/en/docs/virtual-environments.md
Labels: docs

#9630 🐛 Ensure that `app.include_router` merges nested lifespans
  fastapi/routing.py
  tests/test_router_events.py
Labels: bug, p1

#11867 🐛 Fix `allow_inf_nan` option for Param and Body classes
  fastapi/params.py
  tests/test_allow_inf_nan_in_enforcing.py
Labels: bug

#11960 📝 Add note in Docker docs about ensuring graceful shutdowns and lifespan events with `CMD` exec form
  docs/en/docs/deployment/docker.md
Labels: docs

#12063 📝 Fix minor typos and issues in the documentation
  README.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/async.md
  docs/en/docs/index.md
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/body-multiple-params.md
  docs/en/docs/tutorial/body-updates.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/cors.md
  docs/en/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/en/docs/tutorial/extra-data-types.md
  docs/en/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/middleware.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/schema-extra-example.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/security/get-current-user.md
Labels: docs

#12067 📝 Clarify `response_class` parameter, validations, and returning a response directly
  docs/en/docs/advanced/custom-response.md
Labels: docs

#12069 📝 Update docs about serving FastAPI: ASGI servers, Docker containers, etc.
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/alternatives.md
  docs/en/docs/contributing.md
  docs/en/docs/deployment/concepts.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/deployment/versions.md
  docs/en/docs/tutorial/bigger-applications.md
Labels: docs

#12073 👷 Update `latest-changes` GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal

#12062 📝 Update comma in `docs/en/docs/async.md`
  docs/en/docs/async.md
Labels: docs

#11478 📝 Update `docs_src/path_params_numeric_validations/tutorial006.py`
  docs_src/path_params_numeric_validations/tutorial006.py
  docs_src/path_params_numeric_validations/tutorial006_an.py
  docs_src/path_params_numeric_validations/tutorial006_an_py39.py
Labels: docs

#12042 🌐 Add Dutch translation for `docs/nl/docs/index.md`
  docs/en/mkdocs.yml
  docs/nl/docs/index.md
  docs/nl/mkdocs.yml
Labels: lang-all, lang-nl, approved-1

#12085 🔧 Update sponsors, remove Kong
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#12084 📝 Fix async test example not to trigger DeprecationWarning
  docs/de/docs/advanced/async-tests.md
  docs/em/docs/advanced/async-tests.md
  docs/en/docs/advanced/async-tests.md
  docs/pt/docs/advanced/async-tests.md
  docs_src/async_tests/test_main.py
Labels: docs

#11957 📝 Tweak middleware code sample `time.time()` to `time.perf_counter()`
  docs_src/middleware/tutorial001.py
Labels: docs

#12095 📝 Add note about `time.perf_counter()` in middlewares
  docs/en/docs/tutorial/middleware.md
Labels: docs

#12096 🔧 Update labeler config to handle sponsorships data
  .github/labeler.yml
Labels: internal

#12097 🔧 Update sponsors link: Coherence
  docs/en/overrides/main.html
Labels: internal

#12098 ♻️ Refactor and simplify dependencies data structures with dataclasses
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
Labels: refactor

#12099 ♻️ Refactor and simplify internal `analyze_param()` to structure data with dataclasses instead of tuple
  fastapi/dependencies/utils.py
Labels: refactor

#12100 ♻️ Refactor and simplify internal data from `solve_dependencies()` using dataclasses
  fastapi/dependencies/utils.py
  fastapi/routing.py
Labels: refactor

#12103 ♻️ Rename internal `create_response_field()` to `create_model_field()` as it's used for more than response models
  fastapi/dependencies/utils.py
  fastapi/routing.py
  fastapi/utils.py
Labels: refactor
