Repository fastapi/fastapi, pull requests merged in 2024-07, with the labels that each got.

#11775 🌐 Add Portuguese translation for `docs/pt/docs/advanced/advanced-dependencies.md`
  docs/pt/docs/advanced/advanced-dependencies.md
Labels: lang-all, lang-pt, approved-1

#11784 🔧 Update sponsors: add Fine
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/fine-banner.png
  docs/en/docs/img/sponsors/fine.png
  docs/en/overrides/main.html
Labels: internal

#11787 📝 Fix image missing in French translation for `docs/fr/docs/async.md`
  docs/fr/docs/async.md
Labels: lang-all, lang-fr

#11781 🌐 Update Chinese translation for `docs/tutorial/security/oauth2-jwt.md`
  docs/zh/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, lang-zh, approved-1

#11791 🌐 Add Portuguese translation for `docs/pt/docs/advanced/openapi-webhooks.md`
  docs/pt/docs/advanced/openapi-webhooks.md
Labels: lang-all, lang-pt, approved-1

#11786 🌐 Add Chinese translation for `docs/zh/docs/fastapi-cli.md`
  docs/zh/docs/fastapi-cli.md
Labels: lang-all, lang-zh, approved-1

#11804 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/dependencies/dependencies-in-path-operation-operators.md`
  docs/pt/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: lang-all, lang-pt, approved-1

#11809 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/first-steps.md`
  docs/uk/docs/tutorial/first-steps.md
Labels: lang-all, lang-uk, approved-1

#11792 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/dependencies/sub-dependencies.md`
  docs/pt/docs/tutorial/dependencies/sub-dependencies.md
Labels: docs, lang-all, lang-pt, approved-1

#11808 🌐 Add Portuguese translation for `docs/pt/docs/advanced/async-tests.md`
  docs/pt/docs/advanced/async-tests.md
Labels: lang-all, lang-pt, approved-1

#11825 🌐 Add Portuguese translation for `docs/pt/docs/how-to/general.md`
  docs/pt/docs/how-to/general.md
Labels: lang-all, lang-pt, approved-1

#11826 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/dependencies/global-dependencies.md`
  docs/pt/docs/tutorial/dependencies/global-dependencies.md
Labels: lang-all, lang-pt, approved-1

#11834 🌐 Add Portuguese translation for `docs/pt/docs/reference/exceptions.md`
  docs/pt/docs/reference/exceptions.md
Labels: lang-all, lang-pt, approved-1

#11628 ✏️ Fix links to alembic example repo in docs
  docs/em/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/sql-databases.md
  docs/zh/docs/tutorial/sql-databases.md
Labels: docs

#11317 📝 Update fastapi instrumentation external link
  docs/en/data/external_links.yml
Labels: docs

#11797 📝 Update docs with Ariadne reference from Starlette to FastAPI
  docs/de/docs/how-to/graphql.md
  docs/em/docs/how-to/graphql.md
  docs/en/docs/how-to/graphql.md
Labels: docs

#11836 🌐 Fix link in German translation
  docs/de/docs/index.md
Labels: docs, lang-all, lang-de

#11840 🌐 Add Portuguese translation for `docs/pt/docs/reference/index.md`
  docs/pt/docs/reference/index.md
Labels: lang-all, lang-pt, approved-1

#11697 🌐 Add Spanish translation for `docs/es/docs/how-to/graphql.md`
  docs/es/docs/how-to/graphql.md
Labels: lang-all, lang-es, awaiting-review

#11744 📝 Update Hypercorn links in all the docs
  docs/bn/docs/index.md
  docs/de/docs/deployment/manually.md
  docs/de/docs/index.md
  docs/em/docs/deployment/manually.md
  docs/en/docs/deployment/manually.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/deployment/manually.md
  docs/he/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/deployment/manually.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pl/docs/index.md
  docs/pt/docs/deployment.md
  docs/pt/docs/index.md
  docs/ru/docs/deployment/manually.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/zh/docs/deployment/manually.md
  docs/zh/docs/index.md
Labels: docs

#11777 ♻️ Simplify internal docs script
  scripts/mkdocs_hooks.py
Labels: internal

#11716 ✏️ Rewording in `docs/en/docs/fastapi-cli.md`
  docs/en/docs/fastapi-cli.md
Labels: docs

#11842 ➖ Remove orjson and ujson from default dependencies
  README.md
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/index.md
  pyproject.toml
Labels: upgrade

#11843 🌐 Add Portuguese translation for `docs/pt/docs/reference/apirouter.md`
  docs/pt/docs/reference/apirouter.md
Labels: lang-all, lang-pt, approved-1

#11854 🔨 Update docs Termynal scripts to not include line nums for local dev
  docs/en/docs/css/custom.css
  docs/en/docs/js/custom.js
Labels: internal

#11861 🔧 Update sponsors: remove TalkPython
  README.md
  docs/en/data/sponsors.yml
Labels: internal

#11848 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/pt/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, lang-pt, approved-1

#11849 🌐 Add Portuguese translation for `docs/pt/docs/reference/background.md`
  docs/pt/docs/reference/background.md
Labels: lang-all, lang-pt, approved-1

#11871 📝 Update Speakeasy URL
  README.md
  docs/de/docs/advanced/generate-clients.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
Labels: docs

#11875 🔧 Update sponsors, remove Reflex
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#11863 🌐 Add Portuguese translation for `docs/pt/docs/advanced/response-change-status-code.md`
  docs/pt/docs/advanced/response-change-status-code.md
Labels: lang-all, lang-pt, approved-1

#10515 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/sub-dependencies.md`
  docs/ru/docs/tutorial/dependencies/sub-dependencies.md
Labels: lang-all, lang-ru, approved-1

#11904 📝 Re-structure docs main menu
  docs/de/docs/features.md
  docs/de/docs/help/index.md
  docs/de/docs/index.md
  docs/em/docs/features.md
  docs/em/docs/index.md
  docs/en/docs/features.md
  docs/en/docs/help/index.md
  docs/en/docs/index.md
  docs/en/docs/reference/index.md
  docs/en/mkdocs.yml
  docs/es/docs/features.md
  docs/es/docs/help/index.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/features.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/ja/docs/features.md
  docs/ja/docs/index.md
  docs/ko/docs/features.md
  docs/ko/docs/help/index.md
  docs/ko/docs/index.md
  docs/pl/docs/features.md
  docs/pl/docs/index.md
  docs/pt/docs/features.md
  docs/pt/docs/help/index.md
  docs/pt/docs/index.md
  docs/ru/docs/features.md
  docs/ru/docs/index.md
  docs/tr/docs/features.md
  docs/tr/docs/help/index.md
  docs/tr/docs/index.md
  docs/vi/docs/features.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh/docs/features.md
  docs/zh/docs/index.md
Labels: docs

#11907 👷 Update GitHub Action to notify translations with label `approved-1`
  .github/actions/notify-translations/app/main.py
Labels: internal

#11908 📝 Add docs about FastAPI team and project management
  docs/en/data/members.yml
  docs/en/docs/fastapi-people.md
  docs/en/docs/management-tasks.md
  docs/en/docs/management.md
  docs/en/mkdocs.yml
Labels: docs

#11909 🌐 Add Portuguese translation for `docs/pt/docs/advanced/wsgi.md`
  docs/pt/docs/advanced/wsgi.md
Labels: lang-all, lang-pt, approved-2

#11914 👷 Update GitHub Actions token usage
  .github/workflows/deploy-docs.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
Labels: internal

#11915 👷 Update token permissions for GitHub Actions
  .github/workflows/deploy-docs.yml
  .github/workflows/notify-translations.yml
Labels: internal

#11917 👷 Update token permissions to comment deployment URL in docs
  .github/workflows/deploy-docs.yml
Labels: internal

#11918 📝 Tweak management docs
  docs/en/docs/management.md
Labels: docs

#11924 👷 Update tokens for GitHub Actions
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
Labels: internal

#11926 ✏️ Fix typos in docs
  docs/en/docs/management.md
  docs_src/dataclasses/tutorial002.py
  docs_src/dataclasses/tutorial003.py
  tests/test_tutorial/test_dataclasses/test_tutorial002.py
  tests/test_tutorial/test_dataclasses/test_tutorial003.py
Labels: docs

#11925 👷 Refactor GitHub Action to comment docs deployment URLs and update token
  .github/actions/comment-docs-preview-in-pr/Dockerfile
  .github/actions/comment-docs-preview-in-pr/action.yml
  .github/actions/comment-docs-preview-in-pr/app/main.py
  .github/workflows/deploy-docs.yml
  requirements-github-actions.txt
  scripts/comment_docs_deploy_url_in_pr.py
Labels: internal
