Repository fastapi/fastapi, pull requests merged in 2024-11, with the labels that each got.

#12743 🌐 Add Korean translation for `docs/ko/docs/security/index.md`
  docs/ko/docs/security/index.md
Labels: lang-all, lang-ko, approved-1

#12741 🌐 Add Korean translation for `docs/ko/docs/advanced/testing-events.md`
  docs/ko/docs/advanced/testing-events.md
Labels: lang-all, approved-2, lang-ko

#12738 🌐 Add Korean translation for `docs/ko/docs/advanced/using_request_directly.md`
  docs/ko/docs/advanced/using-request-directly.md
Labels: lang-all, lang-ko, approved-1

#12731 🌐 Add Korean translation for `docs/ko/docs/how-to/conditional-openapi.md`
  docs/ko/docs/how-to/conditional-openapi.md
Labels: lang-all, lang-ko, approved-1

#12675 🌐 Add Korean translation for `docs/ko/docs/advanced/advanced-dependencies.md`
  docs/ko/docs/advanced/advanced-dependencies.md
Labels: lang-all, lang-ko, approved-1

#12646 🌐 Add Korean translation for `docs/ko/docs/history-design-future.md`
  docs/ko/docs/history-design-future.md
Labels: lang-all, lang-ko, approved-1

#12526 🌐 Add Korean translation for `/docs/ko/docs/environment-variables.md`
  docs/ko/docs/environment-variables.md
Labels: lang-all, approved-2, lang-ko

#12790 🌐 Add Chinese translation for `docs/zh/docs/virtual-environments.md`
  docs/zh/docs/virtual-environments.md
Labels: lang-all, lang-zh, approved-2

#12740 🌐 Add Korean translation for `ko/docs/advanced/response-headers.md`
  docs/ko/docs/advanced/response-headers.md
Labels: lang-all, approved-2, lang-ko

#12690 📝 Update includes for `docs/de/docs/how-to/configure-swagger-ui.md`
  docs/de/docs/how-to/configure-swagger-ui.md
Labels: docs

#12592 📝 Update includes in `docs/fr/docs/tutorial/path-params.md`
  docs/fr/docs/tutorial/path-params.md
Labels: docs

#12658 📝 Update includes for `docs/de/docs/advanced/dataclasses.md`
  docs/de/docs/advanced/dataclasses.md
Labels: docs

#12660 📝 Update includes for `docs/de/docs/python-types.md`
  docs/de/docs/python-types.md
Labels: docs

#12671 📝 Update includes for `docs/pt/docs/python-types.md`
  docs/pt/docs/python-types.md
Labels: docs

#12797 📝 Update includes for `docs/en/docs/advanced/custom-response.md`
  docs/en/docs/advanced/custom-response.md
Labels: docs

#12736 📝 Update includes in `docs/pt/docs/tutorial/background-tasks.md`
  docs/pt/docs/tutorial/background-tasks.md
Labels: docs

#12593 📝 Update includes in `docs/en/docs/tutorial/body-multiple-params.md`
  docs/en/docs/tutorial/body-multiple-params.md
Labels: docs

#12598 📝 Update includes in `docs/fr/docs/tutorial/body-multiple-params.md`
  docs/fr/docs/tutorial/body-multiple-params.md
Labels: docs

#12801 📝 Update includes `docs/en/docs/advanced/response-change-status-code.md`
  docs/en/docs/advanced/response-change-status-code.md
Labels: docs

#12799 📝 Update includes in `docs/em/docs/tutorial/body-updates.md`
  docs/em/docs/tutorial/body-updates.md
Labels: docs

#12699 📝 Update includes for `docs/de/docs/tutorial/body-multiple-params.md`
  docs/de/docs/tutorial/body-multiple-params.md
Labels: docs

#12798 📝 Update includes in `docs/zh/docs/tutorial/background-tasks.md`
  docs/zh/docs/tutorial/background-tasks.md
Labels: docs

#12803 📝 Update includes for `docs/en/docs/advanced/response-directly.md`
  docs/en/docs/advanced/response-directly.md
Labels: docs

#12802 📝 Update includes in `docs/en/docs/advanced/path-operation-advanced-configuration.md`
  docs/en/docs/advanced/path-operation-advanced-configuration.md
Labels: docs

#12804 📝 Update includes in `docs/en/docs/advanced/response-cookies.md`
  docs/en/docs/advanced/response-cookies.md
Labels: docs

#12594 📝 Update includes in `docs/fr/docs/tutorial/first-steps.md`
  docs/fr/docs/tutorial/first-steps.md
Labels: docs

#12805 📝 Update includes in `docs/en/docs/advanced/response-headers.md`
  docs/en/docs/advanced/response-headers.md
Labels: docs

#12784 🌐 Add Chinese translation for `docs/zh/docs/environment-variables.md`
  docs/zh/docs/environment-variables.md
Labels: lang-all, lang-zh, approved-1

#12785 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/environment-variables.md`
  docs/zh-hant/docs/environment-variables.md
Labels: lang-all, lang-zh-hant, approved-1

#12739 🌐 Add Korean translation for `docs/ko/docs/advanced/testing-websockets.md`
  docs/ko/docs/advanced/testing-websockets.md
Labels: lang-all, lang-ko, approved-1

#12806 📝 Update includes in `docs/en/docs/advanced/sub-applications.md`
  docs/en/docs/advanced/sub-applications.md
Labels: docs

#12807 📝 Update includes in `docs/en/docs/tutorial/middleware.md`
  docs/en/docs/tutorial/middleware.md
Labels: docs

#12808 📝 Updates include for `docs/en/docs/tutorial/cookie-params.md`
  docs/en/docs/tutorial/cookie-params.md
Labels: docs

#12606 📝 Update includes in `docs/en/docs/advanced/websockets.md`
  docs/en/docs/advanced/websockets.md
Labels: docs

#12621 📝 Update includes in `docs/en/docs/tutorial/response-model.md`
  docs/en/docs/tutorial/response-model.md
Labels: docs

#12811 📝 Update includes in `docs/en/docs/tutorial/path-params.md`
  docs/en/docs/tutorial/path-params.md
Labels: docs

#12817 📝 Update includes for `docs/en/docs/tutorial/query-param-models.md`
  docs/en/docs/tutorial/query-param-models.md
Labels: docs

#12818 📝 Update includes in `docs/en/docs/tutorial/request-files.md`
  docs/en/docs/tutorial/request-files.md
Labels: docs

#12809 📝 Update includes in `docs/en/docs/tutorial/path-operation-configuration.md`
  docs/en/docs/tutorial/path-operation-configuration.md
Labels: docs

#12812 📝 Update includes in `docs/en/docs/tutorial/body-nested-models.md`
  docs/en/docs/tutorial/body-nested-models.md
Labels: docs

#12810 📝 Update includes for `docs/en/docs/tutorial/dependencies/sub-dependencies.md`
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
Labels: docs

#12637 📝 Update includes for `docs/en/docs/tutorial/cors.md`
  docs/en/docs/tutorial/cors.md
Labels: docs

#12638 📝 Update includes for `docs/en/docs/tutorial/extra-models.md`
  docs/en/docs/tutorial/extra-models.md
Labels: docs

#12639 📝 Update includes in `docs/en/docs/tutorial/cookie-param-models.md`
  docs/en/docs/tutorial/cookie-param-models.md
Labels: docs

#12640 📝 Update includes for `docs/en/docs/tutorial/header-params.md`
  docs/en/docs/tutorial/header-params.md
Labels: docs

#12632 📝 Update includes in `docs/fr/docs/advanced/response-directly.md`
  docs/fr/docs/advanced/response-directly.md
Labels: docs

#12633 📝 Update includes in `docs/fr/docs/advanced/path-operation-advanced-configuration.md`
  docs/fr/docs/advanced/path-operation-advanced-configuration.md
Labels: docs

#12634 📝 Update includes in `docs/fr/docs/advanced/additional-responses.md`
  docs/fr/docs/advanced/additional-responses.md
Labels: docs

#12822 📝 Update includes for `docs/en/docs/tutorial/schema-extra-example.md`
  docs/de/docs/tutorial/schema-extra-example.md
  docs/en/docs/tutorial/schema-extra-example.md
  docs/ko/docs/tutorial/schema-extra-example.md
  docs_src/schema_extra_example/tutorial001_pv1_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial001_pv1_py310.py
Labels: docs

#12729 📝 Update includes in `docs/de/docs/tutorial/middleware.md`
  docs/de/docs/tutorial/middleware.md
Labels: docs

#12758 📝 Update includes for `docs/advanced/wsgi.md`
  docs/en/docs/advanced/wsgi.md
Labels: docs

#12760 📝 Update includes for `docs/en/docs/advanced/using-request-directly.md`
  docs/en/docs/advanced/using-request-directly.md
Labels: docs

#12761 📝 Update includes for `docs/en/docs/advanced/testing-websockets.md`
  docs/en/docs/advanced/testing-websockets.md
Labels: docs

#12825 📝 Update includes in `docs/en/docs/tutorial/path-params-numeric-validations.md`
  docs/en/docs/tutorial/path-params-numeric-validations.md
Labels: docs

#12828 📝 Update includes in `docs/zh/docs/advanced/additional-responses.md`
  docs/zh/docs/advanced/additional-responses.md
Labels: docs

#12642 📝 Update includes in `docs/en/docs/advanced/generate-clients.md`
  docs/en/docs/advanced/generate-clients.md
Labels: docs

#12821 📝 Update includes in `docs/de/docs/advanced/additional-responses.md`
  docs/de/docs/advanced/additional-responses.md
Labels: docs

#12643 📝 Update includes for `docs/en/docs/tutorial/security/first-steps.md`
  docs/en/docs/tutorial/security/first-steps.md
Labels: docs

#12645 📝 Update includes for `docs/en/docs/tutorial/security/get-current-user.md`
  docs/en/docs/tutorial/security/get-current-user.md
Labels: docs

#12819 ✏️ Fix error in `docs/en/docs/tutorial/middleware.md`
  docs/en/docs/tutorial/middleware.md
Labels: docs

#12856 🔨 Update docs preview script to show previous version and English version
  scripts/deploy_docs_status.py
Labels: internal

#12813 📝 Update includes for `docs/en/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/en/docs/tutorial/dependencies/classes-as-dependencies.md
Labels: docs

#12815 📝 Update includes for `docs/en/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/en/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: docs

#12769 📝 Update includes for `docs/pt/docs/advanced/wsgi.md`
  docs/pt/docs/advanced/wsgi.md
Labels: docs

#12754 📝 Update includes in `docs/vi/docs/tutorial/first-steps.md`
  docs/vi/docs/tutorial/first-steps.md
Labels: docs

#12650 📝 Update includes in `docs/en/docs/tutorial/security/oauth2-jwt.md`
  docs/en/docs/tutorial/security/oauth2-jwt.md
Labels: docs

#12649 📝 Update includes in `docs/en/docs/tutorial/request-form-models.md`
  docs/en/docs/tutorial/request-form-models.md
Labels: docs

#12648 📝 Update includes in `docs/en/docs/tutorial/request-forms.md`
  docs/en/docs/tutorial/request-forms.md
Labels: docs

#12841 📝 Update `contributing.md` docs, include note to not translate this page
  docs/de/docs/contributing.md
  docs/em/docs/contributing.md
  docs/en/docs/contributing.md
  docs/fr/docs/contributing.md
  docs/ja/docs/contributing.md
  docs/pt/docs/contributing.md
  docs/ru/docs/contributing.md
  docs/zh/docs/contributing.md
  scripts/docs.py
Labels: docs

#12814 📝 Update includes in `docs/en/docs/tutorial/header-param-models.md`
  docs/en/docs/tutorial/header-param-models.md
Labels: docs

#12742 📝 Remove mention of Celery in the project generators
  docs/de/docs/tutorial/background-tasks.md
  docs/em/docs/tutorial/background-tasks.md
  docs/en/docs/tutorial/background-tasks.md
  docs/fr/docs/tutorial/background-tasks.md
  docs/ja/docs/tutorial/background-tasks.md
  docs/ko/docs/tutorial/background-tasks.md
  docs/pt/docs/tutorial/background-tasks.md
  docs/ru/docs/tutorial/background-tasks.md
  docs/zh/docs/tutorial/background-tasks.md
Labels: docs

#12712 📝 Update includes for `docs/en/docs/tutorial/body-updates.md`
  docs/en/docs/tutorial/body-updates.md
Labels: docs

#12653 📝 Update includes for `docs/en/docs/tutorial/dependencies/global-dependencies.md`
  docs/en/docs/tutorial/dependencies/global-dependencies.md
Labels: docs

#12045 📝 Update `docs/en/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: docs

#12773 📝 Update includes for `docs/en/docs/tutorial/metadata.md`
  docs/en/docs/tutorial/metadata.md
Labels: docs

#12647 📝 Update includes in `docs/en/docs/advanced/testing-dependencies.md`
  docs/en/docs/advanced/testing-dependencies.md
Labels: docs

#12914 ♻️ Update internal checks to support Pydantic 2.10
  fastapi/_compat.py
  fastapi/params.py
Labels: refactor

#12685 📝 Update includes for `docs/de/docs/advanced/using-request-directly.md`
  docs/de/docs/advanced/using-request-directly.md
Labels: docs

#12949 🔥 Remove obsolete tutorial translation to Chinese for `docs/zh/docs/tutorial/sql-databases.md`, it references files that are no longer on the repo
  docs/zh/docs/tutorial/sql-databases.md
Labels: lang-all, lang-zh

#12940 🌐 Add Korean translation for `docs/ko/docs/tutorial/query-param-models.md`
  docs/ko/docs/tutorial/query-param-models.md
Labels: lang-all, lang-ko, approved-1

#12971 ♻️ Update tests and internals for compatibility with Pydantic >=2.10
  fastapi/_compat.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_py310.py
Labels: refactor

#12445 🌐 Add Russian translation for `docs/ru/docs/tutorial/query-param-models.md`
  docs/ru/docs/tutorial/query-param-models.md
Labels: lang-all, lang-ru, approved-1

#12931 🌐 Add Chinese translation for `docs/zh/docs/tutorial/query-param-models.md`
  docs/zh/docs/tutorial/query-param-models.md
Labels: lang-all, lang-zh, approved-2

#12752 🌐 Add Korean translation for `docs/ko/docs/advanced/openapi-webhooks.md`
  docs/ko/docs/openapi-webhooks.md
Labels: lang-all, approved-2, lang-ko

#12753 🌐 Add Korean translation for `docs/ko/docs/advanced/middlewares.md`
  docs/ko/docs/advanced/middlewares.md
Labels: lang-all, lang-ko, approved-1

#12933 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/response-model.md`
  docs/pt/docs/tutorial/response-model.md
Labels: lang-all, lang-pt, approved-2

#12991 🌐 Add Korean translation for `docs/ko/docs/advanced/websockets.md`
  docs/ko/docs/advanced/websockets.md
Labels: lang-all, lang-ko, approved-1

#12932 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/tutorial/query-param-models.md`
  docs/zh-hant/docs/tutorial/query-param-models.md
Labels: lang-all, approved-2, lang-zh-hant

#12990 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/async.md`
  docs/zh-hant/docs/async.md
Labels: lang-all, lang-zh-hant, approved-1
