Repository fastapi/fastapi, pull requests merged in 2024-12, with the labels that each got.

#5823 🐛 Preserve traceback when exception is raised in sync dependency with `yield`
  fastapi/concurrency.py
  tests/test_exception_handlers.py
Labels: bug

#13031 📝 Update docs for `fastapi-cli`
  docs/en/docs/fastapi-cli.md
  tests/test_fastapi_cli.py
Labels: docs

#13032 📝 Update sponsors: remove Codacy
  README.md
  docs/en/data/sponsors.yml
Labels: internal

#13033 🔧 Update team members
  docs/en/data/members.yml
Labels: internal

#12467 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/tutorial/first-steps.md`
  docs/zh-hant/docs/tutorial/first-steps.md
Labels: lang-all, approved-2, lang-zh-hant

#12715 🌐 Add Korean translation to `docs/ko/docs/advanced/additional-status-codes.md`
  docs/ko/docs/advanced/additional-status-codes.md
Labels: lang-all, approved-2, lang-ko

#12898 🌐 Add Korean translation for `docs/ko/docs/how-to/configure-swagger-ui.md`
  docs/ko/docs/how-to/configure-swagger-ui.md
Labels: lang-all, lang-ko, approved-1

#13003 🌐 Add Korean translation for `docs/ko/docs/tutorial/request-forms.md`
  docs/ko/docs/tutorial/request-forms.md
Labels: lang-all, lang-ko, approved-1

#13002 🌐 Add Korean translation for `docs/ko/docs/tutorial/request-form-models.md`
  docs/ko/docs/tutorial/request-form-models.md
Labels: lang-all, lang-ko, approved-1

#13001 🌐 Add Korean translation for `docs/ko/docs/tutorial/header-param-models.md`
  docs/ko/docs/tutorial/header-param-models.md
Labels: lang-all, approved-2, lang-ko

#13000 🌐 Add Korean translation for `docs/ko/docs/tutorial/cookie-param-models.md`
  docs/ko/docs/tutorial/cookie-param-models.md
Labels: lang-all, lang-ko, approved-1

#13011 ✏️ Fix typo in README installation instructions
  README.md
  docs/en/docs/index.md
Labels: docs

#12994 📝 Update includes in `docs/ru/docs/tutorial/query-param-models.md`
  docs/ru/docs/tutorial/query-param-models.md
Labels: docs

#12726 🌐 Add Korean translation for `docs/ko/docs/advanced/templates.md`
  docs/ko/docs/advanced/templates.md
Labels: lang-all, approved-2, lang-ko

#12791 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/virtual-environments.md`
  docs/zh-hant/docs/virtual-environments.md
Labels: lang-all, approved-2, lang-zh-hant

#12441 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/features.md`
  docs/zh-hant/docs/features.md
Labels: lang-all, lang-zh-hant, approved-1

#10594 🌐 Add Russian translation for `docs/ru/docs/tutorial/security/get-current-user.md`
  docs/ru/docs/tutorial/security/get-current-user.md
Labels: lang-all, lang-ru, approved-2

#10599 🌐 Add Russian translation for `docs/ru/docs/tutorial/security/simple-oauth2.md`
  docs/ru/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, lang-ru, approved-2

#10601 🌐 Add Russian translation for `docs/ru/docs/tutorial/security/oauth2-jwt.md`
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, lang-ru, approved-1

#12918 🌐 Add Korean translation for `docs/ko/docs/advanced/async-test.md`
  docs/ko/docs/advanced/async-tests.md
Labels: lang-all, lang-ko, approved-1

#13026 🌐 Add Russian translation for `docs/ru/docs/virtual-environments.md`
  docs/ru/docs/virtual-environments.md
Labels: lang-all, lang-ru, approved-2

#13045 🌐 Add Chinese translation for `docs/zh/docs/tutorial/request-form-models.md`
  docs/zh/docs/tutorial/request-form-models.md
Labels: lang-all, lang-zh, approved-2

#13042 🌐 Add Indonesian translation for `docs/id/docs/tutorial/first-steps.md`
  docs/id/docs/tutorial/first-steps.md
Labels: lang-all, approved-2, lang-id

#13030 🌐 Add Portuguese translation for `docs/pt/docs/advanced/generate-clients.md`
  docs/pt/docs/advanced/generate-clients.md
Labels: lang-all, lang-pt, approved-2

#13048 🌐 Update Russian translation for `docs/ru/docs/deployment/docker.md`
  docs/ru/docs/deployment/docker.md
Labels: lang-all, lang-ru, approved-2

#13078 🔧 Update sponsors: rename CryptAPI to BlockBee
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/img/sponsors/blockbee-banner.png
  docs/en/docs/img/sponsors/blockbee.png
  docs/en/overrides/main.html
Labels: internal

#12923 🌐 Update Chinese translation for `docs/zh/docs/tutorial/first-steps.md`
  docs/zh/docs/tutorial/first-steps.md
Labels: lang-all, lang-zh, approved-1

#12926 🌐 Update Chinese translation for `docs/zh/docs/tutorial/path-params.md`
  docs/zh/docs/tutorial/path-params.md
Labels: lang-all, lang-zh, approved-1

#13040 🌐 Add Chinese translation for `docs/zh/docs/tutorial/header-param-models.md`
  docs/zh/docs/tutorial/header-param-models.md
Labels: lang-all, lang-zh, approved-1

#12928 🌐 Update Chinese translation for `docs/zh/docs/tutorial/query-params-str-validations.md`
  docs/zh/docs/tutorial/query-params-str-validations.md
Labels: lang-all, lang-zh, approved-2

#13051 🌐 Add Chinese translation for `docs/zh/docs/tutorial/sql-databases.md`
  docs/zh/docs/tutorial/sql-databases.md
Labels: lang-all, lang-zh, approved-1

#13075 🌐 Update Traditional Chinese translation for `docs/zh-hant/docs/tutorial/index.md`
  docs/zh-hant/docs/tutorial/index.md
Labels: lang-all, lang-zh-hant, approved-1

#13079 🌐 Add Russian translation for `/docs/ru/docs/tutorial/sql-databases.md`
  docs/ru/docs/tutorial/sql-databases.md
Labels: lang-all, lang-ru, approved-2

#12512 🌐 Add Chinese translation for `docs/zh/docs/advanced/events.md`
  docs/zh/docs/advanced/events.md
Labels: lang-all, lang-zh, approved-1

#13020 🌐 Add Ukrainian translation for `docs/uk/docs/fastapi-cli.md`
  docs/uk/docs/fastapi-cli.md
Labels: lang-all, approved-2, lang-uk

#13074 🌐 Add Chinese translation for `docs/zh/docs/advanced/async-tests.md`
  docs/zh/docs/advanced/async-tests.md
Labels: lang-all, lang-zh, approved-1

#13091 🌐 Add Chinese translation for `docs/zh/docs/advanced/openapi-webhooks.md`
  docs/zh/docs/advanced/openapi-webhooks.md
Labels: lang-all, lang-zh, approved-2

#13095 🌐 Update Chinese translation for `docs/zh/docs/async.md`
  docs/zh/docs/async.md
Labels: lang-all, lang-zh, approved-2

#13093 🌐 Add Korean translation for `docs/ko/docs/tutorial/sql-databases.md`
  docs/ko/docs/tutorial/sql-databases.md
Labels: lang-all, approved-2, lang-ko

#13086 🌐 Add Indonesian translation for `docs/id/docs/tutorial/path-params.md`
  docs/id/docs/tutorial/path-params.md
Labels: lang-all, approved-2, lang-id

#13081 📝 Minor corrections in `docs/en/docs/tutorial/sql-databases.md`
  docs/en/docs/tutorial/sql-databases.md
Labels: docs

#12899 ✏️ Fix error in `docs/en/docs/contributing.md`
  docs/en/docs/contributing.md
Labels: docs

#13110 🌐 Update Chinese translation for `docs/zh/docs/advanced/security/oauth2-scopes.md`
  docs/zh/docs/advanced/security/oauth2-scopes.md
Labels: lang-all, lang-zh, approved-1

#13118 🌐 Update existing Spanish translations using the new LLM-assisted system using PydanticAI
  docs/es/docs/advanced/additional-status-codes.md
  docs/es/docs/advanced/index.md
  docs/es/docs/advanced/path-operation-advanced-configuration.md
  docs/es/docs/advanced/response-change-status-code.md
  docs/es/docs/advanced/response-directly.md
  docs/es/docs/advanced/response-headers.md
  docs/es/docs/advanced/security/index.md
  docs/es/docs/async.md
  docs/es/docs/benchmarks.md
  docs/es/docs/deployment/index.md
  docs/es/docs/deployment/versions.md
  docs/es/docs/features.md
  docs/es/docs/how-to/graphql.md
  docs/es/docs/index.md
  docs/es/docs/learn/index.md
  docs/es/docs/project-generation.md
  docs/es/docs/python-types.md
  docs/es/docs/tutorial/cookie-params.md
  docs/es/docs/tutorial/first-steps.md
  docs/es/docs/tutorial/index.md
  docs/es/docs/tutorial/path-params.md
  docs/es/docs/tutorial/query-params.md
Labels: lang-all, lang-es

#13123 🔨 Add internal scripts to generate language translations with PydanticAI, include Spanish prompt
  docs/es/llm-prompt.md
  requirements-translations.txt
  scripts/translate.py
Labels: internal

#13124 ✏️ Fix typo in `docs/en/docs/virtual-environments.md`
  docs/en/docs/virtual-environments.md
Labels: docs
