Repository fastapi/fastapi, pull requests merged in 2024-05, with the labels that each got.

#11511 👥 Update FastAPI People
  docs/en/data/github_sponsors.yml
  docs/en/data/people.yml
Labels: internal

#11524 ✏️ Fix link in `fastapi-cli.md`
  docs/en/docs/fastapi-cli.md
Labels: docs

#11512 🌐 Update Chinese translation for `/docs/advanced/security/http-basic-auth.md`
  docs/zh/docs/advanced/security/http-basic-auth.md
Labels: lang-all, lang-zh, approved-1

#11501 🌐 Add Chinese translation for `docs/zh/docs/how-to/configure-swagger-ui.md`
  docs/zh/docs/how-to/configure-swagger-ui.md
Labels: lang-all, lang-zh, approved-1

#11549 👷 Tweak CI for test-redistribute, add needed env vars for slim
  .github/workflows/test-redistribute.yml
Labels: internal

#11539 🌐 Update Chinese translation for `docs/zh/docs/tutorial/sql-databases.md`
  docs/zh/docs/tutorial/sql-databases.md
Labels: lang-all, lang-zh, approved-1

#11550 👷 Update GitHub actions to download and upload artifacts to v4, for docs and coverage
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test.yml
Labels: internal

#11562 👷 Update Smokeshow download artifact GitHub Action
  .github/workflows/smokeshow.yml
Labels: internal

#11563 👷 Update Smokeshow, fix sync download artifact and smokeshow configs
  .github/workflows/smokeshow.yml
Labels: internal

#10961 🌐 Add Russian translation for `docs/ru/docs/about/index.md`
  docs/ru/docs/about/index.md
Labels: lang-all, lang-ru, approved-1

#11561 🌐 Add Turkish translation for `docs/tr/docs/tutorial/cookie-params.md`
  docs/tr/docs/tutorial/cookie-params.md
Labels: lang-all, lang-tr, approved-1

#11593 ✏️ Fix typo in `fastapi/applications.py`
  fastapi/applications.py
Labels: docs

#11575 🌐 Add Turkish translation for `docs/tr/docs/advanced/wsgi.md`
  docs/tr/docs/advanced/wsgi.md
Labels: lang-all, lang-tr, approved-1

#10196 🌐 Polish translation for `docs/pl/docs/fastapi-people.md`
  docs/pl/docs/fastapi-people.md
Labels: lang-all, lang-pl, approved-1

#11598 ✏️ Fix typo: convert every 're-use' to 'reuse'.
  docs/en/docs/advanced/additional-responses.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/how-to/custom-docs-ui-assets.md
  docs/en/docs/how-to/nosql-databases-couchbase.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/background-tasks.md
  docs/en/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
  docs/en/docs/tutorial/handling-errors.md
Labels: docs

#11603 📝 Update docs
  docs/en/docs/async.md
  docs/en/docs/tutorial/first-steps.md
Labels: docs

#11589 📝 Update JWT auth documentation to use PyJWT instead of pyhon-jose
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs_src/security/tutorial004.py
  docs_src/security/tutorial004_an.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005.py
  docs_src/security/tutorial005_an.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
  requirements-tests.txt
Labels: docs

#11599 🌐 Add Turkish translation for `docs/tr/docs/tutorial/static-files.md`
  docs/tr/docs/tutorial/static-files.md
Labels: lang-all, lang-tr, approved-1

#11605 🌐 Add Turkish translation for `docs/tr/docs/deployment/index.md`
  docs/tr/docs/deployment/index.md
Labels: lang-all, lang-tr, approved-1

#11459 📝 Restored Swagger-UI links to use the latest version possible.
  docs/de/docs/how-to/custom-docs-ui-assets.md
  docs/en/docs/how-to/custom-docs-ui-assets.md
  docs_src/custom_docs_ui/tutorial001.py
  fastapi/openapi/docs.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial001.py
Labels: upgrade

#11620 🌐 Update Chinese translation for `docs/zh/docs/advanced/templates.md`
  docs/zh/docs/advanced/templates.md
Labels: lang-all, lang-zh, approved-1

#11607 🌐 Add Turkish translation for `docs/tr/docs/how-to/general.md`
  docs/tr/docs/how-to/general.md
Labels: lang-all, lang-tr, approved-1

#11608 🌐 Add Turkish translation for `docs/tr/docs/advanced/testing-websockets.md`
  docs/tr/docs/advanced/testing-websockets.md
Labels: lang-all, lang-tr, approved-1

#11609 🌐 Add Turkish translation for `docs/tr/docs/advanced/security/index.md`
  docs/tr/docs/advanced/security/index.md
Labels: lang-all, lang-tr, approved-1

#11662 🔧 Add sponsor Kong
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/kong-banner.png
  docs/en/docs/img/sponsors/kong.png
  docs/en/overrides/main.html
Labels: internal

#11664 📝 Tweak intro docs about `Annotated` and `Query()` params
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/query-params-str-validations.md
Labels: docs
