Repository fastapi/fastapi, pull requests merged in 2024-10, with the labels that each got.

#12275 🌐 Update Portuguese translation for `docs/pt/docs/advanced/security/http-basic-auth.md`
  docs/pt/docs/advanced/security/http-basic-auth.md
Labels: lang-all, lang-pt, approved-2

#12278 🌐 Fix Korean translation for `docs/ko/docs/tutorial/index.md`
  docs/ko/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-ko

#12266 🌐 Add Portuguese translation for `docs/pt/docs/advanced/response-directly.md`
  docs/pt/docs/advanced/response-directly.md
Labels: lang-all, lang-pt, approved-2

#12221 🌐 Add Portuguese translation for `docs/pt/docs/how-to/conditional-openapi.md`
  docs/pt/docs/how-to/conditional-openapi.md
Labels: lang-all, lang-pt, approved-2

#12219 🌐 Add Portuguese translation for `docs/pt/docs/deployment/concepts.md`
  docs/pt/docs/deployment/concepts.md
Labels: lang-all, lang-pt, approved-2

#12263 🌐 Add Portuguese translation for `docs/pt/docs/advanced/security/oauth2-scopes.md`
  docs/pt/docs/advanced/security/oauth2-scopes.md
Labels: lang-all, lang-pt, approved-2

#12215 🌐 Add Portuguese translation for `docs/pt/docs/how-to/graphql.md`
  docs/pt/docs/how-to/graphql.md
Labels: lang-all, lang-pt, approved-2

#12274 📝 Adding links for Playwright and Vite in `docs/project-generation.md`
  docs/en/docs/project-generation.md
  docs/es/docs/project-generation.md
  docs/ko/docs/project-generation.md
  docs/zh/docs/project-generation.md
Labels: docs

#12264 📝 Update link to Swagger UI configuration docs
  docs/de/docs/how-to/configure-swagger-ui.md
  docs/en/docs/how-to/configure-swagger-ui.md
  docs/pt/docs/how-to/configure-swagger-ui.md
  docs/zh/docs/how-to/configure-swagger-ui.md
Labels: docs

#12387 👷 Update Cloudflare GitHub Action
  .github/workflows/deploy-docs.yml
Labels: internal

#12392 👷 Update worfkow deploy-docs-notify URL
  .github/workflows/deploy-docs.yml
Labels: internal

#12298 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/cookie-param-models.md`
  docs/pt/docs/tutorial/cookie-param-models.md
Labels: lang-all, lang-pt, approved-1

#12389 📝 Add External Link: How to profile a FastAPI asynchronous request
  docs/en/data/external_links.yml
Labels: docs

#12398 👷 Tweak labeler to not override custom labels
  .github/workflows/labeler.yml
Labels: internal

#12397 📝 Fix extra mdx-base-path paths
  docs/en/docs/tutorial/sql-databases.md
  docs/it/docs/index.md
  docs/pt/docs/tutorial/cookie-param-models.md
  scripts/docs.py
Labels: internal

#12399 ➕ Add docs dependency: markdown-include-variants
  docs/en/mkdocs.yml
  requirements-docs.txt
Labels: internal

#12404 🔧 Add speakeasy-api to `sponsors_badge.yml`
  docs/en/data/sponsors_badge.yml
Labels: internal

#12407 ♻️ Update type annotations for improved `python-multipart`
  fastapi/dependencies/utils.py
  requirements-docs-tests.txt
  requirements-tests.txt
Labels: refactor

#12405 🔨 Add script to generate variants of files
  scripts/docs.py
Labels: internal

#12197 🐛 Remove `Required` shadowing from fastapi using Pydantic v2
  docs_src/query_params_str_validations/tutorial006d.py
  docs_src/query_params_str_validations/tutorial006d_an.py
  docs_src/query_params_str_validations/tutorial006d_an_py39.py
  fastapi/_compat.py
  fastapi/dependencies/utils.py
Labels: bug

#10895 🐛 Fix openapi generation with responses kwarg
  fastapi/routing.py
  tests/test_computed_fields.py
  tests/test_openapi_separate_input_output_schemas.py
Labels: bug, p2

#12431 ⬆️ Upgrade Starlette to `>=0.37.2,<0.41.0`
  pyproject.toml
Labels: upgrade

#12281 👷 Use uv in CI
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
  requirements-github-actions.txt
Labels: internal

#12434 👷 Fix smokeshow, checkout files on CI
  .github/workflows/smokeshow.yml
Labels: internal

#12280 👷 Refactor label-approved, make it an internal script instead of an external GitHub Action
  .github/workflows/label-approved.yml
  scripts/label_approved.py
Labels: internal

#12417 🌐 Add Portuguese translation for `docs/pt/docs/advanced/response-cookies.md`
  docs/pt/docs/advanced/response-cookies.md
Labels: lang-all, lang-pt, approved-1

#12381 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/body-updates.md`
  docs/pt/docs/tutorial/body-updates.md
Labels: lang-all, lang-pt, approved-1

#12453 🔧 Update team, include YuriiMotov 🚀
  docs/en/data/members.yml
Labels: internal

#12438 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/about/index.md`
  docs/zh-hant/docs/about/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12436 🌐 Add Russian translation for `docs/ru/docs/environment-variables.md`
  docs/ru/docs/environment-variables.md
Labels: lang-all, lang-ru, approved-2

#12428 🌐 Update Portuguese translation for `docs/pt/docs/python-types.md`
  docs/pt/docs/python-types.md
Labels: lang-all, lang-pt, approved-1

#12440 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/deployment/cloud.md`
  docs/zh-hant/docs/deployment/cloud.md
Labels: lang-all, lang-zh-hant, approved-1

#12458 🌐 Add Portuguese translation for `docs/pt/docs/advanced/response-headers.md`
  docs/pt/docs/advanced/response-headers.md
Labels: lang-all, lang-pt, approved-1

#12473 🌐 Add Portuguese translation for `docs/pt/docs/how-to/custom-docs-ui-assets.md`
  docs/pt/docs/how-to/custom-docs-ui-assets.md
Labels: lang-all, lang-pt, approved-1

#12472 🌐 Add Portuguese translation for `docs/pt/docs/how-to/testing-database.md`
  docs/pt/docs/how-to/testing-database.md
Labels: lang-all, lang-pt, approved-1

#12439 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/deployment/index.md`
  docs/zh-hant/docs/deployment/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12444 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/fastapi-cli.md`
  docs/zh-hant/docs/fastapi-cli.md
Labels: lang-all, lang-zh-hant, approved-1

#12495 📝 Fix broken link in docs
  README.md
  docs/az/docs/index.md
  docs/bn/docs/index.md
  docs/de/docs/alternatives.md
  docs/de/docs/index.md
  docs/em/docs/alternatives.md
  docs/em/docs/index.md
  docs/en/docs/alternatives.md
  docs/en/docs/index.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/alternatives.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/hu/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/nl/docs/index.md
  docs/pl/docs/index.md
  docs/pt/docs/alternatives.md
  docs/pt/docs/index.md
  docs/ru/docs/alternatives.md
  docs/ru/docs/index.md
  docs/tr/docs/alternatives.md
  docs/uk/docs/alternatives.md
  docs/uk/docs/index.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
Labels: docs

#12469 ⬆️ Upgrade Starlette to `>=0.40.0,<0.42.0`
  pyproject.toml
Labels: upgrade

#12475 🌐 Add Portuguese translation for `docs/pt/docs/advanced/dataclasses.md`
  docs/pt/docs/advanced/dataclasses.md
Labels: lang-all, lang-pt, approved-1

#12470 🌐 Add Portuguese translation for `docs/pt/docs/how-to/extending-openapi.md`
  docs/pt/docs/how-to/extending-openapi.md
Labels: lang-all, lang-pt, approved-2

#12509 🌐 Fix rendering issue in translations
  docs/en/mkdocs.yml
Labels: docs

#12437 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/header-param-models.md`
  docs/pt/docs/tutorial/header-param-models.md
Labels: lang-all, lang-pt, approved-2

#12466 🌐 Add Traditional Chinese translation for `docs/zh-hant/docs/tutorial/index.md`
  docs/zh-hant/docs/tutorial/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12527 👷 Update GitHub Action to deploy docs previews to handle missing deploy comments
  .github/workflows/deploy-docs.yml
Labels: internal

#12524 🌐 Update Traditional Chinese translation for `docs/zh-hant/docs/tutorial/index.md`
  docs/zh-hant/docs/tutorial/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12523 🌐 Update Traditional Chinese translation for `docs/zh-hant/docs/how-to/index.md`
  docs/zh-hant/docs/how-to/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12522 🌐 Update Traditional Chinese translation for `docs/zh-hant/docs/deployment/cloud.md`
  docs/zh-hant/docs/deployment/cloud.md
Labels: lang-all, lang-zh-hant, approved-1

#12521 🌐 Update Traditional Chinese translation for `docs/zh-hant/docs/deployment/index.md`
  docs/zh-hant/docs/deployment/index.md
Labels: lang-all, lang-zh-hant, approved-1

#12533 📝 Add External Link: FastAPI do Zero
  docs/en/data/external_links.yml
Labels: docs

#12550 📝 Fix link in OAuth2 docs
  docs/en/docs/tutorial/security/oauth2-jwt.md
Labels: docs

#12551 📝 Update includes in `docs/en/docs/python-types.md`
  docs/en/docs/python-types.md
Labels: docs

#12552 📝 Update includes in `docs/en/docs/tutorial/first-steps.md`
  docs/en/docs/tutorial/first-steps.md
Labels: docs

#12555 📝 Update includes for `docs/en/docs/how-to/separate-openapi-schemas.md`
  docs/en/docs/how-to/separate-openapi-schemas.md
Labels: docs

#12556 📝 Update includes for `docs/en/docs/how-to/configure-swagger-ui.md`
  docs/en/docs/how-to/configure-swagger-ui.md
Labels: docs

#12540 🌐 Add Korean translation for `docs/ko/docs/benchmarks.md`
  docs/ko/docs/benchmarks.md
Labels: lang-all, approved-2, lang-ko

#12562 📝 Update includes in `docs/en/docs/how-to/extending-openapi.md`
  docs/en/docs/how-to/extending-openapi.md
Labels: docs

#12564 📝 Update includes in `docs/en/docs/how-to/graphql.md`
  docs/en/docs/how-to/graphql.md
Labels: docs

#12558 📝 Update includes in `docs/fr/docs/python-types.md`
  docs/fr/docs/python-types.md
Labels: docs

#12559 📝 Update includes in `docs/en/docs/tutorial/background-tasks.md`
  docs/en/docs/tutorial/background-tasks.md
Labels: docs

#12530 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/sql-databases.md`
  docs/pt/docs/tutorial/sql-databases.md
Labels: lang-all, lang-pt, approved-2

#12561 📝 Update includes in `docs/de/docs/advanced/security/http-basic-auth.md`
  docs/de/docs/advanced/security/http-basic-auth.md
Labels: docs

#12563 📝 Update includes in `docs/pt/docs/advanced/behind-a-proxy.md`
  docs/pt/docs/advanced/behind-a-proxy.md
Labels: docs

#12567 📝 Update includes in `docs/de/docs/advanced/async-tests.md`
  docs/de/docs/advanced/async-tests.md
Labels: lang-all

#12568 📝 Update includes in `docs/en/docs/advanced/async-tests.md`
  docs/en/docs/advanced/async-tests.md
Labels: docs

#12575 📝 Update includes in `docs/en/docs/tutorial/static-files.md`
  docs/en/docs/tutorial/static-files.md
Labels: docs

#12576 📝 Update includes in `docs/en/docs/advanced/additional-responses.md`
  docs/en/docs/advanced/additional-responses.md
Labels: docs

#12578 📝 Update includes in `docs/en/docs/advanced/advanced-dependencies.md`
  docs/en/docs/advanced/advanced-dependencies.md
Labels: docs

#12577 📝 Update includes in `docs/en/docs/advanced/additional-status-codes.md`
  docs/en/docs/advanced/additional-status-codes.md
Labels: docs

#12582 📝 Update includes in `docs/en/docs/advanced/middleware.md`
  docs/en/docs/advanced/middleware.md
Labels: docs

#12583 📝 Update includes in `docs/en/docs/advanced/behind-a-proxy.md`
  docs/en/docs/advanced/behind-a-proxy.md
Labels: docs

#12584 📝 Update includes syntax for `docs/pl/docs/tutorial/first-steps.md`
  docs/pl/docs/tutorial/first-steps.md
Labels: docs

#12586 📝 Update includes in `docs/en/docs/tutorial/body.md`
  docs/en/docs/tutorial/body.md
Labels: docs

#12585 📝 Update includes in `docs/de/docs/tutorial/response-status-code.md`
  docs/de/docs/tutorial/response-status-code.md
Labels: docs

#12588 📝 Update includes in `docs/en/tutorial/body-fields.md`
  docs/en/docs/tutorial/body-fields.md
Labels: docs

#12589 📝 Update includes in `docs/fr/docs/tutorial/query-params.md`
  docs/fr/docs/tutorial/query-params.md
Labels: docs

#12591 📝 Update includes in `docs/fr/docs/tutorial/query-params-str-validations.md`
  docs/fr/docs/tutorial/query-params-str-validations.md
Labels: docs

#12595 📝 Update includes in `docs/fr/docs/tutorial/debugging.md`
  docs/fr/docs/tutorial/debugging.md
Labels: docs

#12596 📝 Update includes in `docs/fr/docs/tutorial/body.md`
  docs/fr/docs/tutorial/body.md
Labels: docs

#12627 ♻️ Update logic to import and check `python-multipart` for compatibility with newer version
  fastapi/dependencies/utils.py
  tests/test_multipart_installation.py
Labels: refactor

#12547 🌐 Add Korean Translation for `docs/ko/docs/advanced/response-change-status-code.md`
  docs/ko/docs/advanced/response-change-status-code.md
Labels: lang-all, lang-ko, approved-1

#12560 📝 Update includes in `docs/en/docs/how-to/custom-request-and-route.md`
  docs/en/docs/how-to/custom-request-and-route.md
Labels: docs

#12635 🎨 Adjust spacing
  docs/en/docs/how-to/custom-request-and-route.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/how-to/graphql.md
Labels: docs

#12557 📝 Update includes in `docs/en/docs/how-to/custom-docs-ui-assets.md`
  docs/en/docs/how-to/custom-docs-ui-assets.md
Labels: docs

#12597 📝 Update includes in `docs/en/docs/tutorial/encoder.md`
  docs/en/docs/tutorial/encoder.md
Labels: docs

#12600 📝 Update includes in `docs/fr/docs/tutorial/background-tasks.md`
  docs/fr/docs/tutorial/background-tasks.md
Labels: docs

#12601 📝 Update includes in `docs/fr/docs/tutorial/path-params-numeric-validations.md`
  docs/fr/docs/tutorial/path-params-numeric-validations.md
Labels: docs

#12602 📝 Update includes in `docs/es/docs/tutorial/cookie-params.md`
  docs/es/docs/tutorial/cookie-params.md
Labels: docs

#12603 📝 Update includes in `docs/en/docs/advanced/dataclasses.md`
  docs/en/docs/advanced/dataclasses.md
Labels: docs

#12604 📝 Update includes in `docs/en/docs/advanced/events.md`
  docs/en/docs/advanced/events.md
Labels: docs

#12605 📝 Update includes in `docs/en/docs/advanced/openapi-webhooks.md`
  docs/en/docs/advanced/openapi-webhooks.md
Labels: docs

#12623 📝 Update includes for `docs/en/docs/how-to/custom-docs-ui-assets.md`
  docs/en/docs/how-to/custom-docs-ui-assets.md
Labels: docs

#12620 📝 Update includes in `docs/en/docs/tutorial/response-status-code.md`
  docs/en/docs/tutorial/response-status-code.md
Labels: docs

#12615 📝 Update includes in `docs/en/docs/tutorial/dependencies/index.md`
  docs/en/docs/tutorial/dependencies/index.md
Labels: docs

#12624 📝 Update includes for `docs/en/docs/how-to/conditional-openapi.md`
  docs/en/docs/how-to/conditional-openapi.md
Labels: docs

#12515 🌐 Add Korean translation for `docs/ko/docs/fastapi-cli.md`
  docs/ko/docs/fastapi-cli.md
Labels: lang-all, approved-2, lang-ko

#12546 🌐 Add Korean Translation for `docs/ko/docs/advanced/response-cookies.md`
  docs/ko/docs/advanced/response-cookies.md
Labels: lang-all, approved-2, lang-ko

#12572 📝 Update includes in `docs/en/docs/advanced/security/oauth2-scopes.md`
  docs/en/docs/advanced/security/oauth2-scopes.md
Labels: docs

#12631 🌐 Add Portuguese Translation for `docs/pt/docs/advanced/custom-response.md`
  docs/pt/docs/advanced/custom-response.md
Labels: lang-all, lang-pt, approved-2

#12706 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/request-files.md`
  docs/pt/docs/tutorial/request-files.md
Labels: lang-all, lang-pt, approved-2

#12705 🌐 Add Portuguese translation for `docs/pt/docs/advanced/openapi-callbacks.md`
  docs/pt/docs/advanced/openapi-callbacks.md
Labels: lang-all, lang-pt, approved-1

#12704 🌐 Add Portuguese translation for `docs/pt/docs/advanced/middleware.md`
  docs/pt/docs/advanced/middleware.md
Labels: lang-all, lang-pt, approved-2

#12674 🌐 Add Korean translation for `docs/ko/docs/advanced/response-directly.md`
  docs/ko/docs/advanced/response-directly.md
Labels: lang-all, lang-ko, approved-1

#12733 🔧 Update sponsors: add Render
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/deployment/cloud.md
  docs/en/docs/img/sponsors/render-banner.svg
  docs/en/docs/img/sponsors/render.svg
  docs/en/overrides/main.html
Labels: internal

#12520 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/security/simple-oauth2.md`
  docs/pt/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, lang-pt, approved-2

#12703 🌐 Add Portuguese translation for `docs/pt/docs/advanced/websockets.md`
  docs/pt/docs/advanced/websockets.md
Labels: lang-all, lang-pt, approved-2

#12659 🌐 Add Korean translation for `docs/ko/docs/advanced/wsgi.md`
  docs/ko/docs/advanced/wsgi.md
Labels: lang-all, approved-2, lang-ko
