Repository fastapi/fastapi, pull requests merged in 2024-01, with the labels that each got.

#10905 ⬆️ Upgrade GitHub Action label-approved
  .github/workflows/label-approved.yml
Labels: internal

#6018 📝 Add blog for FastAPI & Supabase
  docs/en/data/external_links.yml
Labels: docs

#9508 📝 Update example source files for SQL databases with SQLAlchemy
  docs_src/sql_databases/sql_app/models.py
  docs_src/sql_databases/sql_app_py310/models.py
  docs_src/sql_databases/sql_app_py39/models.py
Labels: docs

#4482 📝 Replace HTTP code returned in case of existing user error in docs for testing
  docs_src/app_testing/app_b/main.py
  docs_src/app_testing/app_b/test_main.py
  docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py310/test_main.py
Labels: docs

#10915 ⬆️ Upgrade GitHub Action latest-changes
  .github/workflows/latest-changes.yml
Labels: internal

#10916 👷 Upgrade custom GitHub Action comment-docs-preview-in-pr
  .github/actions/comment-docs-preview-in-pr/Dockerfile
  .github/actions/comment-docs-preview-in-pr/app/main.py
  .github/actions/comment-docs-preview-in-pr/requirements.txt
Labels: internal

#10909 🌐 Add Spanish translation for `docs/es/docs/resources/index.md`
  docs/es/docs/resources/index.md
Labels: lang-all, lang-es, approved-2

#10908 🌐 Add Spanish translation for `docs/es/docs/about/index.md`
  docs/es/docs/about/index.md
Labels: lang-all, lang-es, approved-2

#10907 🌐 Add Spanish translation for `docs/es/docs/help/index.md`
  docs/es/docs/help/index.md
Labels: lang-all, lang-es, approved-2

#10550 🌐 Add Turkish translation for `docs/tr/docs/newsletter.md`
  docs/tr/docs/newsletter.md
Labels: lang-all, approved-2, lang-tr

#10812 🌐 Add Hungarian translation for `/docs/hu/docs/index.md`
  docs/hu/docs/index.md
  docs/hu/mkdocs.yml
Labels: lang-all, approved-2, lang-hu

#10885 🌐 Add Spanish translation for `docs/es/docs/learn/index.md`
  docs/es/docs/learn/index.md
Labels: lang-all, lang-es, approved-2

#10549 🌐 Add Turkish translation for `docs/tr/docs/external-links.md`
  docs/tr/docs/external-links.md
Labels: lang-all, approved-2, lang-tr

#9712 🌐 Update SQLAlchemy instruction in Chinese translation `docs/zh/docs/tutorial/sql-databases.md`
  docs/zh/docs/tutorial/sql-databases.md
Labels: lang-all, lang-zh, approved-2

#10539 🌐 Add Russian translation for `docs/ru/docs/learn/index.md`
  docs/ru/docs/learn/index.md
Labels: lang-all, lang-ru, approved-2

#10479 🌐 Add Chinese translation for `docs/zh/docs/learn/index.md`
  docs/zh/docs/learn/index.md
Labels: lang-all, lang-zh, approved-2

#10444 🌐 Update Turkish translation for `docs/tr/docs/index.md`
  docs/tr/docs/index.md
Labels: lang-all, approved-2, lang-tr

#9530 🌐 Add German translation for `docs/de/docs/tutorial/first-steps.md`
  docs/de/docs/tutorial/first-steps.md
Labels: lang-all, approved-2, lang-de

#10275 🌐 Add Chinese translation for `docs/zh/docs/deployment/index.md`
  docs/zh/docs/deployment/index.md
Labels: lang-all, lang-zh, approved-2

#10277 🌐 Add Chinese translation for `docs/zh/docs/deployment/https.md`
  docs/zh/docs/deployment/https.md
Labels: lang-all, lang-zh, approved-2

#10291 🌐 Add Chinese translation for `docs/zh/docs/deployment/cloud.md`
  docs/zh/docs/deployment/cloud.md
Labels: lang-all, lang-zh, approved-2

#10292 🌐 Add Chinese translation for `docs/zh/docs/deployment/server-workers.md`
  docs/zh/docs/deployment/server-workers.md
Labels: lang-all, lang-zh, approved-2

#10332 🌐 Add Russian translation for `docs/ru/docs/tutorial/request-files.md`
  docs/ru/docs/tutorial/request-files.md
Labels: lang-all, lang-ru, approved-2

#10311 🌐 Fix typos in Russian translations for `docs/ru/docs/tutorial/background-tasks.md`, `docs/ru/docs/tutorial/body-nested-models.md`, `docs/ru/docs/tutorial/debugging.md`, `docs/ru/docs/tutorial/testing.md`
  docs/ru/docs/tutorial/background-tasks.md
  docs/ru/docs/tutorial/body-nested-models.md
  docs/ru/docs/tutorial/debugging.md
Labels: lang-all, lang-ru, approved-2

#10325 🌐 Add Chinese translation for `docs/zh/docs/advanced/additional-responses.md`
  docs/zh/docs/advanced/additional-responses.md
Labels: lang-all, lang-zh, approved-2

#10520 ✏️ Fix typo in `fastapi/routing.py`
  fastapi/routing.py
Labels: docs

#5887 🌐 Add Persian translation for `docs/fa/docs/features.md`
  docs/fa/docs/features.md
Labels: lang-all, approved-2, lang-fa

#10673 ✏️ Fix typo in `openapi-callbacks.md`
  docs/en/docs/advanced/openapi-callbacks.md
Labels: docs

#10680 ✏️ Update Python version in `docs/ko/docs/index.md`
  docs/ko/docs/index.md
Labels: lang-all, lang-ko

#10809 ✏️ Fix typos in `/docs/reference/exceptions.md` and `/en/docs/reference/status.md`
  docs/en/docs/reference/exceptions.md
  docs/en/docs/reference/status.md
Labels: docs

#10362 🌐 Add Ukrainian translation for `docs/uk/docs/index.md`
  docs/uk/docs/index.md
Labels: lang-all, approved-2, lang-uk

#10347 🌐 Add Russian translation for `docs/ru/docs/tutorial/request-forms-and-files.md`
  docs/ru/docs/tutorial/request-forms-and-files.md
Labels: lang-all, lang-ru, approved-2

#4167 📝 Add warning about lifecycle events with `AsyncClient`
  docs/en/docs/advanced/async-tests.md
Labels: docs

#9733 📝 Add article: "Building a RESTful API with FastAPI: Secure Signup and Login Functionality Included"
  docs/en/data/external_links.yml
Labels: docs

#10711 ✏️ Update Python version in `index.md` in several languages
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pl/docs/index.md
Labels: lang-all

#10834 ✏️ Fix typos in `docs/en/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: docs

#10871 👥 Update FastAPI People
  docs/en/data/github_sponsors.yml
  docs/en/data/people.yml
Labels: internal

#10906 ✏️ Fix typos in `docs/en/docs/alternatives.md` and `docs/en/docs/tutorial/dependencies/index.md`
  docs/en/docs/alternatives.md
  docs/en/docs/tutorial/dependencies/index.md
Labels: docs

#5354 ✨ Generate automatic language names for docs translations
  docs/en/mkdocs.yml
  docs/language_names.yml
  scripts/docs.py
Labels: docs

#10917 📝 Add External Link: FastAPI application monitoring made easy
  docs/en/data/external_links.yml
Labels: docs

#9177 🌐 Add Bengali translation for `docs/bn/docs/index.md`
  docs/bn/docs/index.md
  docs/bn/mkdocs.yml
Labels: lang-all, approved-2, lang-bn

#10765 📝 Fix broken link in `docs/en/docs/tutorial/sql-databases.md`
  docs/en/docs/tutorial/sql-databases.md
Labels: docs

#10929 📝 Add notes about Pydantic v2's new `.model_dump()`
  docs/en/docs/how-to/async-sql-encode-databases.md
  docs/en/docs/tutorial/body-updates.md
  docs/en/docs/tutorial/extra-models.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/sql-databases.md
Labels: docs

#10666 ✨ Add support for Python 3.12
  .github/workflows/test.yml
  docs_src/security/tutorial004.py
  docs_src/security/tutorial004_an.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005.py
  docs_src/security/tutorial005_an.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
  pyproject.toml
Labels: feature

#10592 📝 Add VS Code tutorial link
  docs/en/data/external_links.yml
Labels: docs

#10649 📝 Replace `email` with `username` in `docs_src/security/tutorial007` code examples
  docs/en/docs/advanced/security/http-basic-auth.md
  docs_src/security/tutorial007.py
  docs_src/security/tutorial007_an.py
  docs_src/security/tutorial007_an_py39.py
Labels: docs

#10938 ⬆️ Upgrade Starlette to >=0.35.0,<0.36.0
  pyproject.toml
Labels: upgrade

#10552 📝 Add location info to `tutorial/bigger-applications.md`
  docs/em/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/zh/docs/tutorial/bigger-applications.md
Labels: docs

#10265 📝 Add External Link: Talk by Jeny Sadadia
  docs/en/data/external_links.yml
Labels: docs

#9701 📝 Add External Link: ML serving and monitoring with FastAPI and Evidently
  docs/en/data/external_links.yml
Labels: docs

#10480 📝 Review and rewording of `en/docs/contributing.md`
  docs/en/docs/contributing.md
Labels: docs

#9440 📝 Add External Link: Instrument a FastAPI service adding tracing with OpenTelemetry and send/show traces in Grafana Tempo
  docs/en/data/external_links.yml
Labels: docs

#10243 📝 Add hyperlink to `docs/en/docs/tutorial/static-files.md`
  docs/en/docs/tutorial/static-files.md
Labels: docs

#10212 📝 Add External Link: Explore How to Effectively Use JWT With FastAPI
  docs/en/data/external_links.yml
Labels: docs

#5490 ✏️ Update highlighted line in `docs/en/docs/tutorial/bigger-applications.md`
  docs/en/docs/tutorial/bigger-applications.md
Labels: docs, investigate

#9313 📝 Update usage of Token model in security docs
  docs/em/docs/advanced/security/oauth2-scopes.md
  docs/em/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/ja/docs/tutorial/security/oauth2-jwt.md
  docs/zh/docs/tutorial/security/oauth2-jwt.md
  docs_src/security/tutorial004.py
  docs_src/security/tutorial004_an.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005.py
  docs_src/security/tutorial005_an.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
Labels: docs

#5937 📝 Update template docs with more info about `url_for`
  docs/en/docs/advanced/templates.md
  docs_src/templates/templates/item.html
  tests/test_tutorial/test_templates/test_tutorial001.py
Labels: docs

#10943 ✏️ Remove broken links from `external_links.yml`
  docs/en/data/external_links.yml
Labels: docs

#10410 🌐 Add Russian translation for `docs/ru/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/ru/docs/tutorial/dependencies/classes-as-dependencies.md
Labels: lang-all, lang-ru, approved-2

#10727 ✏️ Fix typos in `docs/zh/docs/tutorial/extra-data-types.md`
  docs/zh/docs/tutorial/extra-data-types.md
Labels: lang-all, lang-zh, approved-2

#10716 ✏️ Fix broken link in `docs/tutorial/sql-databases.md` in several languages
  docs/em/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/sql-databases.md
  docs/zh/docs/tutorial/sql-databases.md
Labels: docs

#10734 📝 Add warning about lifespan functions and backwards compatibility with events
  docs/en/docs/advanced/events.md
Labels: docs

#10672 ✏️ Fix typo in `docs/ru/docs/index.md`
  docs/ru/docs/index.md
Labels: lang-all, lang-ru, approved-2

#10566 🌐 Add German translation for `docs/de/docs/tutorial/background-tasks.md`
  docs/de/docs/tutorial/background-tasks.md
Labels: lang-all, lang-de

#10950 🔧 Add support for translations to languages with a longer code name, like `zh-hant`
  docs/language_names.yml
  scripts/docs.py
Labels: internal

#10904 ✅ Re-enable test in `tests/test_tutorial/test_header_params/test_tutorial003.py` after fix in Starlette
  tests/test_tutorial/test_header_params/test_tutorial003.py
Labels: refactor

#10893 🔧 Fix Ruff configuration unintentionally enabling and re-disabling mccabe complexity check
  pyproject.toml
Labels: refactor

#10952 🔧 Group dependencies on dependabot updates
  .github/dependabot.yml
Labels: internal

#9502 🌐 Add German translation for `docs/de/docs/tutorial/index.md`
  docs/de/docs/tutorial/index.md
Labels: lang-all, approved-2, lang-de

#10957 ✏️ Fix typos for Spanish documentation
  docs/es/docs/advanced/additional-status-codes.md
  docs/es/docs/advanced/response-directly.md
  docs/es/docs/features.md
  docs/es/docs/index.md
  docs/es/docs/python-types.md
  docs/es/docs/tutorial/first-steps.md
  docs/es/docs/tutorial/index.md
  docs/es/docs/tutorial/path-params.md
Labels: docs

#10960 ✏️ Fix link in `docs/en/docs/advanced/async-tests.md`
  docs/en/docs/advanced/async-tests.md
Labels: docs

#10576 ♻️ Simplify string format with f-strings in `fastapi/utils.py`
  fastapi/utils.py
Labels: refactor

#10876 ✅ Refactor tests for duplicate operation ID generation for compatibility with other tools running the FastAPI test suite
  tests/test_generate_unique_id_function.py
Labels: refactor

#10969 ✨ Include HTTP 205 in status codes with no body
  fastapi/utils.py
Labels: feature

#10971 👷 Add changes-requested handling in GitHub Action issue manager
  .github/workflows/issue-manager.yml
Labels: internal

#5418 📝 Update `HTTPException` details in `docs/en/docs/tutorial/handling-errors.md`
  docs/en/docs/tutorial/handling-errors.md
Labels: docs

#1930 🌐 Add Japanese translation for `docs/ja/docs/tutorial/body-nested-models.md`
  docs/ja/docs/tutorial/body-nested-models.md
Labels: lang-all, lang-ja, awaiting-review

#1931 🌐 Add Japanese tranlsation for `docs/ja/docs/tutorial/schema-extra-example.md`
  docs/ja/docs/tutorial/schema-extra-example.md
Labels: lang-all, lang-ja, awaiting-review

#1941 🌐 Add Japanese translation for `docs/ja/docs/tutorial/extra-models.md`
  docs/ja/docs/tutorial/extra-models.md
Labels: lang-all, lang-ja, awaiting-review

#1942 🌐 Add Japanese translation for `docs/ja/docs/tutorial/response-status-code.md`
  docs/ja/docs/tutorial/response-status-code.md
Labels: lang-all, lang-ja, awaiting-review

#1953 🌐 Add Japanese translation for `docs/ja/docs/tutorial/handling-errors.md`
  docs/ja/docs/tutorial/handling-errors.md
Labels: lang-all, lang-ja, awaiting-review

#1899 🌐 Add Japanese translation for `docs/ja/docs/python-types.md`
  docs/ja/docs/python-types.md
Labels: lang-all, lang-ja, awaiting-review

#1902 🌐 Add Japanese translation for `docs/ja/docs/tutorial/path-params-numeric-validations.md`
  docs/ja/docs/tutorial/path-params-numeric-validations.md
Labels: lang-all, lang-ja, awaiting-review

#1903 🌐 Add Japanese translation for `docs/ja/docs/tutorial/body-multiple-params.md`
  docs/ja/docs/tutorial/body-multiple-params.md
Labels: lang-all, lang-ja, awaiting-review

#1958 🌐 Add Japanese translation for `docs/ja/docs/tutorial/dependencies/index.md` and `docs/ja/docs/tutorial/dependencies/classes-as-dependencies.md`
  docs/ja/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/ja/docs/tutorial/dependencies/index.md
Labels: lang-all, lang-ja, awaiting-review

#2668 🌐 Add Japanese translation for `docs/ja/docs/tutorial/background-tasks.md`
  docs/ja/docs/tutorial/background-tasks.md
Labels: lang-all, lang-ja, awaiting-review

#1960 🌐 Add Japanese translation for `docs/ja/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md`
  docs/ja/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
Labels: lang-all, lang-ja, awaiting-review

#10972 ✏️ Fix typo in `fastapi/security/oauth2.py`
  fastapi/security/oauth2.py
Labels: docs

#10758 ✏️ Fix typo error in `docs/ko/docs/tutorial/path-params.md`
  docs/ko/docs/tutorial/path-params.md
Labels: lang-all, lang-ko

#10962 ✏️ Tweak the german translation of `docs/de/docs/tutorial/index.md`
  docs/de/docs/tutorial/index.md
Labels: lang-all, lang-de

#10979 📝 Deprecate old tutorials: Peewee, Couchbase, encode/databases
  docs/en/docs/how-to/async-sql-encode-databases.md
  docs/en/docs/how-to/nosql-databases-couchbase.md
  docs/en/docs/how-to/sql-databases-peewee.md
  docs/en/mkdocs.yml
Labels: docs

#10505 🌐 Initialize translations for Traditional Chinese
  docs/en/mkdocs.yml
  docs/zh-hant/docs/index.md
  docs/zh-hant/mkdocs.yml
  scripts/docs.py
Labels: lang-all, approved-2, lang-zh-hant

#10977 🌐 Add Korean translation for `docs/ko/docs/learn/index.md`
  docs/ko/docs/learn/index.md
Labels: lang-all, approved-2, lang-ko

#11007 🔧 Update config in `label-approved.yml` to accept translations with 1 reviewer
  .github/workflows/label-approved.yml
Labels: internal

#11009 🔨 Verify `mkdocs.yml` languages in CI, update `docs.py`
  .github/workflows/build-docs.yml
  docs/en/mkdocs.yml
  scripts/build-docs.sh
  scripts/docs.py
Labels: internal

#2506 🌐 Add Korean translation for `docs/ko/docs/tutorial/body-nested-models.md`
  docs/ko/docs/tutorial/body-nested-models.md
Labels: lang-all, lang-ko, approved-1

#2267 🌐 Add Korean translation for `docs/ko/docs/python-types.md`
  docs/ko/docs/python-types.md
Labels: lang-all, lang-ko, hacktoberfest-accepted, approved-1

#2415 🌐 Add Korean translation for `docs/ko/docs/tutorial/query-params-str-validations.md`
  docs/ko/docs/tutorial/query-params-str-validations.md
Labels: lang-all, lang-ko, approved-1

#2461 🌐 Add Korean translation for `docs/ko/docs/tutorial/body-multiple-params.md`
  docs/ko/docs/tutorial/body-multiple-params.md
Labels: lang-all, lang-ko, approved-1

#2766 🌐 Add Korean translation for `docs/ko/docs/tutorial/response-model.md`
  docs/ko/docs/tutorial/response-model.md
Labels: lang-all, lang-ko, approved-1

#2957 🌐 Add Korean translation for `docs/ko/docs/tutorial/static-files.md`
  docs/ko/docs/tutorial/static-files.md
Labels: lang-all, lang-ko, approved-1

#10889 🌐 Modify the description of `zh` - Traditional Chinese
  docs/en/mkdocs.yml
  docs/language_names.yml
Labels: lang-all, lang-zh, approved-1

#3639 🌐 Add Korean translation for `docs/ko/docs/tutorial/path-operation-configuration.md`
  docs/ko/docs/tutorial/path-operation-configuration.md
Labels: lang-all, lang-ko, approved-1

#4561 🌐 Add Korean translation for `docs/ko/docs/deployment/index.md`
  docs/ko/docs/deployment/index.md
Labels: lang-all, lang-ko, approved-1

#4935 🌐 Add Korean translation for `docs/ko/docs/deployment/server-workers.md`
  docs/ko/docs/deployment/server-workers.md
Labels: lang-all, lang-ko, approved-1

#5657 🌐 Add Korean translation for `docs/ko/docs/deployment/docker.md`
  docs/ko/docs/deployment/docker.md
Labels: lang-all, lang-ko, approved-1

#5192 🌐 Add Turkish translation for `docs/tr/docs/project-generation.md`
  docs/tr/docs/project-generation.md
Labels: lang-all, lang-tr, approved-1

#5191 🌐 Add Turkish translation `docs/tr/docs/async.md`
  docs/tr/docs/async.md
Labels: lang-all, lang-tr, approved-1

#1932 🌐 Add Japanese translation for `docs/ja/docs/tutorial/extra-data-types.md`
  docs/ja/docs/tutorial/extra-data-types.md
Labels: lang-all, lang-ja, approved-1

#1955 🌐 Add Japanese translation for `docs/ja/docs/tutorial/encoder.md`
  docs/ja/docs/tutorial/encoder.md
Labels: lang-all, lang-ja, approved-1

#10497 🌐 Add German translation for introduction documents
  docs/de/docs/about/index.md
  docs/de/docs/help/index.md
  docs/de/docs/learn/index.md
  docs/de/docs/reference/index.md
  docs/de/docs/resources/index.md
Labels: lang-all, lang-de, approved-1

#10391 🌐 Add German translation for `docs/de/docs/tutorial/middleware.md`
  docs/de/docs/tutorial/middleware.md
Labels: lang-all, lang-de, approved-1

#10624 🌐 Add German translation for `docs/de/docs/advanced/custom-response.md`
  docs/de/docs/advanced/custom-response.md
Labels: lang-all, lang-de, approved-1

#10255 🌐 Russian translation: updated `fastapi-people.md`.
  docs/ru/docs/fastapi-people.md
Labels: lang-all, lang-ru, approved-1

#10373 🌐 Add Russian translation for `docs/ru/docs/tutorial/body-updates.md`
  docs/ru/docs/tutorial/body-updates.md
Labels: lang-all, lang-ru, approved-1

#10375 🌐 Add Russian translation for `docs/ru/docs/tutorial/handling-errors.md`
  docs/ru/docs/tutorial/handling-errors.md
Labels: lang-all, lang-ru, approved-1

#10541 🌐 Add Russian translation for `docs/ru/docs/tutorial/security/first-steps.md`
  docs/ru/docs/tutorial/security/first-steps.md
Labels: lang-all, lang-ru, approved-1

#5737 🌐 Add Korean translation for `docs/ko/docs/tutorial/security/get-current-user.md`
  docs/ko/docs/tutorial/security/get-current-user.md
Labels: lang-all, lang-ko, approved-1

#10976 🌐 Add Korean translation for `docs/ko/docs/features.md`
  docs/ko/docs/features.md
Labels: lang-all, lang-ko, approved-1

#10983 🌐 Add Korean translation for `docs/ko/docs/help/index.md`
  docs/ko/docs/help/index.md
Labels: lang-all, lang-ko, approved-1

#5233 🌐 Add Italian translation for `docs/it/docs/index.md`
  docs/it/docs/index.md
  docs/it/mkdocs.yml
Labels: lang-all, lang-it, approved-1

#11005 🌐 Update Turkish translation for `docs/tr/docs/benchmarks.md`
  docs/tr/docs/benchmarks.md
Labels: lang-all, lang-tr, approved-1

#11006 🌐 Add Turkish translation for `docs/tr/docs/about/index.md`
  docs/tr/docs/about/index.md
Labels: lang-all, lang-tr, approved-1

#11013 🌐 Add Turkish translation for `docs/tr/docs/help/index.md`
  docs/tr/docs/help/index.md
Labels: lang-all, lang-tr, approved-1

#9945 🌐 Add Persian translation for `docs/fa/docs/tutorial/security/index.md`
  docs/fa/docs/tutorial/security/index.md
Labels: lang-all, lang-fa, approved-1

#11014 🌐 Add Turkish translation for `docs/tr/docs/learn/index.md`
  docs/tr/docs/learn/index.md
Labels: lang-all, lang-tr, approved-1

#10866 🌐 Add German translation for `docs/de/docs/benchmarks.md`
  docs/de/docs/benchmarks.md
Labels: lang-all, lang-de, approved-1

#11016 🔧 Add Italian to `mkdocs.yml`
  docs/en/mkdocs.yml
Labels: internal

#11029 📝 Add External Link: Tips on migrating from Flask to FastAPI and vice-versa
  docs/en/data/external_links.yml
Labels: docs

#10293 🌐 Add German translation for `docs/de/docs/tutorial/query-params.md`
  docs/de/docs/tutorial/query-params.md
Labels: lang-all, lang-de, approved-1

#11021 🌐 Add Turkish translation for `docs/tr/docs/how-to/index.md`
  docs/tr/docs/how-to/index.md
Labels: lang-all, lang-tr, approved-1

#11020 🌐 Add Turkish translation for `docs/tr/docs/resources/index.md`
  docs/tr/docs/resources/index.md
Labels: lang-all, lang-tr, approved-1

#11012 🌐 Add Turkish translation for `docs/tr/docs/history-design-future.md`
  docs/tr/docs/history-design-future.md
Labels: lang-all, lang-tr, approved-1

#4065 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/schema-extra-example.md`
  docs/pt/docs/tutorial/schema-extra-example.md
Labels: lang-all, lang-pt, hacktoberfest-accepted, approved-1

#11036 📝 Add External Link: 10 Tips for adding SQLAlchemy to FastAPI
  docs/en/data/external_links.yml
Labels: docs

#11000 🌐 Add Korean translation for `/docs/ko/docs/tutorial/body.md`
  docs/ko/docs/tutorial/body.md
Labels: lang-all, lang-ko, approved-1

#10989 🌐 Add Korean translation for `docs/ko/docs/tutorial/dependencies/index.md`
  docs/ko/docs/tutorial/dependencies/index.md
Labels: lang-all, lang-ko, approved-1

#10502 :globe_with_meridians: Add Turkish translation for `docs/tr/docs/alternatives.md`
  docs/tr/docs/alternatives.md
Labels: lang-all, lang-tr, approved-1

#5910 🌐 Add Korean translation for `docs/ko/docs/tutorial/background-tasks.md`
  docs/ko/docs/tutorial/background-tasks.md
Labels: lang-all, lang-ko, approved-1

#11038 📝 Tweak docs for Behind a Proxy
  docs/en/docs/advanced/behind-a-proxy.md
Labels: docs

#10922 🌐 Add Spanish translation for `docs/es/docs/newsletter.md`
  docs/es/docs/newsletter.md
Labels: lang-all, lang-es, approved-1

#10884 🌐 Update Spanish translation for `docs/es/docs/features.md`
  docs/es/docs/features.md
Labels: lang-all, lang-es, approved-1

#11039 💄 Fix CSS breaking RTL languages (erroneously introduced by a previous RTL PR)
  docs/en/docs/css/custom.css
Labels: internal

#11040 📝 Tweak wording in `help-fastapi.md`
  docs/en/docs/help-fastapi.md
Labels: docs

#11041 🔧 Update sponsors, remove Deta
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/deployment/cloud.md
  docs/ko/docs/deployment/cloud.md
  docs/zh/docs/deployment/cloud.md
Labels: internal

#10296 🌐 Add Chinese translation for `docs/zh/docs/deployment/docker.md`
  docs/zh/docs/deployment/docker.md
Labels: lang-all, lang-zh, approved-1

#3831 🌐 Add Chinese translation for `docs/zh/docs/project-generation.md`
  docs/zh/docs/project-generation.md
Labels: lang-all, lang-zh, approved-1

#3832 🌐 Add Chinese translation for `docs/zh/docs/history-design-future.md`
  docs/zh/docs/history-design-future.md
Labels: lang-all, lang-zh, approved-1

#3837 🌐 Add Chinese translation for `docs/zh/docs/deployment/deta.md`
  docs/zh/docs/deployment/deta.md
Labels: lang-all, lang-zh, approved-1

#3821 🌐 Add Chinese translation for `docs/zh/docs/advanced/testing-database.md`
  docs/zh/docs/advanced/testing-database.md
Labels: lang-all, lang-zh, approved-1
