Repository fastapi/fastapi, pull requests merged in 2025-02, with the labels that each got.

#13279 🌐 Add Russian translation for `docs/ru/docs/advanced/websockets.md`
  docs/ru/docs/advanced/websockets.md
Labels: lang-all, lang-ru, approved-2

#13328 🌐 Update Portuguese Translation for `docs/pt/docs/index.md`
  docs/pt/docs/index.md
Labels: lang-all, lang-pt, approved-1

#13317 🌐 Update Portuguese Translation for `docs/pt/docs/deployment/https.md`
  docs/pt/docs/deployment/https.md
Labels: lang-all, lang-pt, approved-2

#13308 🌐 Add Ukrainian translation for `docs/uk/docs/features.md`
  docs/uk/docs/features.md
Labels: lang-all, approved-2, lang-uk

#13294 🌐 Add Vietnamese translation for `docs/vi/docs/fastapi-cli.md`
  docs/vi/docs/fastapi-cli.md
Labels: lang-all, approved-2, lang-vi

#13293 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13302 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#13303 👥 Update FastAPI People - Experts
  docs/en/data/people.yml
Labels: internal

#13295 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13287 🌐 Add Vietnamese translation for `docs/vi/docs/environment-variables.md`
  docs/vi/docs/environment-variables.md
Labels: lang-all, approved-2, lang-vi

#13285 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/static-files.md`
  docs/uk/docs/tutorial/static-files.md
Labels: lang-all, approved-2, lang-uk

#13282 🌐 Add Vietnamese translation for `docs/vi/docs/virtual-environments.md`
  docs/vi/docs/virtual-environments.md
Labels: lang-all, approved-2, lang-vi

#13257 🌐 Add Korean translation for `docs/ko/docs/tutorial/dependencies/dependencies-with-yield.md`
  docs/ko/docs/tutorial/dependencies/dependencies-with-yield.md
Labels: lang-all, approved-2, lang-ko

#13313 📝 Fix test badge
  README.md
  docs/en/docs/index.md
Labels: docs

#11291 🌐 Add Vietnamese translation for `docs/vi/docs/tutorial/static-files.md`
  docs/vi/docs/tutorial/static-files.md
Labels: lang-all, approved-2, lang-vi

#13327 🌐 Add Russian translation for `docs/ru/docs/advanced/response-cookies.md`
  docs/ru/docs/advanced/response-cookies.md
Labels: lang-all, lang-ru, approved-2

#13335 🌐 Update Korean translation for `docs/ko/docs/tutorial/security/simple-oauth2.md`
  docs/ko/docs/tutorial/security/simple-oauth2.md
Labels: lang-all, approved-2, lang-ko

#13265 🌐 Add Korean translation for `docs/ko/docs/advanced/custom-response.md`
  docs/ko/docs/advanced/custom-response.md
Labels: lang-all, approved-2, lang-ko

#13262 🌐 Update Korean translation for `docs/ko/docs/help-fastapi.md`
  docs/ko/docs/help-fastapi.md
Labels: lang-all, lang-ko, approved-1

#13345 ✏️ Remove duplicate title in docs `body-multiple-params`
  docs/en/docs/tutorial/body-multiple-params.md
Labels: docs

#13223 ✅ Simplify tests for `dependency_testing`
  tests/test_tutorial/test_testing_dependencies/test_tutorial001.py
  tests/test_tutorial/test_testing_dependencies/test_tutorial001_an.py
  tests/test_tutorial/test_testing_dependencies/test_tutorial001_an_py310.py
  tests/test_tutorial/test_testing_dependencies/test_tutorial001_an_py39.py
  tests/test_tutorial/test_testing_dependencies/test_tutorial001_py310.py
Labels: refactor

#13220 ✅ Simplify tests for `app_testing`
  tests/test_tutorial/test_testing/test_main_b.py
  tests/test_tutorial/test_testing/test_main_b_an.py
  tests/test_tutorial/test_testing/test_main_b_an_py310.py
  tests/test_tutorial/test_testing/test_main_b_an_py39.py
  tests/test_tutorial/test_testing/test_main_b_py310.py
Labels: refactor

#13377 📝 Update docs for Query Params and String Validations, remove obsolete Ellipsis docs (`...`)
  docs/de/docs/tutorial/query-params-str-validations.md
  docs/em/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/es/docs/tutorial/query-params-str-validations.md
  docs/ru/docs/tutorial/query-params-str-validations.md
  docs/zh/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial006b.py
  docs_src/query_params_str_validations/tutorial006b_an.py
  docs_src/query_params_str_validations/tutorial006b_an_py39.py
  docs_src/query_params_str_validations/tutorial006c.py
  docs_src/query_params_str_validations/tutorial006c_an.py
  docs_src/query_params_str_validations/tutorial006c_an_py310.py
  docs_src/query_params_str_validations/tutorial006c_an_py39.py
  docs_src/query_params_str_validations/tutorial006c_py310.py
  docs_src/query_params_str_validations/tutorial006d.py
  docs_src/query_params_str_validations/tutorial006d_an.py
  docs_src/query_params_str_validations/tutorial006d_an_py39.py
Labels: docs

#13378 🔥 Remove manual type annotations in JWT tutorial to avoid typing expectations (JWT doesn't provide more types)
  docs_src/security/tutorial004.py
  docs_src/security/tutorial004_an.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005_an.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
Labels: docs

#13218 ✅ Simplify tests for `query_params_str_validations`
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial010_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial011_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial012.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial012_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial012_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial012_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial013.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial013_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial013_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial014.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial014_an.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial014_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial014_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial014_py310.py
Labels: refactor

#13347 📝 Add more precise description of HTTP status code range in docs
  docs/en/docs/tutorial/response-status-code.md
Labels: docs

#13389 🔧 Update sponsors: Add LambdaTest
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/lambdatest.png
Labels: internal

#13289 🐛 Fix issue with Swagger theme change example in the official tutorial
  docs_src/configure_swagger_ui/tutorial002.py
  tests/test_tutorial/test_configure_swagger_ui/test_tutorial002.py
Labels: docs

#13390 🔧 Update team: Add Ludovico
  docs/en/data/members.yml
Labels: internal

#13386 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/request-forms-and-files.md`
  docs/uk/docs/tutorial/request-forms-and-files.md
Labels: lang-all, approved-2, lang-uk

#13384 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/request-form-models.md`
  docs/uk/docs/tutorial/request-form-models.md
Labels: lang-all, approved-2, lang-uk

#13402 🔧 Update sponsors: add CodeRabbit
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/coderabbit-banner.png
  docs/en/docs/img/sponsors/coderabbit.png
  docs/en/overrides/main.html
Labels: internal

#13329 🩺 Unify the badges across all tutorial translations
  docs/az/docs/index.md
  docs/bn/docs/index.md
  docs/de/docs/index.md
  docs/em/docs/index.md
  docs/es/docs/index.md
  docs/fa/docs/index.md
  docs/fr/docs/index.md
  docs/he/docs/index.md
  docs/hu/docs/index.md
  docs/id/docs/index.md
  docs/it/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/nl/docs/index.md
  docs/pl/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/vi/docs/index.md
  docs/yo/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
Labels: docs

#13395 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/request-files.md`
  docs/uk/docs/tutorial/request-files.md
Labels: lang-all, approved-2, lang-uk

#13381 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/header-params.md`
  docs/uk/docs/tutorial/header-params.md
Labels: lang-all, approved-2, lang-uk

#2939 🐛 Ensure that `HTTPDigest` only raises an exception when `auto_error is True`
  fastapi/security/http.py
  tests/test_security_http_digest_optional.py
Labels: bug, p2

#13424 🍱 Update sponsors: CodeRabbit logo
  docs/en/docs/img/sponsors/coderabbit.png
Labels: docs

#13411 ✅ Fix a minor bug in the test `tests/test_modules_same_name_body/test_main.py`
  tests/test_modules_same_name_body/test_main.py
Labels: internal

#13426 ⬆️ Bump Starlette to allow up to 0.46.0: `>=0.40.0,<0.47.0`
  pyproject.toml
Labels: dependencies, upgrade

#13371 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/testing.md`
  docs/uk/docs/tutorial/testing.md
Labels: lang-all, approved-2, lang-uk

#13383 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/request-forms.md`
  docs/uk/docs/tutorial/request-forms.md
Labels: lang-all, approved-2, lang-uk

#13405 🌐 Add Vietnamese translation for `docs/vi/docs/deployment/index.md`
  docs/vi/docs/deployment/index.md
Labels: lang-all, approved-2, lang-vi

#13406 🌐 Add Vietnamese translation for `docs/vi/docs/deployment/versions.md`
  docs/vi/docs/deployment/versions.md
Labels: lang-all, approved-2, lang-vi

#13409 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/body-nested-models.md`
  docs/uk/docs/tutorial/body-nested-models.md
Labels: lang-all, approved-2, lang-uk

#13323 🌐 Add Japanese translation for `docs/ja/docs/tutorial/query-param-models.md`
  docs/ja/docs/tutorial/query-param-models.md
Labels: lang-all, lang-ja, approved-2

#13408 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/body-multiple-params.md`
  docs/uk/docs/tutorial/body-multiple-params.md
Labels: lang-all, approved-2, lang-uk

#13330 🌐 Add Japanese translation for `docs/ja/docs/tutorial/cookie-param-models.md`
  docs/ja/docs/tutorial/cookie-param-models.md
Labels: lang-all, lang-ja, approved-2

#13354 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/path-params.md`
  docs/uk/docs/tutorial/path-params.md
Labels: lang-all, approved-2, lang-uk

#13362 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/query-params.md`
  docs/uk/docs/tutorial/query-params.md
Labels: lang-all, approved-2, lang-uk

#13370 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/debugging.md`
  docs/uk/docs/tutorial/debugging.md
Labels: lang-all, approved-2, lang-uk

#13314 ♻️ Update internal annotation usage for compatibilty with Pydantic 2.11
  fastapi/dependencies/utils.py
  tests/test_analyze_param.py
Labels: bug

#13412 🌐 Add Russian translation for `docs/ru/docs/tutorial/middleware.md`
  docs/ru/docs/tutorial/middleware.md
Labels: lang-all, lang-ru, approved-2
