Repository fastapi/fastapi, pull requests merged in 2025-06, with the labels that each got.

#13749 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13750 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13754 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#13629 🌐 Add Bengali translation for `docs/bn/docs/environment-variables.md`
  docs/bn/docs/environment-variables.md
Labels: lang-all, approved-2, lang-bn

#13773 🍱 Update sponsors: Dribia badge size
  docs/en/docs/img/sponsors/dribia.png
Labels: internal

#13774 ✏️ Remove redundant words in docs/zh/docs/python-types.md
  docs/zh/docs/python-types.md
Labels: lang-all, lang-zh, approved-1

#13769 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/schema-extra-example.md`
  docs/uk/docs/tutorial/schema-extra-example.md
Labels: lang-all, lang-uk, approved-1

#13783 🔧 Update sponsors: remove Porter
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#4543 🌐 Add Korean translation for `docs/ko/docs/advanced/sub-applications.md`
  docs/ko/docs/advanced/sub-applications.md
Labels: lang-all, lang-ko, approved-1

#13518 🌐 Add Persian translation for `docs/fa/docs/learn/index.md`
  docs/fa/docs/learn/index.md
Labels: lang-all, lang-fa, approved-1

#13791 🌐 Add Russian Translation for `docs/ru/docs/advanced/response-change-status-code.md`
  docs/ru/docs/advanced/response-change-status-code.md
Labels: lang-all, lang-ru, awaiting-review

#13698 🐛 Fix truncating the model's description with form feed (`\f`) character for Pydantic V2
  fastapi/_compat.py
  tests/test_openapi_model_description_trim_on_formfeed.py
Labels: bug

#13532 ✏️ Fix typo in docstring
  fastapi/applications.py
Labels: docs

#13505 ✅ Simplify tests for `settings`
  tests/test_tutorial/test_settings/test_tutorial001.py
  tests/test_tutorial/test_settings/test_tutorial001_pv1.py
Labels: refactor

#9829 📝 Clarify in CORS docs that wildcards and credentials are mutually exclusive
  docs/en/docs/tutorial/cors.md
Labels: docs, p3

#11032 🚸 Set format to password for fields `password` and `client_secret` in `OAuth2PasswordRequestForm`, make docs show password fields for passwords
  fastapi/security/oauth2.py
  tests/test_tutorial/test_security/test_tutorial003.py
  tests/test_tutorial/test_security/test_tutorial005.py
Labels: refactor, p4

#11530 📝 Add annotations to HTTP middleware example
  fastapi/applications.py
Labels: docs

#13797 🌐 Add Russian translation for `docs/ru/docs/advanced/index.md`
  docs/ru/docs/advanced/index.md
Labels: lang-all, lang-ru, awaiting-review

#13800 Misprint
  docs/en/docs/advanced/response-directly.md
Labels: docs

#13802 ✏️ Fix typo in `docs/ja/docs/tutorial/body-fields.md`
  docs/ja/docs/tutorial/body-fields.md
Labels: lang-all, lang-ja, approved-1

#13814 ✏️ Fix typo in `docs/ja/docs/tutorial/handling-errors.md`
  docs/ja/docs/tutorial/handling-errors.md
Labels: lang-all, lang-ja, approved-1

#13805 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/security/index.md`
  docs/uk/docs/tutorial/security/index.md
Labels: lang-all, lang-uk, approved-1

#13792 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/response-model.md`
  docs/uk/docs/tutorial/response-model.md
Labels: lang-all, lang-uk, approved-1

#13827 🐛 Fix support for unions when using `Form`
  fastapi/dependencies/utils.py
  tests/test_union_forms.py
Labels: bug

#13804 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/body-updates.md`
  docs/uk/docs/tutorial/body-updates.md
Labels: lang-all, lang-uk, approved-1
