Repository fastapi/fastapi, pull requests merged in 2025-01, with the labels that each got.

#13136 👷 Add new GitHub Action to update contributors, translators, and translation reviewers
  .github/workflows/contributors.yml
  docs/en/data/contributors.yml
  docs/en/data/skip_users.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
  docs/en/docs/fastapi-people.md
  docs/en/mkdocs.yml
  requirements-github-actions.txt
  scripts/contributors.py
Labels: docs

#13145 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13135 👷‍♀️ Add script for GitHub Topic Repositories and update External Links
  .github/workflows/topic-repos.yml
  docs/en/data/topic_repos.yml
  docs/en/docs/external-links.md
  docs/en/docs/js/custom.js
  docs/en/mkdocs.yml
  scripts/topic_repos.py
Labels: internal

#13149 ✅ Simplify tests for additional_status_codes
  tests/test_tutorial/test_additional_status_codes/test_tutorial001.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an_py310.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an_py39.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_py310.py
Labels: refactor

#13102 🌐 Update Chinese translation for `docs/zh/docs/fastapi-cli.md`
  docs/zh/docs/fastapi-cli.md
Labels: lang-all, lang-zh, approved-1

#13107 📝 Update `fastapi-cli` UI examples in docs
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
Labels: docs

#11063 📝 Update image in body-nested-model docs
  docs/en/docs/img/tutorial/body-nested-models/image01.png
Labels: docs, p4

#13147 🔧 Update Speakeasy sponsor graphic
  docs/en/docs/img/sponsors/speakeasy.png
Labels: internal

#13151 👷 Add retries to Smokeshow
  .github/workflows/smokeshow.yml
Labels: internal

#12238 ✏️ Delete unnecessary backspace in `docs/ja/docs/tutorial/path-params-numeric-validations.md`
  docs/ja/docs/tutorial/path-params-numeric-validations.md
Labels: lang-all, lang-ja, approved-1

#13158 🔥 Remove unused Peewee tutorial files
  docs_src/sql_databases_peewee/sql_app/__init__.py
  docs_src/sql_databases_peewee/sql_app/crud.py
  docs_src/sql_databases_peewee/sql_app/database.py
  docs_src/sql_databases_peewee/sql_app/main.py
  docs_src/sql_databases_peewee/sql_app/models.py
  docs_src/sql_databases_peewee/sql_app/schemas.py
Labels: docs

#13155 ✏️ Update Strawberry integration docs
  docs/en/docs/how-to/graphql.md
  docs_src/graphql/tutorial001.py
Labels: docs

#13159 🌐 Update Russian translation for `docs/ru/docs/tutorial/security/first-steps.md`
  docs/ru/docs/tutorial/security/first-steps.md
Labels: lang-all, lang-ru, approved-1

#13166 ✅ Simplify tests for background_tasks
  tests/test_tutorial/test_background_tasks/test_tutorial002.py
  tests/test_tutorial/test_background_tasks/test_tutorial002_an.py
  tests/test_tutorial/test_background_tasks/test_tutorial002_an_py310.py
  tests/test_tutorial/test_background_tasks/test_tutorial002_an_py39.py
  tests/test_tutorial/test_background_tasks/test_tutorial002_py310.py
Labels: refactor

#13167 ✅ Simplify tests for bigger_applications
  tests/test_tutorial/test_bigger_applications/test_main.py
  tests/test_tutorial/test_bigger_applications/test_main_an.py
  tests/test_tutorial/test_bigger_applications/test_main_an_py39.py
Labels: refactor

#13169 ✅ Simplify tests for body_fields
  tests/test_tutorial/test_body_fields/test_tutorial001.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an_py310.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an_py39.py
  tests/test_tutorial/test_body_fields/test_tutorial001_py310.py
Labels: refactor

#13156 🌐 Update Portuguese translations
  docs/pt/docs/deployment/manually.md
  docs/pt/docs/deployment/server-workers.md
  docs/pt/docs/tutorial/first-steps.md
  docs/pt/docs/tutorial/index.md
Labels: lang-all, lang-pt, approved-2

#13187 🌐 Remove Wrong Portuguese translations location for `docs/pt/docs/advanced/benchmarks.md`
  docs/pt/docs/advanced/benchmarks.md
Labels: lang-all, lang-pt, approved-1

#13092 🌐 Add Indonesian translation for `docs/id/docs/tutorial/static-files.md`
  docs/id/docs/tutorial/static-files.md
Labels: lang-all, lang-id, approved-1

#13191 🌐 Add Indonesian translation for `docs/id/docs/index.md`
  docs/id/docs/index.md
Labels: lang-all, approved-2, lang-id

#13205 🌐 Add Portuguese translation for `docs/pt/docs/tutorial/security/oauth2-jwt.md`
  docs/pt/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, lang-pt, approved-2

#13209 🌐 Update Portuguese translation for `docs/pt/docs/advanced/settings.md`
  docs/pt/docs/advanced/settings.md
Labels: lang-all, lang-pt, approved-1

#13221 👷 Add independent CI automation for FastAPI People - Sponsors
  .github/workflows/sponsors.yml
  scripts/sponsors.py
Labels: internal

#13225 👷 Update token for FastAPI People - Sponsors
  .github/workflows/sponsors.yml
Labels: internal

#13228 👷 Refactor FastAPI People Sponsors to use 2 tokens
  .github/workflows/sponsors.yml
  scripts/sponsors.py
Labels: internal

#13231 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13170 ✅ Simplify tests for body_multiple_params
  tests/test_tutorial/test_body_multiple_params/test_tutorial001.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial001_an.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial001_an_py310.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial001_an_py39.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial001_py310.py
Labels: refactor

#13171 ✅ Simplify tests for body_nested_models
  tests/test_tutorial/test_body_nested_models/test_tutorial009.py
  tests/test_tutorial/test_body_nested_models/test_tutorial009_py39.py
Labels: refactor

#13174 ✅ Simplify tests for dependencies
  tests/test_tutorial/test_dependencies/test_tutorial001.py
  tests/test_tutorial/test_dependencies/test_tutorial001_an.py
  tests/test_tutorial/test_dependencies/test_tutorial001_an_py310.py
  tests/test_tutorial/test_dependencies/test_tutorial001_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial001_py310.py
  tests/test_tutorial/test_dependencies/test_tutorial004.py
  tests/test_tutorial/test_dependencies/test_tutorial004_an.py
  tests/test_tutorial/test_dependencies/test_tutorial004_an_py310.py
  tests/test_tutorial/test_dependencies/test_tutorial004_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial004_py310.py
  tests/test_tutorial/test_dependencies/test_tutorial006.py
  tests/test_tutorial/test_dependencies/test_tutorial006_an.py
  tests/test_tutorial/test_dependencies/test_tutorial006_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008b.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008b_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008c.py
  tests/test_tutorial/test_dependencies/test_tutorial008c_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008c_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial008d.py
  tests/test_tutorial/test_dependencies/test_tutorial008d_an.py
  tests/test_tutorial/test_dependencies/test_tutorial008d_an_py39.py
  tests/test_tutorial/test_dependencies/test_tutorial012.py
  tests/test_tutorial/test_dependencies/test_tutorial012_an.py
  tests/test_tutorial/test_dependencies/test_tutorial012_an_py39.py
Labels: refactor

#13176 ✅ Simplify tests for cookie_params
  tests/test_tutorial/test_cookie_params/test_tutorial001.py
  tests/test_tutorial/test_cookie_params/test_tutorial001_an.py
  tests/test_tutorial/test_cookie_params/test_tutorial001_an_py310.py
  tests/test_tutorial/test_cookie_params/test_tutorial001_an_py39.py
  tests/test_tutorial/test_cookie_params/test_tutorial001_py310.py
Labels: refactor

#13177 ✅ Simplify tests for extra_data_types
  tests/test_tutorial/test_extra_data_types/test_tutorial001.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an_py310.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_an_py39.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001_py310.py
Labels: refactor

#13178 ✅ Simplify tests for extra_models
  tests/test_tutorial/test_extra_models/test_tutorial003.py
  tests/test_tutorial/test_extra_models/test_tutorial003_py310.py
  tests/test_tutorial/test_extra_models/test_tutorial004.py
  tests/test_tutorial/test_extra_models/test_tutorial004_py39.py
  tests/test_tutorial/test_extra_models/test_tutorial005.py
  tests/test_tutorial/test_extra_models/test_tutorial005_py39.py
Labels: refactor

#13179 ✅ Simplify tests for header_params
  tests/test_tutorial/test_header_params/test_tutorial001.py
  tests/test_tutorial/test_header_params/test_tutorial001_an.py
  tests/test_tutorial/test_header_params/test_tutorial001_an_py310.py
  tests/test_tutorial/test_header_params/test_tutorial001_py310.py
  tests/test_tutorial/test_header_params/test_tutorial002.py
  tests/test_tutorial/test_header_params/test_tutorial002_an.py
  tests/test_tutorial/test_header_params/test_tutorial002_an_py310.py
  tests/test_tutorial/test_header_params/test_tutorial002_an_py39.py
  tests/test_tutorial/test_header_params/test_tutorial002_py310.py
  tests/test_tutorial/test_header_params/test_tutorial003.py
  tests/test_tutorial/test_header_params/test_tutorial003_an.py
  tests/test_tutorial/test_header_params/test_tutorial003_an_py310.py
  tests/test_tutorial/test_header_params/test_tutorial003_an_py39.py
  tests/test_tutorial/test_header_params/test_tutorial003_py310.py
Labels: refactor

#13180 ✅ Simplify tests for path_operation_configurations
  tests/test_tutorial/test_path_operation_configurations/test_tutorial005.py
  tests/test_tutorial/test_path_operation_configurations/test_tutorial005_py310.py
  tests/test_tutorial/test_path_operation_configurations/test_tutorial005_py39.py
Labels: refactor

#13181 ✅ Simplify tests for path_query_params
  tests/test_tutorial/test_query_params/test_tutorial006.py
  tests/test_tutorial/test_query_params/test_tutorial006_py310.py
Labels: refactor

#13184 ✅ Simplify tests for request_forms
  tests/test_tutorial/test_request_forms/test_tutorial001.py
  tests/test_tutorial/test_request_forms/test_tutorial001_an.py
  tests/test_tutorial/test_request_forms/test_tutorial001_an_py39.py
Labels: refactor

#13185 ✅ Simplify tests for request_forms_and_files
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001_an.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001_an_py39.py
Labels: refactor

#13195 ✅ Simplify tests for request_model
  tests/test_tutorial/test_response_model/test_tutorial003_01.py
  tests/test_tutorial/test_response_model/test_tutorial003_01_py310.py
  tests/test_tutorial/test_response_model/test_tutorial003_05.py
  tests/test_tutorial/test_response_model/test_tutorial003_05_py310.py
  tests/test_tutorial/test_response_model/test_tutorial004.py
  tests/test_tutorial/test_response_model/test_tutorial004_py310.py
  tests/test_tutorial/test_response_model/test_tutorial004_py39.py
  tests/test_tutorial/test_response_model/test_tutorial005.py
  tests/test_tutorial/test_response_model/test_tutorial005_py310.py
  tests/test_tutorial/test_response_model/test_tutorial006.py
  tests/test_tutorial/test_response_model/test_tutorial006_py310.py
Labels: refactor

#13197 ✅ Simplify tests for schema_extra_example
  tests/test_tutorial/test_schema_extra_example/test_tutorial001.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial001_pv1.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial001_pv1_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial001_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial004.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial004_an.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial004_an_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial004_an_py39.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial004_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial005.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial005_an.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial005_an_py310.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial005_an_py39.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial005_py310.py
Labels: refactor

#13200 ✅ Simplify tests for security
  tests/test_tutorial/test_security/test_tutorial001.py
  tests/test_tutorial/test_security/test_tutorial001_an.py
  tests/test_tutorial/test_security/test_tutorial001_an_py39.py
  tests/test_tutorial/test_security/test_tutorial003.py
  tests/test_tutorial/test_security/test_tutorial003_an.py
  tests/test_tutorial/test_security/test_tutorial003_an_py310.py
  tests/test_tutorial/test_security/test_tutorial003_an_py39.py
  tests/test_tutorial/test_security/test_tutorial003_py310.py
  tests/test_tutorial/test_security/test_tutorial005.py
  tests/test_tutorial/test_security/test_tutorial005_an.py
  tests/test_tutorial/test_security/test_tutorial005_an_py310.py
  tests/test_tutorial/test_security/test_tutorial005_an_py39.py
  tests/test_tutorial/test_security/test_tutorial005_py310.py
  tests/test_tutorial/test_security/test_tutorial005_py39.py
  tests/test_tutorial/test_security/test_tutorial006.py
  tests/test_tutorial/test_security/test_tutorial006_an.py
  tests/test_tutorial/test_security/test_tutorial006_an_py39.py
Labels: refactor

#13201 ✅ Simplify tests for separate_openapi_schemas
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial001.py
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial001_py310.py
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial001_py39.py
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial002.py
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial002_py310.py
  tests/test_tutorial/test_separate_openapi_schemas/test_tutorial002_py39.py
Labels: refactor

#13183 ✅ Simplify tests for request_form_models
  tests/test_tutorial/test_request_form_models/test_tutorial001.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial001_an_py39.py
  tests/test_tutorial/test_request_form_models/test_tutorial002.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_an_py39.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1_an.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1_an_p39.py
Labels: refactor

#13202 ✅ Simplify tests for websockets
  tests/test_tutorial/test_websockets/test_tutorial002.py
  tests/test_tutorial/test_websockets/test_tutorial002_an.py
  tests/test_tutorial/test_websockets/test_tutorial002_an_py310.py
  tests/test_tutorial/test_websockets/test_tutorial002_an_py39.py
  tests/test_tutorial/test_websockets/test_tutorial002_py310.py
Labels: refactor

#13216 🌐 Update Portuguese Translation for `docs/pt/docs/tutorial/request-forms.md`
  docs/pt/docs/tutorial/request-forms.md
Labels: lang-all, lang-pt, approved-1

#13194 ⬆️ Upgrade `jinja2` to >=3.1.5
  pyproject.toml
Labels: upgrade

#13117 ⬆️ Bump Starlette to allow up to 0.45.0: `>=0.40.0,<0.46.0`
  pyproject.toml
Labels: upgrade

#13199 🔧 Add Pydantic 2 trove classifier
  pyproject.toml
Labels: internal

#13154 🌐 Add Russian translation for `docs/ru/docs/tutorial/bigger-applications.md`
  docs/ru/docs/tutorial/bigger-applications.md
Labels: lang-all, lang-ru, approved-2

#13227 🌐 Add Russian translation for `docs/ru/docs/advanced/async-tests.md`
  docs/ru/docs/advanced/async-tests.md
Labels: lang-all, lang-ru, approved-2

#13226 🌐 Add Japanese translation for `docs/ja/docs/environment-variables.md`
  docs/ja/docs/environment-variables.md
Labels: lang-all, lang-ja, approved-1

#13267 🔨 Update FastAPI People Experts script, refactor and optimize data fetching to handle rate limits
  .github/actions/people/Dockerfile
  .github/actions/people/action.yml
  .github/actions/people/app/main.py
  .github/workflows/people.yml
  docs/en/docs/fastapi-people.md
  scripts/people.py
Labels: internal

#13269 👥 Update FastAPI People - Experts
  docs/en/data/people.yml
Labels: docs

#13270 ♻️ Refactor and move `scripts/notify_translations.py`, no need for a custom GitHub Action
  .github/actions/notify-translations/Dockerfile
  .github/actions/notify-translations/action.yml
  .github/workflows/notify-translations.yml
  scripts/notify_translations.py
Labels: internal

#13272 ♻️ Fix `notify_translations.py` empty env var handling for PR label events vs workflow_dispatch
  scripts/notify_translations.py
Labels: internal

#13271 🔧 Update Sponsors badges
  docs/en/data/sponsors_badge.yml
Labels: internal

#13273 ⬆️ Upgrade AnyIO max version for tests, new range: `>=3.2.1,<5.0.0`
  .github/workflows/test.yml
  requirements-tests.txt
Labels: internal

#13274 ⬆️ Add support for Python 3.13
  .github/workflows/test.yml
  pyproject.toml
Labels: internal

#13182 ✅ Simplify tests for request_files
  tests/test_tutorial/test_body_multiple_params/test_tutorial003.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial003_an.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial003_an_py310.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial003_an_py39.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial003_py310.py
  tests/test_tutorial/test_request_files/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001_02.py
  tests/test_tutorial/test_request_files/test_tutorial001_02_an.py
  tests/test_tutorial/test_request_files/test_tutorial001_02_an_py310.py
  tests/test_tutorial/test_request_files/test_tutorial001_02_an_py39.py
  tests/test_tutorial/test_request_files/test_tutorial001_02_py310.py
  tests/test_tutorial/test_request_files/test_tutorial001_03.py
  tests/test_tutorial/test_request_files/test_tutorial001_03_an.py
  tests/test_tutorial/test_request_files/test_tutorial001_03_an_py39.py
  tests/test_tutorial/test_request_files/test_tutorial001_an.py
  tests/test_tutorial/test_request_files/test_tutorial001_an_py39.py
  tests/test_tutorial/test_request_files/test_tutorial002.py
  tests/test_tutorial/test_request_files/test_tutorial002_an.py
  tests/test_tutorial/test_request_files/test_tutorial002_an_py39.py
  tests/test_tutorial/test_request_files/test_tutorial002_py39.py
  tests/test_tutorial/test_request_files/test_tutorial003.py
  tests/test_tutorial/test_request_files/test_tutorial003_an.py
  tests/test_tutorial/test_request_files/test_tutorial003_an_py39.py
  tests/test_tutorial/test_request_files/test_tutorial003_py39.py
Labels: refactor

#9783 🐛 Fix `OAuth2PasswordRequestForm` and `OAuth2PasswordRequestFormStrict` fixed `grant_type` "password" RegEx
  fastapi/security/oauth2.py
  tests/test_security_oauth2.py
  tests/test_security_oauth2_optional.py
  tests/test_security_oauth2_optional_description.py
  tests/test_tutorial/test_security/test_tutorial003.py
  tests/test_tutorial/test_security/test_tutorial005.py
Labels: bug, p2

#3142 ♻️ Move duplicated code portion to a static method in the `APIKeyBase` super class
  fastapi/security/api_key.py
Labels: refactor

#13230 📝 Update Request Body's `tutorial002` to deal with `tax=0` case
  docs_src/body/tutorial002.py
  docs_src/body/tutorial002_py310.py
Labels: docs

#13061 📝 Change the word "unwrap" to "unpack" in `docs/en/docs/tutorial/extra-models.md`
  docs/en/docs/tutorial/extra-models.md
Labels: docs

#13288 🔧 Update sponsors, add Permit
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/permit.png
Labels: internal
