Repository fastapi/fastapi, pull requests merged in 2025-07, with the labels that each got.

#13845 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13799 🌐 Add Russian translation for `docs/ru/docs/advanced/additional-status-codes.md`
  docs/ru/docs/advanced/additional-status-codes.md
Labels: lang-all, lang-ru, approved-1

#13870 ✨ Add support for deploying to FastAPI Cloud with `fastapi deploy`
  README.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/index.md
  pyproject.toml
Labels: feature

#13886 📝 Add notification about impending changes in Translations to `docs/en/docs/contributing.md`
  docs/en/docs/contributing.md
Labels: docs

#13884 ⬆️ Upgrade Starlette supported version range to `>=0.40.0,<0.48.0`
  fastapi/routing.py
  pyproject.toml
Labels: upgrade

#13888 🔨 Update FastAPI People sleep interval, use external settings
  .github/workflows/people.yml
  scripts/people.py
Labels: internal

#13927 📝 Fix highlight line in `docs/ja/docs/tutorial/body.md`
  docs/ja/docs/tutorial/body.md
Labels: lang-all, lang-ja

#13114 ⬆ Update httpx requirement to >=0.23.0,<0.29.0
  requirements-docs-tests.txt
  requirements-github-actions.txt
  tests/test_tutorial/test_custom_request_and_route/test_tutorial002.py
Labels: internal

#13863 🌐 Update Portuguese Translation for `docs/pt/docs/async.md`
  docs/pt/docs/async.md
Labels: lang-all, lang-pt, approved-1

#13928 🔨 Update translations script to remove old (removed) files
  docs/es/llm-prompt.md
  scripts/translate.py
Labels: internal

#13932 🔨 Refactor translate script with extra feedback (prints)
  scripts/translate.py
Labels: internal

#13933 ⚒️ Update translate script, show and update outdated translations
  requirements-translations.txt
  scripts/translate.py
Labels: internal

#13937 👷 Add CI to translate with LLMs
  .github/workflows/translate.yml
  scripts/translate.py
Labels: internal

#13939 ⚒️ Tweak translate script and CI
  .github/workflows/translate.yml
  scripts/translate.py
Labels: internal

#13953 🔧 Update sponsors: Add Railway
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/deployment/cloud.md
  docs/en/docs/img/sponsors/railway-banner.png
  docs/en/docs/img/sponsors/railway.png
  docs/en/overrides/main.html
Labels: internal

#13954 🔧 Update sponsors: Databento link and sponsors_badge data
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
Labels: internal
