Repository fastapi/fastapi, pull requests merged in 2025-05, with the labels that each got.

#13662 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13664 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13668 🔧 Update sponsors: remove Bump.sh and Coherence
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/deployment/cloud.md
  docs/en/overrides/main.html
Labels: internal

#13669 🔧 Update links for LinkedIn and bottom
  docs/en/mkdocs.yml
  docs/en/overrides/main.html
Labels: internal

#13667 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#13670 📝 Update docs for "Help FastAPI", simplify and reduce "sponsor" section
  docs/en/docs/help-fastapi.md
Labels: docs

#13645 🔧 Update Sponsors: Zuplo logo and alt text
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/zuplo.png
Labels: internal

#13701 🔧 Update sponsors: add Subtotal
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/subtotal-banner.svg
  docs/en/docs/img/sponsors/subtotal.svg
  docs/en/overrides/main.html
Labels: internal

#13706 🍱 Update Drawio diagrams SVGs, single file per diagram, sans-serif font
  docs/de/docs/deployment/concepts.md
  docs/de/docs/deployment/https.md
  docs/de/docs/tutorial/bigger-applications.md
  docs/em/docs/deployment/concepts.md
  docs/em/docs/deployment/https.md
  docs/em/docs/tutorial/bigger-applications.md
  docs/en/docs/deployment/concepts.md
  docs/en/docs/deployment/https.md
  docs/en/docs/img/deployment/concepts/process-ram.drawio
  docs/en/docs/img/deployment/concepts/process-ram.drawio.svg
  docs/en/docs/img/deployment/concepts/process-ram.svg
  docs/en/docs/img/deployment/https/https.drawio
  docs/en/docs/img/deployment/https/https.drawio.svg
  docs/en/docs/img/deployment/https/https.svg
  docs/en/docs/img/deployment/https/https01.drawio
  docs/en/docs/img/deployment/https/https01.drawio.svg
  docs/en/docs/img/deployment/https/https01.svg
  docs/en/docs/img/deployment/https/https02.drawio
  docs/en/docs/img/deployment/https/https02.drawio.svg
  docs/en/docs/img/deployment/https/https02.svg
  docs/en/docs/img/deployment/https/https03.drawio
  docs/en/docs/img/deployment/https/https03.drawio.svg
  docs/en/docs/img/deployment/https/https03.svg
  docs/en/docs/img/deployment/https/https04.drawio
  docs/en/docs/img/deployment/https/https04.drawio.svg
  docs/en/docs/img/deployment/https/https04.svg
  docs/en/docs/img/deployment/https/https05.drawio
  docs/en/docs/img/deployment/https/https05.drawio.svg
  docs/en/docs/img/deployment/https/https05.svg
  docs/en/docs/img/deployment/https/https06.drawio
  docs/en/docs/img/deployment/https/https06.drawio.svg
  docs/en/docs/img/deployment/https/https06.svg
  docs/en/docs/img/deployment/https/https07.drawio
  docs/en/docs/img/deployment/https/https07.drawio.svg
  docs/en/docs/img/deployment/https/https07.svg
  docs/en/docs/img/deployment/https/https08.drawio
  docs/en/docs/img/deployment/https/https08.drawio.svg
  docs/en/docs/img/deployment/https/https08.svg
  docs/en/docs/img/tutorial/bigger-applications/package.drawio
  docs/en/docs/img/tutorial/bigger-applications/package.drawio.svg
  docs/en/docs/img/tutorial/bigger-applications/package.svg
  docs/en/docs/tutorial/bigger-applications.md
  docs/es/docs/deployment/concepts.md
  docs/es/docs/deployment/https.md
  docs/es/docs/tutorial/bigger-applications.md
  docs/ja/docs/deployment/concepts.md
  docs/ja/docs/deployment/https.md
  docs/pt/docs/deployment/concepts.md
  docs/pt/docs/deployment/https.md
  docs/pt/docs/tutorial/bigger-applications.md
  docs/ru/docs/deployment/concepts.md
  docs/ru/docs/deployment/https.md
  docs/ru/docs/tutorial/bigger-applications.md
  docs/zh/docs/deployment/concepts.md
  docs/zh/docs/deployment/https.md
  docs/zh/docs/tutorial/bigger-applications.md
Labels: docs

#13725 🔧 Update sponsors: remove MongoDB
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Labels: internal

#13727 🔧 Remove Google Analytics
  docs/en/mkdocs.yml
Labels: internal

#13737 📝 Fix internal anchor link in Spanish deployment docs
  docs/es/docs/deployment/docker.md
Labels: lang-all

#13487 🌐 Update Korean translation for `docs/ko/docs/advanced/events.md`
  docs/ko/docs/advanced/events.md
Labels: lang-all, approved-2, lang-ko

#13519 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/cors.md` page
  docs/uk/docs/tutorial/cors.md
Labels: lang-all, approved-2, lang-uk

#13520 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/middleware.md` page
  docs/uk/docs/tutorial/middleware.md
Labels: lang-all, approved-2, lang-uk

#13548 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/path-params-numeric-validations.md` page
  docs/uk/docs/tutorial/path-params-numeric-validations.md
Labels: lang-all, approved-2, lang-uk

#13063 🌐 Add Korean translation for `docs/ko/docs/tutorial/extra-models.md`
  docs/ko/docs/tutorial/extra-models.md
Labels: lang-all, lang-ko, approved-1

#13546 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/query-params-str-validations.md` page
  docs/uk/docs/tutorial/query-params-str-validations.md
Labels: lang-all, approved-2, lang-uk
