Repository fastapi/fastapi, pull requests merged in 2025-09, with the labels that each got.

#14034 👥 Update FastAPI People - Experts
  docs/en/data/people.yml
Labels: internal

#14031 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#14030 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#14029 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#14077 ⬆️ Upgrade Starlette supported version range to >=0.40.0,<0.49.0
  docs_src/handling_errors/tutorial005.py
  fastapi/exception_handlers.py
  fastapi/openapi/utils.py
  pyproject.toml
  tests/test_enforce_once_required_parameter.py
Labels: upgrade

#14055 🛠️ Update `docs.py generate-readme` command to remove permalinks from headers
  README.md
  scripts/docs.py
Labels: internal

#12970 ⬆️ Update mypy to 1.14.1
  fastapi/encoders.py
  fastapi/routing.py
  requirements-tests.txt
Labels: dependencies, upgrade

#13968 🔨 Update translations script
  scripts/translate.py
Labels: internal

#14049 ✅ Add LLM test file
  docs/de/docs/_llm-test.md
  docs/en/docs/_llm-test.md
Labels: internal

#14062 ✅ Simplify tests for response_model
  tests/test_tutorial/test_response_model/test_tutorial003.py
  tests/test_tutorial/test_response_model/test_tutorial003_04.py
  tests/test_tutorial/test_response_model/test_tutorial003_04_py310.py
  tests/test_tutorial/test_response_model/test_tutorial003_py310.py
Labels: internal

#13864 ✅ Enable test case for duplicated headers in `test_tutorial/test_header_params/test_tutorial003.py`
  tests/test_tutorial/test_header_params/test_tutorial003.py
Labels: refactor

#13689 ♻️ Create `dependency-cache` dict in `solve_dependencies` only if `None` (don't re-create if empty)
  fastapi/dependencies/utils.py
Labels: refactor

#13510 📝 Add note about Cookies and JavaScript on `tutorial/cookie-params.md`
  docs/en/docs/tutorial/cookie-params.md
Labels: docs

#4972 🐛 Fix `jsonable_encoder` alters `json_encoders` of Pydantic v1 objects
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Labels: bug, p4

#9425 ✨ Allow `None` as return type for bodiless responses
  fastapi/dependencies/utils.py
  tests/test_return_none_stringified_annotations.py
Labels: feature

#11194 🐛 Fix validation error when `File` is declared after `Form` parameter
  fastapi/dependencies/utils.py
  tests/test_file_and_form_order_issue_9116.py
Labels: bug, p2

#14095 📝 Update contributing guidelines for installing requirements
  docs/en/docs/contributing.md
Labels: docs

#14096 🐛 Hide sponsor badge when sponsor image is not displayed
  docs/en/docs/css/custom.css
Labels: internal

#14112 ✏️ Fix typos in OAuth2 password request forms
  fastapi/security/oauth2.py
Labels: docs

#14130 🌐 Remove configuration files for inactive translations
  docs/az/docs/index.md
  docs/az/docs/learn/index.md
  docs/az/mkdocs.yml
  docs/bn/docs/about/index.md
  docs/bn/docs/environment-variables.md
  docs/bn/docs/index.md
  docs/bn/docs/learn/index.md
  docs/bn/docs/python-types.md
  docs/bn/mkdocs.yml
  docs/en/mkdocs.yml
  docs/he/docs/index.md
  docs/he/mkdocs.yml
  docs/hu/docs/index.md
  docs/hu/mkdocs.yml
  docs/id/docs/index.md
  docs/id/docs/tutorial/first-steps.md
  docs/id/docs/tutorial/index.md
  docs/id/docs/tutorial/path-params.md
  docs/id/docs/tutorial/static-files.md
  docs/id/mkdocs.yml
  docs/it/docs/index.md
  docs/it/mkdocs.yml
  docs/nl/docs/environment-variables.md
  docs/nl/docs/features.md
  docs/nl/docs/index.md
  docs/nl/docs/python-types.md
  docs/nl/mkdocs.yml
  docs/pl/docs/features.md
  docs/pl/docs/help-fastapi.md
  docs/pl/docs/index.md
  docs/pl/docs/tutorial/first-steps.md
  docs/pl/docs/tutorial/index.md
  docs/pl/mkdocs.yml
  docs/ur/docs/benchmarks.md
  docs/ur/mkdocs.yml
  docs/yo/docs/index.md
  docs/yo/mkdocs.yml
Labels: lang-all

#14135 🌐 Add Russian translations for missing pages (LLM-generated)
  docs/ru/docs/_llm-test.md
  docs/ru/docs/advanced/additional-responses.md
  docs/ru/docs/advanced/advanced-dependencies.md
  docs/ru/docs/advanced/behind-a-proxy.md
  docs/ru/docs/advanced/custom-response.md
  docs/ru/docs/advanced/dataclasses.md
  docs/ru/docs/advanced/events.md
  docs/ru/docs/advanced/generate-clients.md
  docs/ru/docs/advanced/middleware.md
  docs/ru/docs/advanced/openapi-callbacks.md
  docs/ru/docs/advanced/openapi-webhooks.md
  docs/ru/docs/advanced/path-operation-advanced-configuration.md
  docs/ru/docs/advanced/response-headers.md
  docs/ru/docs/advanced/security/http-basic-auth.md
  docs/ru/docs/advanced/security/index.md
  docs/ru/docs/advanced/security/oauth2-scopes.md
  docs/ru/docs/advanced/settings.md
  docs/ru/docs/advanced/sub-applications.md
  docs/ru/docs/advanced/templates.md
  docs/ru/docs/advanced/testing-dependencies.md
  docs/ru/docs/advanced/testing-events.md
  docs/ru/docs/advanced/testing-websockets.md
  docs/ru/docs/advanced/using-request-directly.md
  docs/ru/docs/advanced/wsgi.md
  docs/ru/docs/deployment/cloud.md
  docs/ru/docs/deployment/server-workers.md
  docs/ru/docs/how-to/conditional-openapi.md
  docs/ru/docs/how-to/configure-swagger-ui.md
  docs/ru/docs/how-to/custom-docs-ui-assets.md
  docs/ru/docs/how-to/custom-request-and-route.md
  docs/ru/docs/how-to/extending-openapi.md
  docs/ru/docs/how-to/general.md
  docs/ru/docs/how-to/graphql.md
  docs/ru/docs/how-to/index.md
  docs/ru/docs/how-to/separate-openapi-schemas.md
  docs/ru/docs/how-to/testing-database.md
  docs/ru/docs/resources/index.md
Labels: lang-all, lang-ru, awaiting-review
