Repository fastapi/fastapi, pull requests merged in 2025-04, with the labels that each got.

#13558 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13559 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13565 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#13568 👥 Update FastAPI People - Experts
  docs/en/data/people.yml
Labels: internal

#13599 📝 Fix typo in documentation
  docs/en/docs/deployment/concepts.md
Labels: docs

#13623 ✏️ Fix syntax error in `docs/en/docs/tutorial/handling-errors.md`
  docs/en/docs/tutorial/handling-errors.md
Labels: docs

#13641 📝 Remove unnecessary bullet from docs
  README.md
  docs/en/docs/index.md
Labels: docs

#12534 ✅ Use `inline-snapshot` to support different Pydantic versions in the test suite
  requirements-tests.txt
  tests/test_tutorial/test_cookie_param_models/test_tutorial002.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
  tests/utils.py
Labels: internal

#9700 ⬆️ Update ReDoc to version 2.x
  docs/de/docs/how-to/custom-docs-ui-assets.md
  docs/en/docs/how-to/custom-docs-ui-assets.md
  docs/es/docs/how-to/custom-docs-ui-assets.md
  docs/pt/docs/how-to/custom-docs-ui-assets.md
  docs_src/custom_docs_ui/tutorial001.py
  fastapi/openapi/docs.py
  tests/test_application.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial001.py
Labels: dependencies, upgrade
