Repository fastapi/fastapi, pull requests merged in 2025-10, with the labels that each got.

#14138 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#14139 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#14152 📝 Add External Link: Getting started with logging in FastAPI
  docs/en/data/external_links.yml
Labels: docs

#12942 🐛 Fix tagged discriminated union not recognized as body field
  fastapi/_compat.py
  tests/test_union_body_discriminator.py
Labels: bug
