Repository fastapi/fastapi, pull requests merged in 2025-03, with the labels that each got.

#13433 👥 Update FastAPI People - Sponsors
  docs/en/data/github_sponsors.yml
Labels: internal

#13432 👥 Update FastAPI People - Contributors and Translators
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Labels: internal

#13439 👥 Update FastAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#13442 🐛 Add docs examples and tests (support) for `Annotated` custom validations, like `AfterValidator`, revert #13440
  docs/en/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial015_an.py
  docs_src/query_params_str_validations/tutorial015_an_py310.py
  docs_src/query_params_str_validations/tutorial015_an_py39.py
  fastapi/dependencies/utils.py
  tests/test_analyze_param.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial015.py
Labels: bug

#13446 🔧 Update sponsors: pause TestDriven
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/index.md
Labels: internal

#13407 🌐 Add Vietnamese translation for `docs/vi/docs/deployment/cloud.md`
  docs/vi/docs/deployment/cloud.md
Labels: lang-all, approved-2, lang-vi

#13333 🌐 Add Korean translation for `docs/ko/docs/tutorial/security/oauth2-jwt.md`
  docs/ko/docs/tutorial/security/oauth2-jwt.md
Labels: lang-all, approved-2, lang-ko

#13493 👥 Update FastAPI People - Experts
  docs/en/data/people.yml
Labels: docs

#13304 🌐 Add Japanese translation for `docs/ja/docs/virtual-environments.md`
  docs/ja/docs/virtual-environments.md
Labels: lang-all, lang-ja, approved-1

#13461 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/header-param-models.md` page
  docs/uk/docs/tutorial/header-param-models.md
Labels: lang-all, approved-2, lang-uk

#13460 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/cookie-param-models.md` page
  docs/uk/docs/tutorial/cookie-param-models.md
Labels: lang-all, approved-2, lang-uk

#13462 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/response-status-code.md` page
  docs/uk/docs/tutorial/response-status-code.md
Labels: lang-all, approved-2, lang-uk

#13459 🌐 Add Ukrainian translation for `docs/uk/docs/tutorial/metadata.md` page
  docs/uk/docs/tutorial/metadata.md
Labels: lang-all, approved-2, lang-uk

#13527 📝 Add External Link: Taiwanese talk on FastAPI with observability
  docs/en/data/external_links.yml
Labels: docs

#13544 ✏️ Fix talk information typo
  docs/en/data/external_links.yml
Labels: docs

#13292 🌐 Update Chinese translation for `docs/zh/docs/deployment/server-workers.md`
  docs/zh/docs/deployment/server-workers.md
Labels: lang-all, lang-zh, approved-2

#13324 🌐 Update Chinese translation for `docs/zh/docs/deployment/manually.md`
  docs/zh/docs/deployment/manually.md
Labels: lang-all, lang-zh, approved-2

#13374 🌐 Update Chinese translation for `docs/zh/docs/tutorial/index.md`
  docs/zh/docs/tutorial/index.md
Labels: lang-all, lang-zh, approved-2

#13526 🌐 Add Russian translation for `docs/ru/docs/tutorial/header-param-models.md`
  docs/ru/docs/tutorial/header-param-models.md
Labels: lang-all, lang-ru, approved-2
